[2017-02-16 21:17] tomaszlakomygp commented on #534
@gaearon Fixing the title/icon for Windows/Linux is trivial, it's just a matter of adding the following in app.js:

[code]

The thing is that it doesn't work on MacOS, the only solution I was able to find requires using electron-packager, see here: http://stackoverflow.com/questions/31529772/how-to-set-app-icon-for-electron-atom-shell-app

[2017-02-16 22:16] gaearon commented on #534
Sure, separate PRs sound good.

[2017-02-16 22:45] tomaszlakomygp commented on #349
I've created a PR for this issue although I'm not entirely sure which one is the "correct" approach - whether the `undefined` items should be omitted or not.

[2017-02-16 22:56] lukejacksonn commented on #525
![screen shot 2017-02-16 at 4 11 43 pm](https://cloud.githubusercontent.com/assets/1457604/23043709/2a051b54-f46b-11e6-8168-ed08adc0da1d.png)

@gaearon ahh my bad, I've made both sans-serif and slightly lighter in color.
@spicyj I hear you, will tighten it back up!

[2017-02-16 22:59] gaearon commented on #525
I like this! Send a PR for a closer look?

[2017-02-16 23:04] lukejacksonn commented on #525
Sure thing!

[2017-02-16 23:16] gaearon commented on #349
Unlabeling since there's an open PR: https://github.com/facebook/react-devtools/pull/536.

[2017-02-16 23:17] gaearon commented on #525
Removing labels as there's a PR coming.

[2017-02-17 01:08] lukejacksonn commented on #525
@gaearon PR has been made, sorry that took a while I was finding my way around! 😅

[2017-02-17 03:14] alexkuz commented on #526
Yeah, that's it.

[2017-02-17 09:56] tarang9211 commented on #388
@gaearon Is this still open? If no one's taking it, I would like to contribute.

[2017-02-17 10:05] laurentvd commented on #388
I'd love to contribute, but I'm a little short on time at the moment. If @tarang9211 would like to take this, that would be great!

[2017-02-17 10:44] zalmoxisus commented on #388
@gaearon we are using [`jsan`](https://github.com/kolodny/jsan) for Redux DevTools Extension. It supports unserializable by `JSON.stringify` data types like `date`, `regex`, `symbol`, `undefined`, `error`, and `function`. Also we'll add support for [global Symbols](https://github.com/kolodny/jsan/pull/11) and [ES6 Map and Set](https://github.com/kolodny/jsan/pull/12) in the next release.

I guess,

[2017-02-17 11:03] tarang9211 commented on #388
I'd love to pick this up! I'm completely new to this so any tips for starting off?

[2017-02-17 12:35] tarang9211 commented on #388
So I get the dev environment all set up. Could anyone let me know how to produce this specific use case? Currently I got it working by using the instructions listed here: https://github.com/facebook/react-devtools/tree/master/shells/plain

[2017-02-17 14:14] farskid opened #542 "Component name conflict"
In my projects to show a list of Items, I usually create a `List` component and inside it I use another component called `ListItem` which does the mapping shows the list.
Whenever I open the React Devtools, both components are being shown as `List`.
Although the names are being shown the same, the components handle props well and do the job.
Is it a bug or I am doing something wrong?

[2017-02-17 14:22] selbekk opened #543 "Add "Inspect with React DevTools" to context menu"
Today, if I want to look at a particular component on my page, I typically right click it to show the context menu, then click `Inspect`, and then switch over to the `React` tab in the developer tools.

I would love to be able to have another option - `Inspect with React DevTools` that did this process for me.

[2017-02-17 14:27] ngyikp commented on #543
Duplicate of https://github.com/facebook/react-devtools/issues/323

[2017-02-17 14:29] selbekk commented on #543
Ah, my bad. Sorry to hear it's not currently possible.

[2017-02-17 14:29] #543 closed

[2017-02-17 14:30] gaearon commented on #542
Can you share the code reproducing the problem?

[2017-02-17 14:56] iamdustan opened #544 "[Feature request]: Ability to add props on demand"
Currently the props pane only supports editing defined props through `defaultProps` or that were passed in through `props`. It would be nice if one could add props on demand similar to how browser devtools support adding new CSS properties on the fly.

**Current**
<img width="301" src="https://cloud.githubusercontent.com/assets/227879/23069328/fc413e2a-f4f4-11e6-9a48-bfcdd7a151c7.png">

**Proposal

[2017-02-17 15:00] gaearon commented on #388
You can probably change `test/examples/target.js` to pass `something={new Date()}` as a prop to the root component and rebuild it by running `../../node_modules/.bin/webpack --watch`. Then refresh the page. Then feel free to document this for the next person 😛

[2017-02-17 15:46] farskid commented on #542
The `List` component:
[code]
-------------------------------------------------------------
The `ListItem` component:
[code]

[2017-02-17 16:25] tomaszlakomygp opened #545 "Unclear condition in shouldComponentUpdate in frontend/Props.js"
This issue is a result of my findings in https://github.com/facebook/react-devtools/pull/535/files, @gaearon suggested to create a separate issue for that

Currently the `shouldComponentUpdate` function in https://github.com/facebook/react-devtools/blob/master/frontend/Props.js#L18 looks a bit uncommon:

[code]

[2017-02-17 16:29] khanghoang commented on #527
@gaearon I will take this one, but this is my first time on this project so I may ask a lot of (silly) questions :)

p/s: your tweet led me here.

[2017-02-17 16:42] gaearon commented on #527
Sounds great!

[2017-02-17 16:44] gaearon commented on #545
This is probably unintentional. Worth verifying and fixing.

[2017-02-17 16:45] gaearon commented on #544
One problem with editing props is they won't "survive" for long in the current implementation.
Next time the parent rerenders, they will be gone.

An interesting case, however, would be to learn to force React to treat the currently edited props as the real ones, and ignore the real ones, until the user "unpins" them. This is a separate (tricky) issue probably, but feel free to file it too, or may

[2017-02-17 16:46] gaearon commented on #542
How do you use them? Can you show the screenshot of the problem?

[2017-02-17 16:55] farskid commented on #542
Sure. I also tried to create a fiddle of the issue. I'll add the link If I succeeded to create the fiddle.
![list-issue](https://cloud.githubusercontent.com/assets/8332043/23074762/37ac6cbe-f54f-11e6-9651-79d2612edd06.png)

[2017-02-17 16:57] gaperton commented on #388
Almost. Except that my original intention was to open the possibility to create "plug-ins" for DevTools directly. With common API which would be used both internally and externally, making all that and other stuff look trivial; say, the same ImmutableJS support would look like this:

https://gist.github.com/gaperton/4979f9bacbd74051b3ec24fe5a7d3cdb

[2017-02-17 17:00] khanghoang commented on #527
@gaearon Technically when we refresh the page, all the pinned components will be gone, won't they?

[2017-02-17 17:08] gaearon commented on #527
Yes. (And I guess, when they get unmounted, too.)
I think we shouldn't worry about this for the first proof of concept.

But later it would be nice to explore some persistence based on key/type paths.
See https://github.com/facebook/react-devtools/issues/295.

[2017-02-17 17:10] gaearon commented on #542
Yes, a fiddle would help.

[2017-02-17 17:13] khanghoang commented on #527
@gaearon you're right 👍

[2017-02-17 17:52] khanghoang commented on #527
@gaearon I have first prototype https://github.com/khanghoang/react-devtools/tree/feat/pin_component

Note that pinned components and search tree view (magically) sync with each other when you expand/collapse etc

![container example 2017-02-18 00-50-32](https://cloud.githubusercontent.com/assets/3213579/23076778/554fbe18-f574-11e6-9bfd-6f027ef04a9f.png)

[2017-02-17 17:57] Slapbox commented on #354
Still seeing this issue with React Devtools in Electron. Hadn't seen it until just today.

[2017-02-17 19:56] Slapbox opened #547 "Waiting for roots to load"
Out of nowhere today, React Devtools in Electron no longer works. I have removed and reinstalled the devtools extension, confirmed the file is loaded via webpack, all the things I can think to check.

I get this related error in my terminal the first time I try to open the `React Devtools tab` in the `Chrome/Electron Developer Tools`:

`[60944:0217/193116:ERROR:CONSOLE(12406)] "Uncaught TypeError:

[2017-02-17 19:56] Slapbox commented on #547
![image](https://cloud.githubusercontent.com/assets/6835891/23081056/3e94a876-f521-11e6-94ae-9434d8028cff.png)

[2017-02-17 19:59] Slapbox commented on #547
![image](https://cloud.githubusercontent.com/assets/6835891/23081182/a9c8291a-f521-11e6-820e-6d40736ae6a9.png)
`_this.elementData`'s Entries are empty.

[2017-02-17 20:42] gaearon commented on #354
@Slapbox What are you using it with? If React Native, it might be due to a bug in RN that is fixed in master. You can try applying https://github.com/facebook/react-native/pull/12305 and https://github.com/facebook/react-native/pull/12316 to RN locally. If you still experience it, please file an issue describing exactly how to reproduce this.

[2017-02-17 20:57] tarang9211 commented on #388
@gaearon Why do i not see the dev tools when I run the above command? Am I missing something?

[2017-02-17 21:05] tarang9211 commented on #388
Could more info be provided on this? A little confused as this is my first time using this tool and contributing to this.

[2017-02-17 21:32] Slapbox commented on #354
@gaearon Thanks for your response. I'm not using React Native. I made a report at #547

[2017-02-17 21:32] gaearon commented on #388
Can you post a screenshot of what you see? I'm not sure I fully understand.

[2017-02-17 21:33] Slapbox commented on #547
I don't necessarily know how to recreate this.

I removed all but my highest level React components from my project to ensure that it was not a bug related to code I had introduced, but that did not resolve it. As I mentioned, rolling back to previously working versions of my project does not resolve this either.

[2017-02-17 21:34] gaearon commented on #547
Can you reduce your project to the smallest example possible and then share it?
It's going to be tough to figure out the cause without a runnable repro.

[2017-02-17 21:35] Slapbox commented on #547
I figured as much. I can't release the source, but I can try to pare it down to something I can post publicly without issue very soon.

Thanks very much Dan.

[2017-02-17 21:36] gaearon commented on #547
If it's just an empty Map this shouldn't be an issue. The error says it's undefined.

[2017-02-17 21:41] Slapbox commented on #547
@gaearon I'm no expert for sure and generally don't have to dive into this.

I am not 100% sure which of the ~130 `.get()` expressions is the one that returns undefined, if any. I know that when I looked at React Devtools on other pages the entries map was always populated which is what led me to believe that was a reasonable starting point for trying to pin this down.

[2017-02-17 21:46] gaearon commented on #547
Just to be clear, do I understand it right that you're using the Chrome extension but inside an Electron app? Have you tried the standalone Electron DevTools?

[2017-02-17 21:54] Slapbox commented on #547
Because I'm using a boilerplate, I have never had to get too deeply into this topic. I am using `Electron-Devtools-Installer` to install the dev tools. I have confirmed by running other projects that the devtool installation itself runs in general, but not on my app no matter how much I tear away from it.

I'm not entirely sure I know what you mean by standalone Electron DevTools and I don't want

[2017-02-17 22:14] gaearon commented on #547
Oh okay. We never really supported that way of wiring it up so I'd like to confirm whether you have any problems with the supported way first.

See here: https://github.com/facebook/react-devtools/blob/master/packages/react-devtools/README.md

[2017-02-17 22:39] Slapbox commented on #547
Unfortunately this didn't make a difference.

The devtool knows when the React application comes online (It stops saying `Waiting for React to connect...`) but once connccted I get the same message, `Waiting for roots to load...`

[2017-02-17 22:56] gaearon commented on #547
Can you show the exact full stack? You can inspect it by opening DevTools... inside the DevTools :P

[2017-02-18 00:38] Slapbox commented on #547
You mean the full call stack? You can only do that by setting a breakpoint, right? If I'm thinking correctly, where would I set that?

I usually don't have to dive this deep in. Sorry for all the questions and thanks very much for your help.

[2017-02-18 01:49] gaearon commented on #547
You can press Cmd+Shift+I in the DevTools app. That will open the Inspector in it. Since it likely crashed you should see the full error stack in the console. I would like to see it.

[2017-02-18 08:41] farskid commented on #542
I created a simple fiddle to illustrate the issue. Could not test it to make sure if the issue is reproduced in the fiddle cause React Devtools does not detect react code inside jsfiddle.
https://jsfiddle.net/jwm6k66c/2147/

[2017-02-18 10:30] suchipi commented on #443
I have opened a PR that fixes this issue. If you could review it, I would appreciate it.

[2017-02-18 16:02] Slapbox commented on #547
Unfortunately I am not getting any error messages, warnings, nothing, when I open the Developer Tools for the React Devtools window.

All that is in the React Devtools' Developer Tools' console is: `[React DevTools] Connected`

Really a fun one to try and diagnose, I know.

[2017-02-18 18:47] gaearon commented on #547
Okay, this one is though.

Do you see errors in the console of your extension itself? I see 8 errors in the first screenshot—are these all the same? Can you provide their stacks?

[2017-02-18 18:58] tarang9211 commented on #388
@gaearon  uh, looks like someone pushed a PR for this already. what do i do?

[2017-02-18 20:53] ioantm commented on #545
There is one more place where this kind of check is done https://github.com/facebook/react-devtools/blob/master/frontend/Node.js#L44 , here `shouldComponentUpdate` probably should be removed.

[2017-02-18 22:07] Slapbox commented on #547
I've had all of those for the better part of 6 months without issue. I found one build of my application where the roots load, so I am trying to figure out the cause now and I'll report back. If I can't, I'll upload a barebones version of my project and link it here to save you the trouble of trying to troubleshoot blind.

Thanks very much! I really appreciate your help!

[2017-02-18 23:34] Slapbox commented on #547
Alright so here's what it was.. In my top level React component  I had:

**Old code (broken)**
[code]
**New working code**
[code]

Thanks for all your help @gaearon

[2017-02-18 23:34] #547 closed

[2017-02-19 01:29] gaearon commented on #547
Hmm I'm not really sure how this related to DevTools, or what the mistake was.
Your new code snippet doesn't do any filtering at all because the return value gets ignored.

[2017-02-19 05:18] gaperton commented on #388
@tarang9211 You look at the code. If you like it and agree with the approach, you support the PR (commenting like "cool!", etc). If you disagree, you create your own PR. Obvious, isn't it? :)

[2017-02-19 10:19] gaearon commented on #388
I closed the other PR. There is a reason I added a "someone is working on this" label, as I don't want contributors competing on the same issues. We have a bunch of other "good first bugs" unclaimed so those should be good for other contributors.

@tarang9211

Happy to provide you any context you need! If you can't get it running can you show the screenshot of what you see?

[2017-02-19 10:44] Tushkiz commented on #306
I am talking a look at this.

[2017-02-19 16:59] Slapbox commented on #547
Thanks for pointing that out. I was so happy to have devtools back and ready to quit for the day I didn't test that the code actually worked.

**So in the end the issue seems to be that the filtered results were then mapped, and the map was calling a function from my Redux Actions. This particular function did not return a dispatch, which hosed everything up.**

Slightly off the original topic now

[2017-02-19 18:59] zinoviev commented on #388
Sory folks, I started work on this after twitter 'call to arms' from @gaearon and this issue wasn't assigned at moment. Really not intended to race someone. Now I understand I should write here on the beginning, and next time I will checkin on github before PR.

I'm not expert how people usually do things in open source, but maybe it is worth to write about "someone is working on this" workflow in

[2017-02-19 20:48] hozefaj commented on #529
I can take help with this. :)

[2017-02-20 00:28] kp25 commented on #490
Status Update: Not that straight forward, there is a bit of digging into docs and reading more about chrome 'browser_action' API. Need some more time :)

[2017-02-20 07:46] rajpatel507 commented on #531
@gaearon  I didn't understand much, but still i want to work on this issue. can you help me with this?

[2017-02-20 12:33] farskid commented on #542
@gaearon Any clue of the issue?

[2017-02-20 13:26] khanghoang commented on #295
I'd like to give it a try

[2017-02-20 15:43] jaredly commented on #542
This is what I see from that fiddle
![image](https://cloud.githubusercontent.com/assets/112170/23131780/94af0b6a-f748-11e6-975d-c04aa3d88632.png)

[2017-02-20 15:45] jaredly commented on #542
you can type `$r.constructor` in the console when you have a component selected to see what class an element came from. If you select the one that's shown as `List` but that you know to be `ListItem` and type `$r.constructor`, what do you see?
You could also check to see of the constructors for the two components are identical

[2017-02-20 15:50] farskid commented on #542
My React-Devtools is not active on fiddle page. And when I type `$.constructor` in the console, I got error `ReferenceError: $r is not defined`.

[2017-02-20 16:00] jaredly commented on #388
@zinoviev sorry for the confusion :( it's gotta be frustrating, and we're all playing this by ear. I hope this doesn't discourage you from contributing in the future! There's lots of work to be done :)

[2017-02-20 16:50] tarang9211 commented on #388
@gaearon Heres's the screenshot.
![screen shot 2017-02-20 at 10 18 49 pm](https://cloud.githubusercontent.com/assets/5876249/23134375/9a00008e-f7ba-11e6-8f0f-473d0f8ffaea.png)

I navigated to `test/examples` and ran the command `../../node_modules/.bin/webpack --watch`
After that I opened the `target.html` file in the browser and the screenshot was the page I saw.

Am I on the right path?

[2017-02-20 17:02] gaearon commented on #388
Oh, sorry I wasn't clear. You don't need to open `target.html` itself. You need to open `shells/plain/index.html`. It will contain `target.html` in an iframe, with DevTools attached.

@zinoviev No worries, it happens 😛 . Next time please comment right away if you’ve started working on something so that others don’t start the same.

[2017-02-20 18:36] tarang9211 commented on #388
@gaearon alright, sweet got it running. So as a first step, I added `time: new Date(),` to the `ToDos` component state. I verified it in the dev tools and this is what it looks like:
<img width="321" alt="screen shot 2017-02-21 at 12 05 24 am" src="https://cloud.githubusercontent.com/assets/5876249/23137717/8f941a86-f7c9-11e6-810d-83595e07822a.png">

[2017-02-20 19:02] tarang9211 commented on #388
@gaearon PR is here #559

[2017-02-20 19:35] gaearon commented on #531
I could try, what kind of help do you need?
The post above has some starting points, do you have specific questions about them?

[2017-02-20 19:46] gaearon commented on #542
Can you share a project reproducing this locally? JSFiddle doesn't seem to be a great way after all.

[2017-02-20 19:46] gaearon commented on #529
Sounds great! Let me know if you need any help.

[2017-02-20 19:47] farskid commented on #542
Yeah there gotta be a fiddle for React anyway. Alright I'll share a project soon. thanks for the support @gaearon

[2017-02-20 20:06] gaearon commented on #306
You'll need to use the Chrome shell to test your changes. It's in `shells/chrome`. Try to build it and load it locally to verify your dev environment.

The files in `shells/chrome` are representative of Chrome extensions, so you'd need to find the code where it initializes. You'd likely want to check why it doesn't display the tab when React is missing. This is probably intentional, but we may wan

[2017-02-21 04:30] Tushkiz commented on #306
Got my dev environment working, doing those `build.sh` things manually for now (Windows 😩)

[2017-02-21 07:15] nicksp commented on #470
@mjmasn Could you please record a short demo (in `gif` for example) showing the problem? I just wanna make sure i completely understand the point ;)

[2017-02-21 07:16] nicksp commented on #470
@gaearon Would like to investigate the problem and propose a fix. Since this is my almost first contribution to the project, will probably require some help... But will do my best to work it out on my own.

[2017-02-21 09:07] ShiXiaoyYu commented on #384
PR https://github.com/facebook/react-devtools/pull/557 try to fixes this issue. @jaredly

[2017-02-21 10:26] zinoviev commented on #390
Thinking about implementing this. Want to clarify how it should work:

- In dehydrate check if object member is property with  `getOwnPropertyDescriptor`
- Introduce new meta type like 'property'
- Render UI  '...' for these objects
- Eval value in response for user action

Not sure how implement last point, so tips will be useful.

[2017-02-21 13:02] rajpatel507 commented on #531
What i understood from first two paragraph is, property that din't change should not be there in return statement.
I am bit confuse over how to find if property is changed or not ?

[2017-02-21 14:41] iamdustan commented on #544
Haha. You do realize you’re the primary reason I actually contribute to React versus doing throw-away toys and experiments all the time.

Thanks for the insight. If I ever upgrade my understanding of how this all actually works together I’ll look into It :innocent:

[2017-02-21 14:48] mnquintana opened #562 "Show whether React is running as production build"
Depending on the module bundler you're using with React, it can be really difficult to verify that changing your `NODE_ENV`  to enable the production build is indeed working correctly, without resorting to more indirect checks (e.g. comparing the file size of the bundle outputs, or trying to call one of the `PropTypes` functions to see if it throws). It would be super helpful if the devtools could

[2017-02-21 16:22] gaearon commented on #390
I'm not sure either—I think you should give it a try and see what works 😛  You'll want to have access to the getter and the target object so that you can call the getter when necessary. What you described sounds reasonable to me.

[2017-02-21 16:38] gaearon commented on #531
I think it's fine to keep it in the return statement.
We could filter the data later somewhere.

I don't have specific suggestions about where to do that—the easiest way to find out is for you to try to make it work and then we can discuss if that approach works well or not.

[2017-02-22 12:29] gaearon commented on #470
1. Follow the instructions in `shells/plain/README.md` to open the test page
2. Search for "Todo" in the bottom part of the screen
3. Add a new Todo
4. New Todo component won't show up in the search, but it should

Does this help?

[2017-02-23 00:27] kp25 commented on #490
@gaearon How do I debug Chrome extension code?
Right Click on Chrome extension, Inspect Pop-up is disabled? Tried setting up a `debugger` in the code, but the execution isn't being stopped.

[2017-02-23 01:00] kp25 commented on #490
one more query, Is it okay to use https://facebook.github.io/react/docs/test-utils.html#iselement to test if a particular element is a react element (or) Is there any shorter/good way to do that?

I want to run a script on a page, and quickly tell if it contains react element or not. Based on that, will send message to chrome runtime and show the necessary icon.

[2017-02-23 17:49] DarrylD opened #563 "[Feature Request]: Better component inspecting?"
Possibly leverage [component-inspector](https://github.com/lahmatiy/component-inspector). Seems like a more natural way of handling inspecting. [Made a query there also](https://github.com/lahmatiy/component-inspector/issues/26)

![Example for React](http://s63.imgup.net/ci-introcbc0.gif)

[2017-02-24 01:58] vinhlh commented on #470
hey @gaearon, In my side, the New Todo component is shown up on Search Results.

[2017-02-24 02:07] vinhlh commented on #236
@spicyj moving these errors to warnings (with console.warn) is ok?

[2017-02-24 02:09] spicyj commented on #236
Yeah, catching them and displaying them as warnings would be okay – would be best to clearly prefix the warning message to indicate that it is an issue with react-devtools.

[2017-02-24 02:17] vinhlh commented on #236
@spicyj do you think we should to setup something like Sentry to log these errors from the users? 💃

[2017-02-24 02:26] spicyj commented on #236
I think they'll file issues instead. I doubt using Sentry in the devtools would go over well with privacy-conscious folks.

[2017-02-24 08:49] ioantm commented on #470
I was able to reproduce the issue by navigating to a new route and then navigate back  (no http routing) as @mjmasn describe . Maybe remove then add again the container that keeps the searched items is a case where this issue happens.

[2017-02-24 11:18] nicksp commented on #470
@gaearon Yes, this helped. Could replicate the issue. Going to prepare a PR.

[2017-02-24 19:03] gaearon commented on #534
OK, fixing macOS icon wasn't so easy: https://github.com/facebook/react-devtools/pull/558
If somebody has ideas on how to change our bundling workflow to allow it, please chime in!

[2017-02-24 21:17] gaearon commented on #525
Fixed by https://github.com/facebook/react-devtools/pull/538.

[2017-02-24 21:17] #525 closed

[2017-02-24 22:00] gaearon opened #566 "Weird highlighting over a text node"
Normally we highlight matching DOM nodes on hover.

This doesn't work for text nodes because they don't have `getBoundingClientRect`. Just like the browser, we don't highlight anything when you hover over a text node.

Except, if you change [this line](https://github.com/facebook/react-devtools/blob/568b1586ef15069fd024fc1f76d17af17a68de24/shells/plain/container.js#L26) to point at `sink.js` (and

[2017-02-24 22:08] #443 closed

[2017-02-24 22:09] gaearon commented on #545
Fixed via #549.

[2017-02-24 22:09] #545 closed

[2017-02-24 22:11] gaearon commented on #390
@zinoviev Just to be clear, are you still planning to implement this?

[2017-02-24 22:17] zinoviev commented on #390
@gaearon Yep, already started

[2017-02-24 22:25] gaearon opened #567 "Wrap source file location for JSX"
If you run an app with `babel-plugin-transform-react-jsx-source` plugin (which is enabled by default in Create React App in development mode), you'll see source locations in the bottom right pane.

However currently, if the location is long, it causes the whole pane to be scrollable horizontally:

<img width="312" alt="screen shot 2017-02-24 at 10 24 04 pm" src="https://cloud.githubusercontent.com

[2017-02-24 22:26] gaearon commented on #390
Awesome, thanks!

[2017-02-24 22:33] gaearon commented on #306
If you can change it to be cross-platform (e.g. using Node scripts) in a separate PR that would be rad.

[2017-02-24 22:42] gaearon commented on #490
I *think* you need to expand DevTools into their own window (there's a way to do it), and then press Cmd+Shift+I again.

No, this won’t help you. DOM elements and React elements are very different things.

I *think* you should look at `__REACT_DEVTOOLS_GLOBAL_HOOK__`. There's some events firing on it when a React page attaches to DevTools. Maybe the event is called `renderer-attached`: you can sea

[2017-02-24 23:14] spicyj commented on #566
You can call getBoundingClientRect on a range of text though:

https://developer.mozilla.org/en-US/docs/Web/API/Range/getBoundingClientRect

Just note that it's buggy in Chrome; I had to write a new version to work around the issue:

https://github.com/facebook/draft-js/blob/e4f87b04b3ed22134961c8ba7be4e8c66dadd4c4/src/component/selection/getRangeBoundingClientRect.js

Maybe we should move that to

[2017-02-25 03:47] gaearon commented on #337
It can’t. Unfortunately the feature was added without consideration for this.

[2017-02-25 03:48] gaearon commented on #337
(We totally should fix it in the future. Maybe after Fiber is out.)

[2017-02-25 13:04] rubenmoya commented on #567
Something like this?

![screen shot 2017-02-25 at 14 03 47](https://cloud.githubusercontent.com/assets/905225/23331298/562e3018-fb63-11e6-8d61-41edbff9b5e0.png)

[2017-02-25 13:06] gaearon commented on #567
It would probably make sense to put the line number inline at the very end.

[2017-02-25 13:08] rubenmoya commented on #567
That's true, what about now?

![screen shot 2017-02-25 at 14 07 58](https://cloud.githubusercontent.com/assets/905225/23331325/d6d55250-fb63-11e6-82a5-f32718af6604.png)

[2017-02-25 13:48] gaearon commented on #567
Looks great!

[2017-02-25 13:50] #567 closed

[2017-02-25 15:03] Tushkiz commented on #306
Sure thing.

[2017-02-25 15:13] dariocravero commented on #229
@gaearon is there any way to debug the standalone devtools when the it gets stuck on "Connecting to React..."? Thanks :)

[2017-02-25 15:15] gaearon commented on #229
You can try to apply these changes locally:

https://github.com/facebook/react-native/commit/7a3ab96d94073b22853992b5e0b3f8e26b8cfd51
https://github.com/facebook/react-native/commit/934cd82941d2b4fa49e49517acd454a775fe94b8

They fix the flakiness due to race conditions in existing code. When they're in a stable RN release, everything should be good out of the box.

[2017-02-25 15:17] dariocravero commented on #229
Perfect! Will give that a go now, thanks again :)

[2017-02-25 15:23] gaearon commented on #229
Let me know if it helps! (I hope it should.)

[2017-02-25 16:33] dariocravero commented on #229
@gaearon, here's an update on this, it seems that it wasn't a problem with the packages that are published on npm but instead an conflict with Debug JS Remotely. If that option is enabled, the devtools get stuck in the connecting message. If I disable it, after reloading both, the simulator and the devtools it works alright :).
Are the devtools intended to be used on their own without the extra JS

[2017-02-25 16:51] khanghoang commented on #295
I'm facing the problem that I don't know what to store because the id of the node changes when we refresh the page. My first thought was we shall store the path of the current expanded nodes but it seems doesn't work properly in some cases, for example, the list of children.

cc @gaearon @jaredly

[2017-02-25 17:19] cwagner22 commented on #229
Just leaving that here: https://github.com/jhen0409/react-native-debugger
You can use it to debug react-native (with devtools), it might help the ones like me who are just starting...

[2017-02-25 22:19] gaearon commented on #229
@cwagner22 This package has a few extra tools but it uses exactly the same code underneath.

@dariocravero Do you mind sending a PR to package README explaining this? I don't know anything about the "Debug JS Remotely" option—first time hearing about it. So yes, I never tested with it, and maybe it won't work. If you could explain what exactly it is doing maybe we can figure it out. Thanks!

[2017-02-25 22:31] gaearon commented on #295
I would probably store displayName and key path. This is as accurate as it gets IMO. I wouldn't rely on any IDs.

[2017-02-26 02:59] jhen0409 commented on #229
Are the devtools intended to be used on their own without the extra JS remote debugging? Or might this be hinting a bug? Thanks!

@dariocravero I guess the problem the same with https://github.com/facebook/react-devtools/issues/476#issuecomment-279153990, we should ensure `requestIdleCallback` works with Debug JS Remotely, maybe just sync time between host and simulator/device. (I have received th

[2017-02-26 12:48] gaearon commented on #229
This is interesting. Can you please file an issue in this repo so I could take a look?

[2017-02-26 18:44] zinoviev commented on #390
Take a look at PR plz https://github.com/facebook/react-devtools/pull/569

![devtools-sample](https://cloud.githubusercontent.com/assets/848985/23342502/bac1c738-fc6c-11e6-9dee-331d62892d5c.gif)

[2017-03-01 14:06] marob commented on #71
@crysislinux: thanks!
@jaredly & @crysislinux: having a unique/official extension would be great. Is it conceivable to port the chrome-react-perf code to the react-developer-tools?

[2017-03-02 00:47] gaearon commented on #390
Niiiiice. I will next week! If I don’t please ping me again.

[2017-03-02 02:49] Jacksing opened #570 "State of Connect object occurs empty with react-redux 5.0.3"
The state property occurs Empty object while working with following packages.
    - react@15.4.2
    - redux@3.6.0
    - react-redux@5.0.3
by running the redux example [reactjs redux example todos](https://github.com/reactjs/redux/tree/master/examples/todos)

![state_empty](https://cloud.githubusercontent.com/assets/7564447/23490495/d7ee1c02-ff33-11e6-93c0-144cb705d3c9.png)

After switch react-red

[2017-03-02 14:33] Zn4rK opened #571 "[Relay] No queries logged with Relay.Environment"
I can't seem to get any Relay Queries to be picked up by the Relay plugin if I'm using `Relay.Environment` instead of `Relay.Store`

[code]

Results in "No Relay Queries logged", but if I switch to:

[code]

...I can see the query get logged under the Relay-tab.
The Console shows that the Mutation gets executed either way.

I'm using `v2.0.12` (Google Chrome Extension) of `react-devtools` and `0.1

[2017-03-02 19:46] hyperh opened #572 "The value of `Infinity` displays as `null`."
The issue with the React Chrome devtools and Redux Chrome devtools, they both display `Infinity` as `null`. But when I do a `console.log(...)` of my prop value, I get `Infinity`.

Looks like this might be the issue: http://stackoverflow.com/questions/16644597/json-stringify-converting-infinity-to-null

Or do you just suggest writing a custom transform?

[2017-03-02 21:28] Zacqary commented on #267
Just stumbled on this thread. I've been running into an issue where the React Dev Tools tell me my component is called `<Unknown>` whenever I do:
[code]

But this works:
[code]

In case that's useful for anyone.

[2017-03-02 21:50] gaearon commented on #267
Yes, this is expected, because Babel only infers the arrow name if you assign it to something.
For example, this would also work:

[code]

[2017-03-03 08:19] jiexishede opened #573 "show source is not work"
I install the developer tool. When I click the `show source`, the developer tool not scrolls the react code.
![source](https://cloud.githubusercontent.com/assets/9484734/23543552/a91750c4-002d-11e7-8e41-3e18a21e22f9.png)
![447](https://cloud.githubusercontent.com/assets/9484734/23543567/b2f19db6-002d-11e7-95df-7fbc1d5f9521.png)

Why doesn't the developer tool scroll to the `Tabbber.js` tab?

[2017-03-03 09:25] tomaszlakomygp opened #574 "Chrome dev tools dark theme is not supported"
I just switched to dark theme in Chrome dev tools and I've noticed that it's not supported in react-devtools:

![screen shot 2017-03-03 at 10 23 23](https://cloud.githubusercontent.com/assets/16646517/23545442/a1ef7e52-fffb-11e6-98c9-f1de969efc8f.png)
![screen shot 2017-03-03 at 10 23 28](https://cloud.githubusercontent.com/assets/16646517/23545443/a1ef7e98-fffb-11e6-8803-823ed8cf573e.png)

I thin

[2017-03-04 01:35] ngyikp commented on #574
Duplicate of https://github.com/facebook/react-devtools/issues/108

[2017-03-04 01:50] ngyikp commented on #108
This issue wasn't fixable on previous Chrome versions because there's no way to know if the current theme is light/dark, https://github.com/facebook/react-devtools/issues/381 was a temporary hack to always force a white background.

However, Chrome 54 fixed it by adding `chrome.devtools.panels.themeName`
https://bugs.chromium.org/p/chromium/issues/detail?id=608869#c5

Not sure about Firefox though

[2017-03-04 05:20] wenshiqi0 opened #575 "How to use devtools to update the style of a class."
I am not using the react dev tools directly, I just reuse some code of react dev tools to debug our own framework which is built on React. The problem is I want to update the style of a class and force the component to update. One mouth ago I can just change the $style of the context inside the instance of the component and forceUpdate the component. Then I'll get what I want. Now I can not get th

[2017-03-04 15:07] tomaszlakomygp commented on #574
Fair enough, should I close this issue then?

[2017-03-04 15:20] tomaszlakomygp commented on #572
I'll try to get this fixed, shouldn't be too hard.

[2017-03-04 15:27] tomaszlakomygp commented on #572
Done, PR opened.

[2017-03-06 17:56] szhongren opened #579 "Mapping a function returning JSX to a list containing 0 returns a weird element in devtools."
Not sure what this is, have only seen it in the React devtools extension on Firefox 51.0.1 (64-bit). I'm using devtools 2.0.12, webpack 2.2.1 and babel-core 6.23.1.

Code [here](https://jsfiddle.net/p16qux88/6/). HTML of the actual page is fine, but in the devtools the

    nums.map(
        (number) =>
            <li key={number.toString()}>
                {number}
            </li>)

turns int

[2017-03-08 12:16] istvano opened #580 "React devtools tab not showing up on FF nor on Chrome"
Hi,

I have installed the extension on Chrome, but it stays gray no matter what website I visit.
- I tried my own react app ( Redux devtools works! )
- Facebook
- React page ( https://facebook.github.io/react/ )

Also on chrome when I click on the icon the Options menu stays grey and inaccessible

Firefox same thing. I installed it, but never shows up on the developer toolbar.

I am not sure how I

[2017-03-08 12:22] istvano commented on #580
Hi, I managed to enable it on FF removing it and adding it again. On Chrome same problem unforuntatellty.

[2017-03-08 22:13] gaearon commented on #580
Can you remove all other extensions and try again? Maybe some other extensions is interfering with it somehow.

[2017-03-08 22:15] gaearon commented on #579
This is likely a bug where it thinks `0` is an empty child. Probably some check for falsiness in a component that should've been checking for `null` or `undefined` explicitly instead. Would you like to send a PR to fix this?

[2017-03-08 22:15] gaearon commented on #574
Yep, thanks!

[2017-03-08 22:15] #574 closed

[2017-03-08 22:16] gaearon commented on #573
Because you are using some intermediate function that calls `instantiate`. It's hard to say why or what `instantiate` does without your code, but this is the component’s definition from DevTools’ point of view.

[2017-03-08 22:16] #573 closed

[2017-03-08 22:17] gaearon opened #581 "Update code to latest Flow version and fix violations"
We are an a very old version of Flow. I’d appreciate if somebody could update the version and then go through all violations, either fixing the code or adding suppressions where reasonable.

[2017-03-08 22:20] gaearon commented on #571
Nobody is currently maintaining the Relay integration, so unfortunately you’re on your own here. I would suggest looking into [how the plugin works](https://github.com/facebook/react-devtools/tree/master/plugins/Relay) and figuring out what’s wrong. It’s likely somebody didn’t just add a hook for this.

[2017-03-08 22:22] gaearon commented on #570
This looks like an [intentional decision](https://github.com/reactjs/react-redux/blob/ff33f0ccce447413e820140648267a6b8fe1484d/src/components/connectAdvanced.js#L218) by React Redux maintainers. I’m not maintaining it anymore so I can’t really comment on that. Please bring it up in the React Redux repo if you’re interested in reasons. Cheers!

[2017-03-08 22:22] #570 closed

[2017-03-08 22:24] gaearon commented on #563
This is a bit of an open-ended issue. It’s hard for me to tell what exactly you are proposing, which features you’re interested in, and how that integration would work. Since there’s more context in https://github.com/lahmatiy/component-inspector/issues/26 let’s just keep the discussion there, and if there are more specific proposals for this repo, I’ll be happy to hear them!

[2017-03-08 22:24] #563 closed

[2017-03-08 22:25] gaearon commented on #490
Do you have any progress on this?

[2017-03-08 22:26] gaearon commented on #562
Great idea. This should be a part of https://github.com/facebook/react-devtools/issues/490.

[2017-03-08 22:26] gaearon commented on #542
Going to close because I don’t think there’s a bug in DevTools. The logic there is quite simple, and works in our experience. If you can demonstrate, happy to look at it.

[2017-03-08 22:26] #542 closed

[2017-03-09 02:29] gaearon opened #582 "Electron shell data transfer is lossy"
Since Electron shell uses JSON as transfer format, it loses some data, such as `undefined` values in objects, and sparsity of arrays. See my comments in https://github.com/facebook/react-devtools/pull/536#issuecomment-285235927.

I'm not sure how to solve this but it is confusing to have this disparity between shells.

[2017-03-09 03:51] kp25 commented on #490
@gaearon sorry for not responding back. Had an accident last week, didn't have enough time to work on this, will pick it up again.

Is this urgent issue?

[2017-03-09 05:49] deecewan commented on #490
i'll take a look later tonight/tomorrow if you can't do it @kp25

[2017-03-09 11:46] szhongren commented on #579
So I've checked it and it's there in Chrome too, is there something else I need to change to build the extension for debugging? I changed `babel` to `babel-loader` in the `webpack.backend.js` and `webpack.config.js`.

However, `webpack --config .\webpack.backend.js` gives me a `callback is not a function` error. This is for the chrome extension on Windows.

[2017-03-09 14:33] gaearon commented on #579
You should be able to follow the instructions here:

https://github.com/facebook/react-devtools/tree/master/shells/plain

[2017-03-09 15:11] gaearon commented on #582
Maybe we should use something like https://github.com/cognitect/transit-js instead of JSON as transport?

[2017-03-09 15:14] tomaszlakomygp commented on #582
transit-js is quite a lot of code (10K gzipped), maybe there's something smaller that can be used to achieve the same effect?

[2017-03-09 15:23] istvano commented on #580
Hi,

I tried it in incognito mode same result. Do I need to fully remove my extensions ?

[2017-03-09 15:43] gaearon commented on #580
I don't know. Since I can't reproduce it, it sounds very odd and specific to your browser installation.

[2017-03-09 15:48] istvano commented on #580
Hi,

No matter what I do I get the same, the options menu is disabled and the extension is not functioning.
on Version 56.0.2924.87 (64-bit).

I guess we can close the issue. I am using FF to debug react specific problems now.

Thanks for your help!

[2017-03-09 15:49] gaearon commented on #580
Can you confirm the version of the extension itself?
It would also be great to try with a clean Chrome install.

[2017-03-09 15:51] istvano commented on #580
it is the latest: Version: 2.0.12. I will try to do it, I will check how I can save my current settings

[2017-03-09 16:07] istvano commented on #580
Hi,

1: I have backuped up profile
2: uninstall chrome from windows 10 64 bit professional
3: deleted anything chrome related
4, installed latest chrome
5, installed React Chrome extension
6, options menu still greyed out. visiting www.reactjs.com shows inactive toolbar

I guess not much else to try :)

[2017-03-09 16:52] arshdkhn1 opened #583 "Is it possible to change props/state using devtools?"
Hi, I am exposing a data value in a component state which I dont want user to change by any possible way. In vanilla js, I can change values easily using chrome dev tools so I wondered whether same could be done using react/redux dev tools in react/redux code.

[2017-03-09 17:01] #583 closed

[2017-03-09 17:02] gaearon commented on #582
Does it really matter though, if it’s only inside DevTools?

[2017-03-09 17:02] gaearon commented on #580
OK let's reopen it. I'm going to try it specifically on Windows 10 when I get some time.

[2017-03-09 17:03] gaearon commented on #580
Tagging as "good first bug" in case somebody could help reproducing this.

[2017-03-09 17:04] Cactucs opened #584 "Failing when a child is null"
I have an element one of which childs is `null`. React devtools fails terribly (do not display anything/is just broken).

The problem occurs in getData function in backend.js, line 8440, when argument `element` is `null` (the line that causes the problem is 8457).

(getData is invoked from walkNode func (line 8367).

[2017-03-09 21:16] tomaszlakomygp commented on #584
I think this is caused by:
[code]

in `backend/getData.js`. I'm not entirely sure if not displaying `null` elements is a bug, I wouldn't expect null items to appear in the React devtools inspector.

Probably one of the react-devtools members should chime in

[2017-03-09 21:24] tomaszlakomygp commented on #581
I'm on it 👍

[2017-03-09 21:25] gaearon commented on #581
Sounds good. It won’t be a lot of fun but I bet you’ll learn something. 😄

[2017-03-09 21:26] gaearon commented on #581
You’ll need to bump the version both in `.flowconfig` and `package.json`.

[2017-03-09 21:26] tomaszlakomygp commented on #581
[code]

What have I gotten myself into 😭

[2017-03-09 21:29] tomaszlakomygp commented on #581
I better dig into the documentation first 👍

[2017-03-09 21:40] gaearon commented on #581
One important thing to keep in mind is that an error usually has two sides in Flow. Either something is annotated (or inferred) incorrectly, or used incorrectly. So fixing one fixes the other, but you need to decide which side is wrong. Explicitly annotating things sometimes helps to discover where inference produced something you didn’t expect.

[2017-03-09 21:42] tomaszlakomygp commented on #581
I got a case like that right from the start:
[code]

`reactElements` is defined as `reactElements: Map<ElementID, OpaqueNodeHandle>;` and flow throws an error because it is not aware that `this.ids.set(element, guid());`will set a value and we will not try to amend the `Map` with an `undefined` key

[2017-03-09 21:46] tomaszlakomygp commented on #581
Could you tell me if this is the proper approach in this case before I dig in to apply fixes for ~80 errors?

[code]

[2017-03-09 21:46] gaearon commented on #581
Remove indirection helps.

[code]

[2017-03-09 21:48] gaearon commented on #581
In case of return, you could add an explicit check, e.g.
[code]

This way you can “prove” to Flow that this is safe.

[2017-03-09 21:49] tomaszlakomygp commented on #581
But what if the `element` key already has an id? I was under the impression that the `if` statement is for ensuring that this will not be overwritten.

BTW: How do I enable syntax colors on github? 😄

[2017-03-09 21:49] tomaszlakomygp commented on #581
Fair enough, explicit checks sounds good - that way both flow and maintainer will be aware that something went wrong.

[2017-03-09 21:52] gaearon commented on #581
Write ```js for colors.

[2017-03-09 21:53] tomaszlakomygp commented on #581
Allright, wish me luck - I'll let you know when I'll have the PR ready. Thanks for all the help, much appreciated 👍

[2017-03-09 21:53] gaearon commented on #581
This should work:

[code]

if you ensure your map is annotated.

[2017-03-09 21:54] gaearon commented on #581
Oh okay I see what you mean.
The method with catching an error should work then.

[2017-03-09 21:54] gaearon commented on #581
[code]

[2017-03-10 00:52] mormahr commented on #571
Maybe this is because Relay.Store uses the/a default environment and the relay integration always holds on to that default one, even if you create a new one.

[2017-03-10 08:03] Zn4rK commented on #571
I tried to figure out what's happening, and it's definitley related to the [Relay.Store singleton](https://github.com/facebook/relay/blob/ea03e9ba6bc5763c18b9745eeab375087507307e/src/tools/RelayInternals.js). If I manually set the DefaultStoreData and NetworkLayer on the _relayInternals I get closer, but the NetworkLayer doesn't get decorated with emitters (in [installRelayHook.js](https://github.

[2017-03-10 09:18] tomaszlakomygp commented on #582
Not really, those are my web development habits speaking 😄

[2017-03-10 20:55] markneumann commented on #580
FWIW, Chrome Version 57.0.2987.98 (64-bit), OSX 10.12.3, React Dev 2.0.12,
all extensions disabled except React Dev,

Same problem.  DevTools tab does not appear in Chrome Dev Tools.

[2017-03-14 01:28] jaredly commented on #582
yeah, transit could be a good thing to do

[2017-03-15 21:19] GreenAsJade opened #586 "Dock devtools into the browser window that it's debugging"
I'm pretty sure devtools used to be "in" the same browser window that it is debugging.

Recently (after a big upgrade of a bunch of stuff) I can't find how to ask it to do that - it opens in a separate window, which is a hassle when you want to just minimise that activity (IE it should minimise when the target browser is minimised).

Latest Chrome on OSX, rdt 2.14.2

[2017-03-15 23:23] zinoviev commented on #580
Don't even know icon should be colored sometimes

Same for me Win 10 x64, Chrome 56.0.2924.87 (64-bit)
Icon always grey

But devtools itself works just fine, looks like only icon color issue

[2017-03-16 11:09] dbaronov opened #587 "Not working in Chrome latest"
React tab not showing up in Chrome Version 57.0.2987.98 (64-bit) dev-tools.

[2017-03-16 12:21] ngyikp commented on #586
This is about Chrome dev tools, not exactly an issue with React dev tools, right?

https://stackoverflow.com/questions/10023640/how-to-reposition-chrome-developer-tools
![](https://cloud.githubusercontent.com/assets/6135313/23995828/22349fea-0a86-11e7-9b9a-be13e4a3c683.png)

[2017-03-17 06:54] rredkovich commented on #108
Any plans on adding native firefox dev edition dark mode?
![ff dev theme](https://www.dropbox.com/s/asmsg5u4eyey1yk/native.png?dl=1)
![react theme](https://www.dropbox.com/s/0kzvc31e53rr1yx/react.png?dl=1)

[2017-03-17 15:34] tayler-ramsay commented on #587
React tab not showing up  57.0.2987.110

[2017-03-20 21:34] jerikson opened #591 "(Suggestion) Expand / collapse node and all its children"
As possible using Chrome Developer Tools:

![suggestionjerikson](https://cloud.githubusercontent.com/assets/4104014/24120264/45e0ba1a-0db4-11e7-8667-3b4e99177e0c.png)

By clickling either `Ctrl` + `Alt `+ &#9654; using Windows. Or `Opt` + &#9654;  using a Mac would
toggle the html nodes and all of its children &#9660;

I know Chrome gives the opportunity to manually configure short-commands..
[chr

[2017-03-21 07:53] kp25 commented on #490
@deecewan @gaearon Have anyone else started working on this? If not, I'll continue on this.

[2017-03-21 10:17] #575 closed

[2017-03-23 09:37] robinkam opened #594 "Failed to eval: Cannot read property 'scrollIntoView' of undefined"
Hi, when I use Nuclide React Inspector to debug my react native app on iOS simulator, I always got the error "Failed to eval: Cannot read property 'scrollIntoView' of undefined" in the red screen.
The debugger suggested the exception point was located around the source code below:

`scroll: isReactDOM && "function" == typeof window.document.body.scrollIntoView,`

The debugger indicated the `window

[2017-03-23 22:41] bezvoshchuk commented on #580
With update to version 58.0.3029.33 beta (64-bit) on macOS Sierra 10.12.3 I have the same problem, there is no React dev tools tab in Chrome dev tools.
Regarding icon, I've never seen it coloured, it was always grey, even on React apps.

[2017-03-25 14:47] tomaszlakomygp commented on #581
FYI: I'm down to 36 errors but I'd need a bit of guidance regarding some event-related errors. I'll explain that in a PR which will come shortly (hopefully I'll get the time)

[2017-03-25 15:50] tomaszlakomygp commented on #581
I'm down to some quite cryptic error messages in `BananaSlugBackendManager.js` and some other so I decided to open a WIP PR so it can be reviewed in the meantime.

[2017-03-25 21:35] aspiers commented on #348
@spicyj wrote:

Forgive me if this is a stupid question (I'm fairly new to React), but didn't the original poster already suggest, or at least *imply* a way to implement this feature whilst avoiding any issues with performance on pages with large trees?  He said:

So the simple solution would be an option which the user manual enables or disables, depending on whether the tree is small enough for

[2017-03-25 21:37] aspiers opened #596 "Persist component tree expansion and selection state"
## To reproduce:

1. Go to a React app and open up the React DevTools tab (I'm using Chrome, in case that matters)
    - Observe that the whole component tree is collapsed by default (which BTW I've just proposed in #348 should be changed).
2. Select & inspect some component inside the tree.
    - Observe that a (partial) hierarchy is now visible.
3. Reload the page (either manually or automatical

[2017-03-25 21:40] aspiers commented on #1
It seems that the behaviour described in this issue is now implemented.  However I've just submitted #596 contending that this is the exact opposite of the ideal behaviour.  Let the debates commence! ;-)  (I suggest we debate in #596, not in this issue which was closed a long time ago.)

[2017-03-26 13:37] tomaszlakomygp commented on #580
Yesterday I was not able to see the React dev tools on facebook.com, and now I cannot reproduce this issue:

![screen shot 2017-03-26 at 15 25 37](https://cloud.githubusercontent.com/assets/16646517/24331670/839e3a10-1239-11e7-8dcc-dbda20ddcba2.png)
![screen shot 2017-03-26 at 15 25 41](https://cloud.githubusercontent.com/assets/16646517/24331671/83e6dee6-1239-11e7-8b42-50a99f519fc9.png)

[2017-03-26 13:44] tomaszlakomygp commented on #580
Regarding the icon being always greyed out in Chrome, I've created a PR to fix this issue: https://github.com/facebook/react-devtools/pull/597

[2017-03-27 08:34] bratberg commented on #335
What [the colors](https://github.com/facebook/react-devtools/issues/335#issuecomment-190249223) actually looks like:
![screen shot 2017-03-27 at 10 29 19](https://cloud.githubusercontent.com/assets/1135523/24347510/d5268fdc-12d8-11e7-83fb-643e789a6814.png)

[2017-03-27 10:13] xhlwill commented on #587
can't install it! mac 10.12.3 chrome 57.0.2987.110

[2017-03-27 10:55] tailsu opened #599 "Vigorous perusal of large Redux stores leads to non-responsiveness and eventually OOM"
It always puzzled me why the redux store had a getState() method that returned the state, instead of simply having a state variable. Now I see that had it been implemented so, the react devtools would have died with even smaller stores and apps, with the entire content of the store serialized and transported once per every connected element through the element context.

I have an app with about a

[2017-03-27 11:25] tailsu commented on #599
I've just realized that react-redux's `connect` keeps the entire redux state as component state, so the entire redux store gets transmitted to the devtools once for each `Connect` component in the tree. So, this line: `mapState: state => state`, should read `mapState: state => _.omit(state, 'storeState')`

[2017-03-28 16:17] A7DC opened #600 "Changing the port from 8097?"
Hi everyone,

Noob question here (and not sure if this is the right place to ask it), but how do you go about changing the default port from 8097 to a custom one, say 3001?

[I've asked the question on StackOverflow](http://stackoverflow.com/questions/43074677/react-devtools-by-default-devtools-listen-to-port-8097-on-localhost-how-to-cus), although figured I'd ask here too.

Sorry if this isn't th

[2017-03-31 01:03] sidorares opened #601 "Hooks to use custom highlighter?"
Hi,

I'm using react-devtools with custom non-web renderer ( https://github.com/sidorares/react-x11/tree/fiber ). As far as I know, default Highlighter behaviour is to inject some code to the client that would create overlays on top of highlighted elements via DOM manipulation. In my case there is no DOM, would be great to be able to allow components to highlight themselves in debug mode. Somethin

[2017-03-31 01:28] jaredly commented on #601
take a look at [this section](https://github.com/facebook/react-devtools/blob/master/packages/react-devtools-core/src/backend.js#L39) of `backend.js` (which is the file that you require & exports connectToDevTools).
After your `connectToDevtools` call, you can just do

[code]

As for what events to listen for, take a look at https://github.com/facebook/react-devtools/blob/master/frontend/Highlight

[2017-03-31 01:30] sidorares commented on #601
nice, somehow missed that!

[2017-03-31 01:37] jaredly commented on #600
Welcome! It looks like the stackoverflow question got an answer -- although it's only half of it. I realize now there's no way to tell the frontend about a custom port -- I just made a PR to fix that

[2017-03-31 04:19] sidorares commented on #601
worked perfectly, thanks:

![react-devtools-x11](https://cloud.githubusercontent.com/assets/173025/24536323/6af97598-1625-11e7-88d4-74f429b7f470.gif)

[code]

[2017-03-31 04:19] #601 closed

[2017-03-31 13:22] mkents opened #603 "react dev-tools installed on Chrome but still not working"
With react dev-tools installed on Chrome browser, and navigating to a url with react - https://www.hellosign.com/ (blue indicator sees that it had react.js in it), the dev-tools tab does not appear in the console. This issue has been discussed before, but having researched it for 2014, 2015, and 2016 can find no proposed resolution that seems to work now, save one hack that only applies in one ver

[2017-03-31 14:19] jaredly commented on #601
sweet :) react-x11 looks way cool

[2017-03-31 14:27] jaredly commented on #603
is the react code located inside of an iframe?

[2017-03-31 17:55] mkents commented on #603
Looking at the minified source, there are iframes for the google tag manager and a zendesk widget. Was looking to the chrome extensions to let me view and manipulate the react.js code on the page. I'm a react.js newbie, so I may be missing something that's right in front of me here.

[2017-03-31 21:44] jaredly commented on #603
Are you sure there's react on the page? (not sure what you mean by "the blue indicator")

[2017-04-01 08:34] mkents commented on #603
Along with the react developer tools there is another chrome plugin that indicates whether a page has react.js code in it, called the react detector.
![image](https://cloud.githubusercontent.com/assets/1467277/24577011/851f699e-168b-11e7-89c2-55de78580643.png) .. so on the https://www.hellosign.com/  page, it indicates that there is react.js code on the page .. but then with no develop tool showin

[2017-04-02 16:44] tomaszlakomygp commented on #566
Issue resolved in https://github.com/facebook/react-devtools/pull/598, I believe we can close it

[2017-04-02 18:48] #566 closed

[2017-04-02 23:14] ngyikp commented on #603
www.hellosign.com doesn't seem to use React for me... Their main application at app.hellosign.com does though.

Besides that, react-detector may probably break in the future as it doesn't light up on www.facebook.com (when logged in to a FB account)

[2017-04-03 11:29] olofd commented on #594
@robinkam Same here. A bit older project and this happens all the time. Even though I've updated to latest RN.

[2017-04-04 05:11] martellaj commented on #603
Not working for me either; even on facebook.com. Stuck on "Connecting to React...".

[2017-04-04 14:10] iamstarkov opened #604 "feature request: dont show Components with regards to arbitrary exclude list (basically, hide repetitive High-Order Components from the Tree)"
Based on #211.

It would be nice, to have a exclude list of components, which i dont want to see in my react tree.

Exclude list have to be configurable and persistent.

**Exclude list:** `[/GetContext*/, /Jss*/]`

**Tree Before:**
[code]

**Tree After:**

[code]

[2017-04-06 05:52] Tushkiz commented on #603
it is working for me, tried on [app.hellosign.com](app.hellosign.com) and also facebook home page.

Chrome: Version 57.0.2987.133 (64-bit)
OS: Windows 10

[2017-04-06 17:10] martellaj commented on #603
I bit the bullet and just uninstalled/re-installed the extension and now it's working properly.

[2017-04-06 17:23] #600 closed

[2017-04-10 02:24] felix-d opened #605 "Uncaught Error: Relay Devtools: Called only call setRequestListener once"
Hi! 👋

I'm currently working on a Phoenix/React/Relay application. When Phoenix livereload kicks in, it seems [this event listener is created twice](https://github.com/facebook/react-devtools/blob/master/shells/chrome/src/backend.js#L27), which ends up throwing this error [here](https://github.com/facebook/react-devtools/blob/eb96aaf8ad3c6188f6b7e08131f0d703670d2bd5/plugins/Relay/installRelayHook.

[2017-04-10 22:11] felix-d commented on #605
Also It does not happen with the Firefox addon.

[2017-04-11 19:14] bright-star commented on #435
Another way this error may log is as:

[code]

[2017-04-12 20:34] dmwelch opened #606 "React version error with Chrome extention"
Hi all,

I get this perplexing error running in dev (especially with the broken link):

React: 15.4.2
Chrome: 57.0.2987.133
react-devtools: 2.0.12

[2017-04-15 02:25] crysislinux commented on #71
@marob I am not sure about that. But I will try to dig into react-developer-tools.

BTW. Do people still want this feature? If yes. I will start work on this.

see https://github.com/crysislinux/chrome-react-perf/issues/14

[2017-04-16 20:54] kyleshevlin commented on #603
This wasn't working for me either. After quitting Chrome completely and restarting Chrome, the React Devtools worked again.

[2017-04-18 10:51] roman01la opened #607 "Cmd+Shift+D should trigger DevTools dock position change"
By default Cmd+Shift+D changes DevTools dock position (bottom, right or separate window) when pressed with DevTools open. But when React pane is active it doesn't seem to work. Instead it triggers default action “Bookmark all Tabs” when DevTools is closed.

[2017-04-19 14:37] ngyikp commented on #607
This isn't a bug specific to React Dev Tools, this is a general Chrome issue that also happens with [HTTPS Everywhere](https://chrome.google.com/webstore/detail/https-everywhere/gcbommkclmclpchllfjekcdonpmejbdp) and [Redux DevTools](https://chrome.google.com/webstore/detail/redux-devtools/lmhkpmbekcpmknklioeibfkpmmfibljd).

[2017-04-19 15:09] gaearon commented on #606
Please provide a full way to reproduce the problem. It is very hard to guess in cases like this 😉

[2017-04-19 15:11] gaearon commented on #605
What exactly does Phoenix livereload do? It is not obvious to people like me who never even heard of Phoenix 😉 . Can you create a reduced example that does the same thing (but without Phoenix)? I assume it’s executing the React script twice in the context of the same page, or something like that?

[2017-04-19 15:12] gaearon commented on #607
Tagging “difficulty: starter” because it needs (a presumably simple) investigation into whether it’s something we can fix or not. It is very likely that it’s impossible to fix on our side, but we just need a confirmation (e.g. a Chrome bug tracker discussion).

[2017-04-19 15:15] felix-d commented on #605
@gaearon yes that's probably what it is doing, I could try to recreate without Phoenix but I feel like it's going to be hard 🤦‍♂️ . Maybe I can try to call a stripped down version of their livereload js script

[2017-04-19 15:23] gaearon commented on #604
Also see the discussion in https://github.com/facebook/react-devtools/pull/503.
I think @jaredly started working on a generic blacklisting solution but didn’t finish it (?)

Do you want to propose a mockup for how it would work?

[2017-04-19 15:24] gaearon commented on #605
Do you use Relay?

[2017-04-19 15:25] felix-d commented on #605
@gaearon yes I do

[2017-04-19 15:27] gaearon commented on #599
Thanks for filing the issue. IMO it would make sense to lazy-load deeper properties. I’m not sold on the “extension point” proposal because most people wouldn’t know about it, and it sounds pretty hacky. Ideally we should change our architecture itself to not do too much work.

@jaredly Do you have any thoughts on this? Maybe this was planned and didn’t get implemented, or something.

[2017-04-19 15:31] gaearon commented on #605
Can you give me the full callstack of the error? I'm confused who calls `backend.js`.

[2017-04-19 15:33] gaearon commented on #587
@dbaronov This is not enough information to diagnose your issue, sorry. It definitely works on https://facebook.github.io/react/ with latest Chrome. Please create a new issue with exact instructions on how to reproduce this.

[2017-04-19 15:33] #587 closed

[2017-04-19 15:33] gaearon commented on #587
Note that if you try it on a local HTML file, it won’t work unless you specifically check “allow access to file:// URLs” on Extensions page in Chrome.

[2017-04-19 15:35] felix-d commented on #605
That's all I have
[code]

It seems to come from this event listener that is created twice (because the script is evaluated twice?)

[code]

[2017-04-19 15:36] gaearon commented on #605
Can you somehow put a breakpoint in the script itself so that we learn *what* evaluates it twice? I’m not fully following how we end up in `backend.js` in the first place (I don’t really know a lot about how this repo works).

[2017-04-19 15:37] gaearon commented on #571
Relay Modern is announced / published now, I think.

[2017-04-19 15:40] gaearon commented on #435
Seems like this is still an issue after #459.

[2017-04-19 15:45] felix-d commented on #605
It seems to be injected [https://github.com/facebook/react-devtools/blob/master/shells/chrome/src/panel.js#L71](here)

[2017-04-19 15:47] gaearon commented on #435
Hmm, I think I made a mistake while testing. It does seem to work on master for me now.
So closed by #459, will release the fix soon.

[2017-04-19 15:47] #435 closed

[2017-04-19 15:48] gaearon commented on #52
Closing as fixed by https://github.com/facebook/react-devtools/pull/459.
Will be out soon.

[2017-04-19 15:48] #52 closed

[2017-04-19 15:51] gaearon opened #608 "Followup Work for Iterable Support"
@cmmcleod sent an amazing PR for supporting iterables (including Immutable.js) in https://github.com/facebook/react-devtools/pull/459.

There’s a few remaining things which would be nice to investigate:

* We should provide a way to “load more” if there are too many items in the iterable. The arbitrary 100 item limit is a bit confusing.
* It shouldn’t be possible to edit things inside key-value pa

[2017-04-19 15:53] gaearon commented on #605
This is just the `inject` definition but who calls it? `Panel`?

[2017-04-19 16:01] felix-d commented on #605
no idea, the callstack does not say much

<img width="151" alt="screen shot 2017-04-19 at 11 57 33 am" src="https://cloud.githubusercontent.com/assets/5751476/25189535/6cd31b5e-24f7-11e7-874d-13c59dbfe3a7.png">

 the event listener creation is global and must be fired at soon as `backend.js` is evaluated. It's an entry point for this webpack build

https://github.com/facebook/react-devtools/blob/f

[2017-04-19 16:39] gaearon commented on #605
The `inject` calls I was referring to are here:

* https://github.com/facebook/react-devtools/blob/361bc0877eb1b63f66dd45aa6df34126cf2085e5/frontend/Panel.js#L216
* https://github.com/facebook/react-devtools/blob/361bc0877eb1b63f66dd45aa6df34126cf2085e5/frontend/Panel.js#L84

[2017-04-19 16:40] gaearon commented on #605
I’m not sure what the right fix is here. The backend makes an assumption that it only runs once, but it probably can run multiple times? It’s not clear where is the right place to fix this.

cc @jaredly who might provide hints on the initial design.

[2017-04-19 16:45] felix-d commented on #605
thanks for investigating @gaearon, sorry to not be of much more help here I don't JS a lot these days and I'm at work

[2017-04-19 19:02] mormahr commented on #571
I still think about doing this (because i have much use for it), but currently don't have the time to. This won't get easier with Relay 1.0, but it won't be harder either. There would have to be some way to find all created Stores, but i'm not sure how to do that without either: Modifying the relay store constructor (bad) or let the user manually set the store to some kind of global or otherwise r

[2017-04-20 11:41] gaearon commented on #388
@zinoviev Could you please resume work on this since #559 didn’t get a followup?

[2017-04-20 11:51] gaearon commented on #572
Fixed in #576, thanks @tomaszlakomygp!

[2017-04-20 11:51] #572 closed

[2017-04-20 11:59] gaearon commented on #584
Please provide a complete example reproducing this. Just adding a `null` into the component children doesn’t break it for me.

So unfortunately there’s nothing we can do to fix it, and the issue stays unsolved. If you provided an example maybe it would have been solved by now. 😉

[2017-04-20 12:03] gaearon commented on #603
Going to close because this seems like a mix of misunderstanding (“React detector” is not an official thing and I don’t know how it works) and Chrome bugs (the ones reported to be fixed by reinstalling / quitting the app).

[2017-04-20 12:03] #603 closed

[2017-04-20 12:09] gaearon commented on #594
Please provide a minimal project reproducing the issue. 😉
Otherwise how could we diagnose it?

[2017-04-20 12:22] gaearon commented on #594
If you look at the [source code](https://github.com/facebook/react-devtools/blob/c4be954d216888e57eb921004d2651e154809c19/agent/Agent.js#L117) (I just searched for the variable name you provided), you will see the check:

[code]

So if you have this issue, it means both `window.document` and `window.document.createElement` exist in your RN project.

I tried the UIExplorer example in React Native r

[2017-04-20 12:22] #594 closed

[2017-04-20 12:35] gaearon commented on #579
This was fixed by @szhongren in https://github.com/facebook/react-devtools/pull/585!

[2017-04-20 12:35] #579 closed

[2017-04-20 13:13] gaearon commented on #599
Actually, from reading the source it does seem like we strip out everything that’s more than 2 levels deep. Perhaps we could add more such heuristics (such as delaying hydreation of tails of large arrays)?

[2017-04-20 13:15] gaearon commented on #599
Marking as needing contributions. I’m not sure what the solution would be like, but we’d want to add a way to lazily trigger hydration of large (>100) arrays. This is somewhat similar to https://github.com/facebook/react-devtools/pull/569 and related to https://github.com/facebook/react-devtools/issues/608. Working on this would probably require a good understanding of how hydration and dehydratio

[2017-04-20 15:51] doytch commented on #584
For me, I can't reproduce it using React, I only see it when using Inferno and its `inferno-devtools` package to provide data to the React Devtools.

[I whipped up an example repo showing when I get this.](https://github.com/doytch/empty-string-inferno-devtools-crash) Native Inferno, not with -compat. I've also [opened a PR against Inferno](https://github.com/infernojs/inferno/pull/1037) to handle

[2017-04-20 16:50] szhongren commented on #579
First PR! Whoop.

[2017-04-20 17:01] gaearon commented on #388
Fixed in https://github.com/facebook/react-devtools/pull/554 by @zinoviev, thanks!

[2017-04-20 17:01] #388 closed

[2017-04-20 17:43] gaearon opened #611 "DevTools splitting slightly "jumps" on resizing"
Noticed this after merging https://github.com/facebook/react-devtools/pull/541.
The moment I drag the splitter, it slightly jumps.

Here’s a GIF:
![](https://d2ppvlu71ri8gs.cloudfront.net/items/3K0O2V2C3u0f2a3o0X3A/Screen%20Recording%202017-04-20%20at%2006.40%20PM.gif?v=eac8e51b)

@jolyonruss Could you take a look at this?

[2017-04-20 17:58] gaearon opened #612 ""Down" button doesn't always work in Fiber mode"
I can't navigate past some `<div>`s with the down button if the project uses Fiber. I think this is related to the hacky way I implemented fragment support (which are used in Fiber in more cases).

[2017-04-20 17:59] gaearon commented on #612
To reproduce this you'd need to use React DevTools in a project using React 16 alphas.

[2017-04-20 18:20] #529 closed

[2017-04-20 21:48] sunkarashruthi commented on #354
Hey guys,

i am a beginner to react. My broswer is not rendering the hello world that i rendered in my js file.
I am attaching two examples screenshot
![react-issue](https://cloud.githubusercontent.com/assets/13577815/25253991/3527c02e-25d8-11e7-8de9-b33a51231b2f.PNG)
![r2](https://cloud.githubusercontent.com/assets/13577815/25253996/39f6ab42-25d8-11e7-9215-c82399e1a940.PNG)

first image: i was ru

[2017-04-20 22:01] sunkarashruthi commented on #354
Also React dev tools is not showing in the console of my first image

[2017-04-21 00:40] Slapbox commented on #354
@sunkarashruthi I have run into this issue a few times and every single time it has been my own fault.

Are there any warnings or errors? That can cause this.

Is there anything that could possibly be happening in a way you don't expect that is not technically an error? In particular, check your `ComponentWillMount()`'s first and foremost.

[2017-04-21 02:36] sunkarashruthi commented on #354
@Slapbox  Thanks for responding

Yes, i see one of them

XMLHttpRequest cannot load file:///C:/Users/SHRUTHI/Desktop/practise/kode/component.min.js. Cross origin requests are only supported for protocol schemes: http, data, chrome, chrome-extension, https.

component.js
import React from "react";
import ReactDOM from "react-dom";

class Layout extends React.Component{
	render(){
		return(

[2017-04-21 07:56] laurentvd commented on #388
That's great, well done @zinoviev !

[2017-04-21 08:48] gaearon commented on #608
The last one sounds like something we'd want for arrays too.

[2017-04-21 08:50] gaearon commented on #608
In particular I think we should respect "two level dehydration" rule for both iterables and arrays according to how they're displayed in the UI. Arrays are already grouped into buckets of 100 items (if I'm not mistaken). Like in chrome. So we should make this work on dehydration side: send a list of those buckets instead of actual array if it's so large, and then load more as requested. This could

[2017-04-21 13:02] gaearon commented on #586
Yes, this is not related to React DevTools itself, and I hope the above picture is helpful!

[2017-04-21 13:02] #586 closed

[2017-04-21 13:02] gaearon commented on #532
Fixed in https://github.com/facebook/react-devtools/pull/541.

[2017-04-21 13:02] #532 closed

[2017-04-21 13:04] gaearon commented on #515
Seems like this will be solved by https://github.com/facebook/react-devtools/pull/590.
While it has some outstanding issues, I’m pretty sure I’ll merge it, so I’m closing this issue.

[2017-04-21 13:04] #478 closed

[2017-04-21 13:04] gaearon commented on #478
Closing as there was no followup info.

[2017-04-21 13:05] gaearon commented on #606
I’ll close because there’s too little information. If you provide a project reproducing this, happy to reopen.

[2017-04-21 13:05] #606 closed

[2017-04-21 13:06] gaearon commented on #584
Going to close as an issue with `inferno-devtools`. If you can repro this in vanilla React please provide a project reproducing it, and I’ll reopen. Thanks!

[2017-04-21 13:06] #584 closed

[2017-04-21 13:07] gaearon commented on #591
I’d happily review a PR adding this.

[2017-04-21 13:08] gaearon commented on #490
@kp25 Any progress so far? I want to get a fix out in the next version so if you don’t have something working yet, I might jump on it myself.

[2017-04-21 13:09] gaearon commented on #490
(Sorry I didn’t reply to your earlier comment. All discussion happens in the thread, so if nobody commented then nobody’s working on it.)

[2017-04-21 13:11] gaearon commented on #544
I’ll close because I don’t see an easy/reliable way to do this with the current architecture, and we may need to rethink it at some point in the future anyway.

[2017-04-21 13:11] #544 closed

[2017-04-21 13:22] #460 closed

[2017-04-21 13:23] gaearon commented on #460
Closing for lack of information. If you’re interested in fixing this, please contribute!

[2017-04-21 13:23] gaearon commented on #434
Closing for lack of specifics.

[2017-04-21 13:23] #434 closed

[2017-04-21 13:24] gaearon commented on #433
Closing as Relay plugin is basically unmaintained now.

[2017-04-21 13:24] #433 closed

[2017-04-21 13:26] #408 closed

[2017-04-21 13:27] gaearon commented on #383
Going to close. If you'd like to fix it, please contribute—there's nobody here with Relay knowledge to help out, and Relay team is not maintaining this extension either.

[2017-04-21 13:27] #383 closed

[2017-04-21 13:28] gaearon commented on #379
Closing in favor of https://github.com/facebook/react-devtools/issues/604 (it's a bit more fresh).

[2017-04-21 13:28] #379 closed

[2017-04-21 13:29] gaearon commented on #347
I probably wouldn't bother fixing this now. We plan to change context API in the future and it's just not worth it to expand surface area now IMO. Let's come back to this some time later.

[2017-04-21 13:29] #347 closed

[2017-04-21 13:39] gaearon commented on #336
I can't reproduce this. Assuming it was fixed.

<img width="642" alt="screen shot 2017-04-21 at 2 38 52 pm" src="https://cloud.githubusercontent.com/assets/810438/25279999/518e244c-26a0-11e7-98b5-42c7d151580b.png">

[2017-04-21 13:40] gaearon commented on #331
Going to close since Relay plugin is not really maintained by anyone. Feel free to bring it up with the Relay team if you’d like 😉

[2017-04-21 13:40] #331 closed

[2017-04-21 13:40] gaearon commented on #330
Going to be solved in https://github.com/facebook/react-devtools/pull/590.

[2017-04-21 13:40] #330 closed

[2017-04-21 13:41] gaearon commented on #299
Going to close.

[2017-04-21 13:41] #299 closed

[2017-04-21 13:43] gaearon commented on #349
This was fixed in https://github.com/facebook/react-devtools/pull/536.

[2017-04-21 13:43] #349 closed

[2017-04-21 13:56] gaearon commented on #212
There is no easy solution here IMO because “setting props” completely circumvents React lifecycle. I don’t think calling `componentWillReceiveProps()` from DevTools is appropriate here.

They will get overridden next time the parent component re-renders anyway.

Ideally we need a way to *tell* React to treat these edited props as source of truth and ignore props from the parent. I think this would

[2017-04-21 15:45] #611 closed

[2017-04-21 15:47] gaearon opened #615 "Refactor split pane bugfix to avoid magic numbers"
See https://github.com/facebook/react-devtools/issues/611 and https://github.com/facebook/react-devtools/pull/614.

I’d like to avoid magic numbers, and instead properly fix it. (Maybe we should read something from the right pane DOM node directly.)

[2017-04-21 18:53] gaearon opened #617 "Make $r point to current DOM node if DOM is selected"
See https://github.com/facebook/react-devtools/pull/616#issuecomment-296270736.

[2017-04-21 19:22] rigdern commented on #515
@gaearon Are you sure #590 will fix this? I skimmed through the PR and didn't see logic like this. This feature request is about doing some calculations on styles to show them in a friendlier format. For example, when looking at an element, it'll specifically tell you that the `width` was determined `flex` so that you don't have to inspect the parent to see what it's `flexDirection` is.

[2017-04-21 21:02] Cactucs commented on #584
(Haven't been using inferno - just saying.)

[2017-04-22 05:51] kp25 commented on #490
@gaearon I tried playing around with it, but no progress so far. Having a hard time trying to understand the whole flow; Is it possible to pair with you when you're building this feature?

[2017-04-22 22:43] gaearon commented on #490
Not sure how that would work. We’re in a bit of a hurry here so I’ll probably look at how Vue does it and try to replicate on Monday.

[2017-04-22 23:34] gaearon commented on #584
Thanks for the info. Still, it’s not really fixable without a reproducing case. 😞

My guess is that your code was throwing an error somewhere, and that corrupted internal tree representation. Maybe that error was silently caught by your code so it didn’t end up in the console. Otherwise I can’t explain this well.

[2017-04-23 00:30] mikehdt commented on #596
I would be in agreeance with this behaviour. This is in line with what the Elements tab itself does. Imagine if the Elements tab collapsed back to the <html> tag after every refresh - it'd be madness! Especially when you're building out things early-on, it's frustrating to have the React inspector constantly collapsing back up to the top-most key.

However, I can also understand that if the React

[2017-04-23 07:49] kp25 commented on #490
cool, I'll look at the PR.

[2017-04-23 08:03] shriah commented on #607
I spent some time trying to find any ticket in chrome bug tracker about this but could not find it. But this behavior is present in all the devtool extensions I tested in both Widows and macOS.

It is not just Cmd + Shift + D almost all global devtool shortcuts don't work. I have created an issue in the bug tracker. [https://bugs.chromium.org/p/chromium/issues/detail?id=714430](url)

[2017-04-23 08:10] shriah commented on #615
I have created a pull request for this that introduces a wrapper element that has no padding or margin and it contains the dragger and the right pane. This way we can set the width or height to the wrapper without worrying about the padding and margin of the children.

We needed a magic number before because we set the width of the right pane but the width we calculated was for the dragger and the

[2017-04-23 10:08] gaearon commented on #607
Great, thank you. Going to close for now as I assume this isn't our bug, but would be interesting to see how that resolves.

[2017-04-23 10:08] #607 closed

[2017-04-23 10:12] gaearon commented on #515
Hmm. I see now: #590 shows the computed sizes but you are interested in the *reasons* for how they were computed. (Is that right?)

[2017-04-23 16:16] shriah commented on #591
Added a pull request for this. It works but need to test it on a website with large number of nodes.

[2017-04-24 07:17] tomaszlakomygp commented on #572
No worries @gaearon !

[2017-04-24 16:25] #617 closed

[2017-04-24 16:38] gaearon opened #622 "Firefox displays duplicate (leaked?) instances"
The issue seems confined to Firefox version.

(You can go to `shells/firefox`, `./build.sh` there and go to Firefox > Tools > Add-ons > Debug Addons > Load Temporary Addon > `shells/firefox/react-devtools.xpi` to test it.)

When I go to https://facebook.github.io/react/, I see one copy of each root:

<img width="1109" alt="screen shot 2017-04-24 at 5 33 50 pm" src="https://cloud.githubusercontent.

[2017-04-24 22:57] rigdern commented on #515
@gaearon Yes, I want to see the reasoning behind how the width and height were computed.

[2017-04-25 12:27] Brantron commented on #596
I'm happy to see there is a workaround, but it seems like implementing this feature would fit more use cases than the current behavior. I'm not sure what the use case is to collapse the tree on reload but I would love it if we could get this feature in.

[2017-04-25 12:39] gaearon opened #623 "More than one selected item is confusing"
Selection is currently based on node IDs which can be confusing when there are several nodes with the same ID (due to search):

![](https://d2ppvlu71ri8gs.cloudfront.net/items/3U3R2Y1D1Y2o261m1m3C/Screen%20Recording%202017-04-25%20at%2001.37%20PM.gif?v=d7f014ec)

In this case it’s not clear which of them the keyboard is navigating, and it can lead to annoying jumps when they’re far enough for one

[2017-04-25 13:10] #615 closed

[2017-04-25 13:34] gaearon opened #624 "Minor UI issues with RN style editor"
Go to `packages/react-devtools-core`, do `npm run build`, then go to `packages/react-devtools` and run `npm start`.

You'll see an Electron window.
Launch any React Native app using 0.43 or later.
DevTools should connect.

Now, I noticed two issues that would be nice to fix.

### Textboxes Don’t Fit

Find a `<View>` in the hierarchy. Notice how the textbox for style value wraps because it doesn’t

[2017-04-25 13:57] gaearon opened #625 "Make component source link clickable"
It would be nice if the component source link in the right bottom corner was clickable.

I'm not sure if this is doable. Unlike "Show Source", we don't want to navigate to *function definition*, but to *`createElement` call*. We can only do so if the user has `babel-plugin-transform-react-jsx-source` plugin, but it is enabled in development for projects generated with Create React App.

All inform

[2017-04-25 14:03] gaearon opened #626 "Clicking outside context menu should not select things"
This is wrong:

![](https://d2ppvlu71ri8gs.cloudfront.net/items/0e1Z1B3q0i3U1F373m23/Screen%20Recording%202017-04-25%20at%2003.00%20PM.gif?v=749f8a04)

It doesn't match how system menus work:

![](https://d2ppvlu71ri8gs.cloudfront.net/items/3i0C3m3h1r3y0o0O1b2L/Screen%20Recording%202017-04-25%20at%2003.02%20PM.gif?v=a5c7f7ba)

While I don't want to have a system look, I think context menu should h

[2017-04-25 14:08] ioantm commented on #626
@gaearon  I would like to help to fix this issue

[2017-04-25 14:09] gaearon opened #627 "Deleting a style in RN Style Editor puts it under an empty key"
I tried deleting a style from the RN style editor by removing its key:

<img width="297" alt="screen shot 2017-04-25 at 3 07 01 pm" src="https://cloud.githubusercontent.com/assets/810438/25389578/ea3233b6-29c8-11e7-8850-130020c2cb82.png">

I would expect that the textbox pair would disappear on blur, and this particular style would be removed. However it stays, and RN complains about `''` being us

[2017-04-25 14:11] gaearon commented on #626
Sounds great!

[2017-04-25 14:24] gaearon commented on #515
I see. I don't really know enough about this to suggest anything. I'm not sure there's any programmatic way to "debug" flexbox, and if there is good prior art for this. Feel free to suggest any.

[2017-04-25 15:34] gaearon opened #628 "Rename BananaSlug plugin to TraceUpdates"
There is a "Trace React Updates" checkbox, but its implementation in code is called [`BananaSlug`](https://github.com/facebook/react-devtools/tree/master/plugins/BananaSlug). As a non-native speaker, I find it very confusing, and I forget what this plugin does every single time I touch this codebase.

Let's rename the plugin to `TraceUpdates`. This involves renaming the folder, all its files, as w

[2017-04-25 15:59] ansumanshah commented on #624
@gaearon would like to take this up

[2017-04-25 16:04] mjaltamirano commented on #628
@gaearon I'd like to work on this!

[2017-04-25 16:04] gaearon commented on #624
You got it!

[2017-04-25 16:05] gaearon commented on #628
You got it!

[2017-04-25 16:14] kiranps commented on #623
@gaearon I'd like to work on this

[2017-04-25 16:21] gaearon commented on #623
Cool, you got it.

[2017-04-25 16:34] tchaffee commented on #627
Not sure how to reproduce this. Where do I find the RN style editor?

[2017-04-25 16:36] soul-wish commented on #627
@gaearon can I try to fix this?

[2017-04-25 16:38] nanot1m commented on #625
Is it good variant to pass prop with viewSource action through the Panel component to PropState component?

[2017-04-25 16:41] soul-wish commented on #627
seems like @tchaffee was faster :)

[2017-04-25 16:47] tchaffee commented on #627
@soul-wish I don't even know how to reproduce this and it seems like it might be for React Native? If you have more of a clue than me, go for it.

[2017-04-25 16:51] gaearon opened #631 "Separate "Show Component Source" and "Show Element Definition""
This PR added "Show Source" to RN: https://github.com/facebook/react-devtools/pull/588.

However I think it's slightly wrong.

In Chrome, the button jumps to *component source*, but in Electron it currently opens *element definition*. So in Chrome you jump to `App` constructor, but in Electron you jump to `<App />` element in another file.

We should separate these two features, and gate the secon

[2017-04-25 16:55] soul-wish commented on #627
You are right, @tchaffee. As I can see the problem is in `plugins/ReactNativeStyle` module. @gaearon, correct me if I'm wrong.

[2017-04-25 17:37] gaearon commented on #627
Yes, this is for RN. I left some instructions for running RN shell here: https://github.com/facebook/react-devtools/issues/624. You can reproduce this with any RN example (for example UIExplorer in React Native repo).

[2017-04-25 17:37] gaearon commented on #627
Please sort it out between yourselves 😉
Or let me know if you’d like to untag.

[2017-04-25 17:38] #384 closed

[2017-04-25 17:38] #631 closed

[2017-04-25 17:40] gaearon commented on #625
Yes, maybe. Note I slightly tweaked related code in https://github.com/facebook/react-devtools/pull/630 because of https://github.com/facebook/react-devtools/issues/631. So you'd need to rebase on top of that. Tagging issue for you.

[2017-04-25 18:01] Tushkiz commented on #306
hey @gaearon, I have raised a PR for this at #632  It is in progress, just the zip of bundle is remaining.

[2017-04-25 18:30] nanot1m commented on #531
Is there any way to obtain fields that were before changes? It seems like Reconciler do not pass no info about previous state of element which was changed

[2017-04-25 19:22] jhen0409 opened #634 "Add `ReactNativeStyle` plugin in browser extension for react-native-web"
#629 was removed the plugin in Chrome part, but it can be used for [`react-native-web`](https://github.com/necolas/react-native-web), that will be useful because the style editor in `Elements` tab of devtools is very complicated for RNW.

We can use the storybook of [`react-native-web`](https://github.com/necolas/react-native-web/tree/master/examples) to test this, just clone it and run `yarn` and

[2017-04-25 19:29] gaearon commented on #634
Happy to take the PR!

[2017-04-25 19:35] mjaltamirano commented on #628
Hi @gaearon,

I've made the updates to all instances (folders, files, and code) of bananaslug and BananaSlug, changing them to traceupdates and TraceUpdates, respectively.

However, I am having trouble improving on the existing language like in the example you referenced. I've spent a bit of time now poking around the code and brainstorming, and `traceupdateschange` seems straightforward enough to

[2017-04-25 19:37] gaearon commented on #628
What exactly is changing there?

[2017-04-25 19:43] mjaltamirano commented on #628
store.traceupdatesState

(So perhaps `traceupdatesstorechange` or `traceupdatesstatechange` is an improvement?)

[2017-04-25 20:29] rigdern commented on #515
@gaearon I have a feature in mind and I described it in the "Solution" section in the initial issue description. If there's not enough detail, let me know and I can elaborate. If nobody beats me to it, I plan to work on a PR when I have some free time.

[2017-04-25 21:05] kwnccc commented on #622
Hey @gaearon I'd like to work on this

[2017-04-25 22:16] gaearon commented on #628
traceupdatesstorechange seems ok to me. (If there is such a store.)

[2017-04-26 02:35] pastelsky opened #636 "A more maintainable way to styling react-devtools"
First of all, it's great to hear that the react team is focusing on improving react devtools. As a contributor to this project, one of the major limitations I faced when trying to improve the look and feel was the fact that most of the styling in devtools is done using inline styles.
The issues are -
1) Hard to maintain consistent styling across different components.
2) Writing css for simple thin

[2017-04-26 03:46] mjaltamirano commented on #628
I opted for `traceupdatesstatechange` since it concerns the `traceupdates` slice of state in the store, so I believe the aforementioned `traceupdatesstorechange` suggestion on my part was inaccurate/incorrect. Please see PR #637 for more details!

Thank you for the advisement! Let me know if you have any questions or requested follow-up!

[2017-04-26 06:26] Tushkiz commented on #612
Hey @gaearon,

I tried to reproduce this issue, it is working for me.
I am using 16.0.0-alpha.3 and created an app with 'create-react-app'

[2017-04-26 08:16] gaearon commented on #612
I'll see if I can get a full example reproducing this. I think it happened for me when going "down" into an array.

[2017-04-26 08:52] radubrehar opened #638 "Add `==$r` suggestion in inspect tree for currently selected node"
In chrome devtools the currently selected node displays a `== $0` faded text besides it.
React Devtools would need to display it like `== $r` - see image below.

 ![59b3e2d8-29d9-11e7-8f74-c5c414a1e0b3](https://cloud.githubusercontent.com/assets/196656/25426015/7f5f5b64-2a76-11e7-99bb-8fd880937f1b.png)

Also relates to #618

[2017-04-26 09:23] Tushkiz commented on #612
Ohh, with an array I see that while going up, it jumps to the first element from that array. I think these are related.

![going_up](https://cloud.githubusercontent.com/assets/1854763/25427310/c785987c-2a8f-11e7-8235-96b6f3fd1b2d.PNG)

Example:
[code]

But if I wrap those array elements, it works.

[code]

[2017-04-27 13:49] #628 closed

[2017-04-27 16:07] gaearon commented on #466
Tagging this as a good contribution opportunity. We already have the ability to highlight React components—we do that on hover. So I imagine it should be possible to do it the other way around, although I don’t know how.

[2017-04-27 17:17] clarkbw commented on #524
[bug 1300587](https://bugzilla.mozilla.org/show_bug.cgi?id=1300587) has been fixed and is on target for Firefox 54 which goes live to release on June 13th.  Now is probably a good time to get started on this work.  Let me know how I can help.

[2017-04-27 17:29] clarkbw commented on #108
I filed [bug 1360281](https://bugzilla.mozilla.org/show_bug.cgi?id=1360281) to implement the same WebExtension API.

[2017-04-27 22:16] gaearon commented on #636
I'm totally open to this. Any particular solutions you have in mind? I kinda like styled-components, seems like best of both worlds.

[2017-04-28 05:42] bvaughn commented on #447
Seems like maybe this issue can be closed due to lack of info?

[2017-04-28 09:23] gaearon commented on #447
Yea, going to close this, but please let us know if you can share a reliable way to reproduce it!

[2017-04-28 09:23] #447 closed

[2017-04-28 10:47] jomahoney commented on #638
I'm gonna jump on this if y'all don't mind

[2017-04-28 10:59] gaearon opened #643 "Search UI Followup Work"
Spillover from https://github.com/facebook/react-devtools/pull/641.

- [ ] Only search at word boundaries (see related PR #664)
- [ ] Debounce the input
- [ ] Perhaps, improve the ranking algorithm
- [ ] When resizing the window, there are several jumps (search bar jumps on second line -> search bar jumps back on first line, but split window layout changes -> search bar jumps on second line again)

[2017-04-28 12:46] gaearon opened #645 "How does $r work with functional components?"
I noticed an oddity: accessing the `($r in the console)` message is displayed for functional components too, and I get an internal representation as a result:

<img width="955" alt="screen shot 2017-04-28 at 1 45 46 pm" src="https://cloud.githubusercontent.com/assets/810438/25529197/01e458d4-2c19-11e7-98a2-0ac3417a0c3f.png">

This will likely break with Fiber.

Should we just expose a dummy object

[2017-04-28 13:00] DomVinyard commented on #67
+1

[2017-04-28 15:38] clarkbw opened #647 "webpack command isn't found when following shell/chrome/readme instructions"
Filing some issues as I get started.  Apologies if I have some setup issue here.  I know some people have path tricks to get the local `node_modules/.bin/` added into their PATH but I'm not even sure that would work in the current directory setup.

From the [Chrome shell README](https://github.com/clarkbw/react-devtools/blob/master/shells/chrome/Readme.md#the-chrome-plugin)

The `webpack` command

[2017-04-28 16:29] clarkbw commented on #524
I was checking this out today on Firefox 54 (DevEdition) and things mostly work https://twitter.com/clarkbw/status/857979112119349249

However I'm not sure what would be the best way to proceed.

@gaearon do you have any thoughts?

I'm able to run the Chrome extension as is in Firefox and it would likely take some modifications (still need to investigate them all) to make sure things look normal a

[2017-04-28 17:15] gaearon commented on #647
Yes, these instructions are from two years ago when nobody knew how to use npm scripts. Sorry 😞

Ideally this would all be done via npm scripts. I'm using `./build.sh` in the same directory but it’s also bad because it doesn’t work on Windows.

If you could convert build scripts to use npm scripts (and explicit Node scripts when necessary) that would help.

I think @Tushkiz started working on this

[2017-04-28 17:22] gaearon commented on #524
What you suggest seems sensible. Need to know the impact of the changes to tell for sure.

[2017-04-28 17:25] gaearon commented on #634
Fixed in #646.

[2017-04-28 17:25] #634 closed

[2017-04-28 17:41] gaearon commented on #596
I totally agree this should be implemented. Just needs someone willing to figure out how to do it.

[2017-04-28 18:00] clarkbw commented on #647
Thanks @gaearon! Looks like #632 is a good place to build off of.

[2017-04-28 19:03] gaearon commented on #562
I think we can do it now. I’m not sure what’s the best way to detect a DEV version but happy to hear proposals. Would be nice if it worked without changes to React itself.

[2017-04-28 19:04] gaearon commented on #490
This was fixed in https://github.com/facebook/react-devtools/pull/642.
Yay!

[2017-04-28 19:04] #490 closed

[2017-04-28 19:07] gaearon commented on #580
Going to close, as people report it works on Windows 10.
Might have been a temporary Chrome issue.

The new version also adds a link to troubleshooting instructions so hopefully this helps for cases where this was caused by a misunderstanding (e.g. `file://` URLs need special permissions).

Let me know if you can reliably reproduce this on a specific website with recent versions!

[2017-04-28 19:07] #580 closed

[2017-04-28 20:15] clarkbw commented on #524
Writing out some notes here, I'll probably just keep updating this comment.

### manifest.json

Need to modify the `manifest.json`, possibly at the build step to include this for Firefox only

[code]

The [application](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/manifest.json/applications) field will work in Chrome but Chrome will complain about it being in the manifest so I'd rather

[2017-04-28 20:15] agustif commented on #636
I forked this atom package in order to remove a deprecation, it has a good structure for themes and includes 3 dark themes already great!

https://github.com/agustif/dev-tools-dark/tree/master/themes

Maybe we can recycle some stuff?

[2017-04-28 21:19] samit4me opened #648 "Waiting for roots to load..."
Today I saw a tweet by @gaearon *"[Anybody with Windows 10 who could test it?](https://twitter.com/dan_abramov/status/858033145614086145)"* and I have Windows 10, so I thought I'll give it a go. First I tried a couple of my own apps and all was good, the icon would light up and the react tab would appear for sites with react 👍

After that, I switched over to `https://<chatroom>.slack.com` and I no

[2017-04-28 21:43] davidascher opened #649 "On switching to react tab, devtools no longer looks for the closest component"
STR:

- go to http://todomvc.com/examples/react/#/
- show dev tools
- using DOM inspector, pick a deep node
- switch to react dev tools tab

Expected: the closest React component is selected in the component tree
Actual: the top of the react tree is selected.

this seems to be a regression in 2.1.2.  I believe it was working in 2.0.2

[2017-04-28 21:43] samit4me opened #650 "The React tab stays in DevTools even when switching to a website not using React"
Was able to get the react-devtools stuck with the message "Looking for React..."

Steps to reproduce:
* Visit https://www.facebook.com/ in Chrome
* Open the Chrome devtools
* react-devtools icon should be light up and the react tab visible *(as expected)*
* Now click the react tab and it should work *(as expected)*
* Then change the URL to https://www.google.com/
* react-devtools icon "grayed out"

[2017-04-28 21:47] davidascher commented on #649
Hmm.  This seems to be a side-effect of a bigger bug, which is that the 2.1.2 devtools seem to "lose" contact w/ the updating DOM (in a CRA context for example), and then it doesn't update in any way.

Closing as this bug isn't useful as is.

[2017-04-28 21:47] #649 closed

[2017-04-28 22:38] wietsedevries opened #651 "Uncaught ReferenceError: performanceNow is not defined"
After hours of pulling my hair I found that React developer tools causes a referenceError on sites using Relay.  [`Check example`](http://facebook.github.io/relay/prototyping/playground.html#/) No idea why, but haven't experienced this issue before today.

![Image of error](http://wietsedevries.eu/assets/images/relay.png)

[2017-04-29 00:00] ethulia commented on #651
This is affecting us too. No one with react dev tools installed can use our site :(

[2017-04-29 00:07] Rodeoclash commented on #651
Confirm that I'm getting this as well, looks like something broke in the last release.

Like @wietsedevries I'm using Relay so perhaps related to that.

[2017-04-29 09:14] davidfurlong opened #653 "value: NaN being displayed as null"
![screen shot 2017-04-29 at 11 13 21](https://cloud.githubusercontent.com/assets/614768/25554406/f23eb96a-2ccc-11e7-87bd-785ea3f845bf.png)
![screen shot 2017-04-29 at 11 13 27](https://cloud.githubusercontent.com/assets/614768/25554407/f248548e-2ccc-11e7-8d75-4496fd40483a.png)

[2017-04-29 14:24] timsuchanek commented on #651
Same here. We're using Relay `0.9.3`. Also no one with dev tools can use our app anymore :/

[2017-04-29 14:38] gaearon commented on #651
I'm sorry about that, I screwed up. The issue was fixed in latest update (released about 30 hours ago) so the issue will go away when people's addon gets updated. Chrome does this automatically.

[2017-04-29 14:39] gaearon commented on #651
Can you verify that your sites work with React DevTools 2.1.3 (latest version)?

[2017-04-29 14:55] gaearon commented on #651
Going to close this as I assume they do, but let me know if not!

[2017-04-29 14:55] #651 closed

[2017-04-29 14:56] gaearon commented on #650
Oh, I see. This is because it's the same tab right? This doesn't happen when you open Google in a new tab, does it?

[2017-04-29 14:58] gaearon commented on #653
Thanks for reporting. The underlying issue is https://github.com/facebook/react-devtools/issues/582 if I understand it correctly. Would you like to work on fixing it?

[2017-04-29 15:03] timsuchanek commented on #651
@gaearon thanks for the fast reaction! It is indeed fixed in 2.1.3.
In the meantime until all plugins are updated, we btw use this small workaround:
https://github.com/csnover/TraceKit
and
[code]

[2017-04-29 15:29] samit4me commented on #650
Yes that's correct, the issue only occurs when changing the url in the **same tab**.

Correct, if you open the Google url in a new tab it doesn't happen.

[2017-04-29 15:34] gaearon commented on #650
Tagging as a good first issue to look into. My suspicion is we only show the tab, but never tear it down. We should probably tear it down when we load a new page.

[2017-04-29 15:50] davidfurlong commented on #653
@gaearon I can give it a try

[2017-04-29 16:40] davidfurlong commented on #582
@gaearon
Took at a look at transit-js & using it here.
Potential issues with it:
- https://github.com/cognitect/transit-js/issues/10 (I.e. converts undefined to null)
- It converts Objects into its own type of objects, and parsing them back to plain JS objects requires nested calls of http://cognitect.github.io/transit-js/classes/transit.html#methods_transit.mapToObject

Are there any alternatives

[2017-04-29 16:54] gaearon commented on #582
Interesting. I am not aware of alternatives but I'm fairly sure somebody must have solved this problem before.

[2017-04-29 16:55] davidfurlong commented on #582
Theres also http://msgpack.org/ but that seems to be more concerned with compression than with consistency across null/undefined/NaN

[2017-04-29 17:34] davidfurlong commented on #582
Okay I've modified the JSON2 parse and stringify functions to support undefined, NaN, Infinity, -Infinity. They were omitted from JSON because they are references to their global respectives (I think properties of the Number type) and hence aren't expressions, but references. I think disregarding the security problems/ spec will work for our use case.

https://github.com/davidfurlong/JSON-js

[2017-04-29 18:19] gaearon commented on #83
Immutable support is implemented in the latest version.

[2017-04-29 18:19] gaearon commented on #52
Immutable (or any iterable, really) support is implemented in the latest version.

[2017-04-29 18:30] samit4me commented on #650
Would you be happy for me to try and fix this? I don't know the codebase but keen to learn it.

[2017-04-29 18:46] gaearon commented on #650
Sure, give it a try! You’ll want to look specifically at `shells/chrome` for this. I don’t really know how that part works either.

[2017-04-30 02:45] pastelsky commented on #636
I'm a little skeptic about CSS in JS because -
1) Auto complete/Intellisense / Editor Warnings  don't work
2) Not sure if there are simple alternatives to mixins, variables other scss features.
3) It ships with a runtime, so the performance when styles update is a concern.

 I don't know what use case CSS in JS tries to solve. We could use CSS modules if we wanted local styling, or just use SCSS s

[2017-04-30 11:33] gaearon commented on #608
Friendly ping to @cmmcleod, do you still intend to work on this?

[2017-04-30 12:50] shriah commented on #608
I just tested this and arrays not grouped into buckets.
<img width="554" alt="screen shot 2017-04-30 at 6 18 12 pm" src="https://cloud.githubusercontent.com/assets/3917104/25564467/8586721c-2dd1-11e7-8fbe-5fad081d4e62.png">

[2017-04-30 14:38] gaearon commented on #608
Thanks for checking. Then we need to implement this for both. Would solve https://github.com/facebook/react-devtools/issues/599 too!

[2017-04-30 14:44] shriah commented on #608
I also found a small bug here
https://github.com/facebook/react-devtools/blob/90b8b257ae659c7dbf759e3a3feeb561e6863f4a/agent/dehydrate.js#L38
It should be
`if ( typeof data[Symbol.iterator] === 'function') {`
 because of which it was possible to edit the iterable objects.

[2017-04-30 14:48] shriah commented on #608
I also think we should refactor `Bridge.js` and move this code to `dehydrate.js`

https://github.com/facebook/react-devtools/blob/90b8b257ae659c7dbf759e3a3feeb561e6863f4a/agent/Bridge.js#L410-L422

[2017-05-01 09:23] yuval123123 opened #659 "i have a bug when i try to use react tool"
Uncaught Error: findComponentRoot(..., .0.0.0.0.0.0.2.0.0.0.$0=10.0.1.0.2.$0.$/=11.0.$=10.0): Unable to find element. This probably means the DOM was unexpectedly mutated (e.g., by the browser), usually due to forgetting a <tbody> when using tables, nesting tags like <form>, <p>, or <a>, or using non-SVG elements in an <svg> parent. Try inspecting the child nodes of the element with React ID ``.

[2017-05-01 13:43] gaearon commented on #648
Another data point: I think you’ll see this message **if React is on the page but no React components are mounted**. At least that’s my impression from why it fires up on https://facebook.github.io/react/tutorial/tutorial.html.

Regardless, we should change the message to say something like:

[2017-05-01 14:27] clarkbw commented on #524
Really small amount of changes other than what is required above.  Here's my branch so far: https://github.com/facebook/react-devtools/compare/master...clarkbw:firefox-webextension

[2017-05-01 16:56] JayRenteria opened #661 "Having Dev Tools open causes error/breaks app with findComponentRoot(): Unable to find element"
After the latest update, it seems that having react dev tools open while working locally on my project is causing the following error to occur:
<img width="1665" alt="console-error" src="https://cloud.githubusercontent.com/assets/8893429/25586346/2eaf7dd6-2e5c-11e7-93cb-fd6d6fe6a8ea.png">

There does not seem to be anything specific that makes it happen, it seems that if I have the dev tools open

[2017-05-01 17:36] gaearon commented on #524
That's awesome! Want to send a PR?

[2017-05-01 17:44] clarkbw commented on #524
I've got one bug with left with... flexbox.  When something in the Inspector sizes beyond the available space it pushes the sidebar and window out instead of running underneath the sidebar.  I don't see this behavior when I run it in a tab, only when I'm running it in a panel.

I'm looking at the differences between the [Firefox panel CSS](https://github.com/facebook/react-devtools/blob/master/she

[2017-05-01 18:16] gaearon commented on #661
Can you provide a minimal project reproducing the issue? It’s very hard to say something otherwise.
(The issue template you ignored is asking about this 😉 )

[2017-05-01 18:18] eddiesanmarco commented on #661
I'm also having issues with this same exact error. It's on any virtual DOM change (includes mounting data).

[2017-05-01 18:18] gaearon opened #662 "Add an update nudge to the CLI version"
The Electron version (`packages/react-devtools`) is often installed globally, so we should add an updating nudge that prints a message when a newer version is available.

`update-notifier` is a good package that already knows how to do this so we should just integrate it there.

[2017-05-01 18:18] gaearon commented on #661
Please provide a project and I’ll be happy to look into this.

[2017-05-01 18:21] eddiesanmarco commented on #661
I can't really provide an entire project on this. It happens on every instance of React working with the DOM on every project I have. If I turn off the extension then my projects load/work fine.

[2017-05-01 18:23] gaearon commented on #661
I am not asking you to share your entire projects. I'm asking you to provide a *minimal reproducing example*, which is common in any bug tracker, both as a common courtesy and as a way to ensure your issue gets fixed faster (and the right thing gets fixed). If you can really reproduce this on every project, it shouldn't take more than a few minutes for you to create a new project with something li

[2017-05-01 18:26] gaearon commented on #661
(I know the likely cause, which is https://github.com/facebook/react-devtools/pull/619, and we can work around it, but it's also likely this is surfacing a legitimate bug in your application, although in a weird way. I would like to know the exact cause before putting a patch to work around it, so this is why I’m asking for a repro case.)

[2017-05-01 18:35] eddiesanmarco commented on #661
I'm sorry I can't replicate it for you, I hope someone else has the ability to do so. What I will say if it was a bug in my application I find it strange that someone else would have the exact same error as I do. Also I have a production version & staging which is exactly the same with the exception of that I had your extension enabled on the staging version.

Hopefully its #619 although that look

[2017-05-01 18:39] gaearon commented on #661
With the size of the React userbase, it is very common that multiple people have the same app issue (e.g. invalid DOM nesting) which triggers the same runtime behavior.

No, what I’m saying is #619 is what is *causing* the issue. My guess is it is an application bug (invalid DOM nesting) that was dormant, but #619 made it visible. You’d likely get the same exact issue in your app without DevTools

[2017-05-01 19:02] clarkbw commented on #524
To get the `manifest.json` pieces working here are some options:

1. Land the [required changes to the `manifest.json`](https://github.com/facebook/react-devtools/compare/master...clarkbw:firefox-webextension-manifest) file and add notes to the README that describe the Chrome warning people will see when developing the extension in Chrome (I don't believe you would see this as a regular extension

[2017-05-01 20:56] gaearon commented on #524
I probably wouldn't *wait* for #632 to land, but I would make it so that we still have two folders.

[2017-05-02 00:55] bdorsey16 commented on #661
+1 on this issue as I struggled with the findComponentRoot error all day only to finally realize it only ever happened when I opened react-devtools as it would delete the node I was looking at once I was done with it. I haven't had a chance to make a sample project to replicate it yet.

[2017-05-02 09:00] JaxonDvl opened #665 "Search by component name disappeared"
The feature for Searching by component name disappeared from React Dev Tools, before it was there and working fine on the same project with the same configuration. Any fix for this ?
![screen shot 2017-05-02 at 11 59 49](https://cloud.githubusercontent.com/assets/4042136/25611218/ec1cd3f0-2f2e-11e7-92f2-0c708bc52d2f.png)

[2017-05-02 12:41] nikolov-tmw commented on #661
@gaearon I've managed to create a completely minimal example. You can see it here - http://s.codepen.io/nikolovtmw/debug/zwzwdK/VJMxxZZYVRZM

Steps to reproduce:
 1. Load pen from above(without developer tools).
 2. Click on `click me`
 3. `Does it work?` should show up under `click me`
 4. Reload page
 5. Open React Devtools
 6. Click on `click me`
 7. Watch in horror the uncaught Error that brea

[2017-05-02 12:54] gaearon commented on #661
Thanks for the CodePen! Will take a look now. 👍

[2017-05-02 13:55] iamdustan commented on #665
It’s still there just moved to the top-right.

![untitled drawing](https://cloud.githubusercontent.com/assets/227879/25620697/4221efe0-2f1d-11e7-9b67-6f0643209101.jpg)

[2017-05-02 14:06] #661 closed

[2017-05-02 14:41] gaearon commented on #661
This will be fixed in 2.1.4.

You can get it from a zip file if you don’t want to avoid for it to appear in the Chrome store. (Extensions > check Developer mode > unzip, choose Load unpacked extension).

But I expect it will appear within an hour.

Thanks again to @nikolov-tmw for providing a reproducing case.

[react-devtools-chrome@2.1.4.zip](https://github.com/facebook/react-devtools/files/9707

[2017-05-02 14:47] gaearon commented on #591
Fixed via https://github.com/facebook/react-devtools/pull/621.
Will be out whenever we cut the next patch (probably in a week or so).

[2017-05-02 15:01] gaearon commented on #665
It moved to the right top corner of the left pane.

https://github.com/facebook/react-devtools/blob/master/README.md#search-bar

![](https://raw.githubusercontent.com/facebook/react-devtools/master/images/devtools-search-new.gif)

[2017-05-02 15:01] #665 closed

[2017-05-02 15:40] JayRenteria commented on #661
Thanks everyone, sorry I was unable to provide a minimal project in a timely manner, many thanks to @nikolov-tmw for doing so!

[2017-05-02 18:27] soul-wish opened #668 "React Native Style Editor UX issues"
Hi, everyone!
As a follow-up to conversation in #627

---

1. There are some inconsistencies in style editor UI (some paddings, input's layout etc.). But I've checked other issues/PR's in the repo and saw that all these issues will be fixed in the nearest future;

---

2. It would be really cool to be able to navigate to the style value by pressing tab key on the keyboard. Now there is only one in

[2017-05-02 21:46] samit4me commented on #648
Okay thanks for that, after looking at the code it makes sense to fix this in #655. I'll push an update tonight as part of a small refactor.

[2017-05-02 22:01] gaearon commented on #562
Fixed in https://github.com/facebook/react-devtools/pull/667.

[2017-05-02 22:01] #562 closed

[2017-05-02 22:41] gaearon opened #672 "Differentiate between lack of envification and lack of minification"
Currently we show the DEV icon and popup both if the code isn't envified, and if it's not uglified.
https://github.com/facebook/react-devtools/pull/667

I believe we should still highlight both issues, but we should probably change the popup text depending on which issue we hit.

Envifying is important to switch React to a faster mode. Uglifying is important both for shipping less bytes and for cu

[2017-05-02 23:46] iddan opened #673 "React.PropTypes.oneOf() to show <select> with the options described"
As oneOf allows only exact values React DevTools shouldn't provide option to insert invalid values

[2017-05-03 12:10] #672 closed

[2017-05-03 12:22] tsriram commented on #662
I'll take a look at this.

[2017-05-03 15:57] gaearon opened #676 "Proposal: Dim Components with Parens in Name"
Inspired by https://github.com/facebook/react-devtools/pull/503, I want to propose a super simple heuristic for making HOCs less prominent.

How about we just dim the components in the tree that have `(` or `)` in their names? These are always HOCs, as people commonly use `X(Y)` convention like `Connect(App)`, `Relay(FeedItem)`, or `withStyles(Button)`.  You can’t accidentally put parens into the

[2017-05-03 16:32] mattvagni commented on #676
Can I take this on? I think this could feel really nice and it seems like a good first bug to get to know how the dev tools are built.

[2017-05-03 16:33] neeharv commented on #676
I'd like to prototype something out, if no one else has started work on this.

I like the idea of dimming it out, but I'm worried for people new to react dev tools it might look "disabled". Let me try a few styles out and send screenshots.

[2017-05-03 16:34] gaearon commented on #676
Seems like @mattvagni got there first!

[2017-05-03 16:35] gaearon commented on #676
(But seriously, feel free to prototype and collaborate. I’m not sure if this is viable, but it may work if someone figures out a good balance.)

[2017-05-03 16:49] mattvagni commented on #676
Initial impressions is that it works pretty well just dimmed out.

<img width="616" alt="screen shot 2017-05-03 at 5 44 29 pm" src="https://cloud.githubusercontent.com/assets/1372762/25671505/32844f9a-3028-11e7-9fad-7a36d799cb69.png">

However it would need some more consideration when searching:
<img width="1440" alt="screen shot 2017-05-03 at 5 48 08 pm" src="https://cloud.githubusercontent.com/

[2017-05-03 20:32] clarkbw opened #679 "sender.tab.url is undefined in Firefox"
This is odd.

The [Tab object](https://developer.chrome.com/extensions/tabs#type-Tab) inside the [MessageSender](https://developer.chrome.com/extensions/runtime#type-MessageSender) object returned from the [chrome.runtime.onMessage](https://developer.chrome.com/extensions/runtime#event-onMessage) event shouldn't include a URL unless the extension requested the `tabs` permission.  The MessageSender

[2017-05-03 22:08] bdorsey16 opened #680 "DEV Version Check Incorrect"
On our production version of our react app, the devtools build checker reports it to be a development build although it is very much a production build. We're currently on react 0.14.7 (I know, it's old) but I'm curious if the reason it's doing that is because the dated version of our react app?

[2017-05-03 22:45] arturmuller commented on #676
I would love a "Hide Wrappers" checkbox!

[2017-05-04 05:22] bvaughn commented on #680
Hi @ bdorsey16,

We're currently check for 2 things:
* Has the code been envified? This is important because it prevents code that is intended for development only (eg developer hints and debug warnings) from executing.
* Has the site been uglified? This reduces the size of your code (so that it loads faster) and removes development-only blocks (dead code) as well as some try-catches which would c

[2017-05-04 06:30] iamstarkov commented on #604
@gaearon what do you mean by mockup?

[2017-05-04 10:56] gaearon opened #681 "DevTools crashes on a website with large number of components"
As reported [here](https://twitter.com/ryanflorence/status/860014340107255808):

[2017-05-04 10:58] gaearon commented on #681
Tagging as good first bug. The actionable work here is to assess *what* is causing performance issues. For example, you could completely remove the panel rendering, and test if it is still crashing. If not, maybe it’s the amount of DOM nodes. Or maybe it’s how many messages we pass between the page and the extension. Maybe we can cut some overhead there by passing less messages, or including less

[2017-05-04 10:59] gaearon commented on #680
It is. The "development" and "unminified" are two different messages now.

@bdorsey16

If you can provide a URL to your app I can take a look to verify it isn’t a false positive. I do think it’s likely you have something misconfigured though.

[2017-05-04 12:08] MrEfrem commented on #648
I also have the same issue. But I have a mounted components on the page. Specifics of my case what I to inject React components in websites. I have opened this websites in the separate iframe.

[2017-05-04 12:11] pioul opened #682 "Dev Tools + `ReactDOMServer.renderToStaticMarkup()` throws "React DOM tree root should always have a node reference""
Starting one day ago, which seems to coincide with the latest release of the React Dev Tools on Chrome, I've started seeing the following error in a project that makes a few calls to `ReactDOMServer.renderToStaticMarkup()` for rendering static markup inside html tooltips.

[code]

Seeing the React Dev Tools in the trace, I flipped it on/off and tried to repro, expecting to see a correlation. It wa

[2017-05-04 12:14] samit4me commented on #648
Did you have a URL or some code you can share? Would be good to find the root cause.

[2017-05-04 12:32] MrEfrem commented on #648
No. I work on the private repo.

[2017-05-04 12:41] MrEfrem commented on #648
If I have opened the iframe URL in a new browser tab, then it is work. I have a parent URL and a iframe URL with different ports. Maybe it causes a problem.

[2017-05-04 13:01] gaearon commented on #682
Do you mean you’re calling `ReactDOMServer.renderToStaticMarkup()` on the client?

[2017-05-04 13:29] #682 closed

[2017-05-04 13:38] pioul commented on #682
👍 We do so to generate safe HTML and feed it to a util that only accepts HTML strings, a use-case for which I've seen `ReactDOMServer.renderToStaticMarkup()` being suggested by some React contributors – hopefully that remains safe to use on the client in the future. Thanks for the quick fix in #683!

[2017-05-04 13:44] gaearon commented on #682
I wouldn't recommend it because ReactDOMServer is basically a complete separate reimplementation of ReactDOM in the future versions.

Instead, you can use `ReactDOM.render()` to render into an element, and then read its `innerHTML`.

(This is unrelated to the fix—just suggesting a recommended approach.)

[2017-05-04 13:53] gaearon commented on #679
I'm cool with this.

[2017-05-04 13:54] gaearon commented on #682
This is fixed in 2.1.7 which will appear on Chrome addon store within an hour.
You can check if it's updated yet here:

https://chrome.google.com/webstore/detail/react-developer-tools/fmkadmapgofadopljbjfkapdkoienihi

Cheers!

[2017-05-04 13:58] pioul commented on #682
That's great advice, we'll probably end up doing that. Thanks a bunch for that and the speedy new release! 👌

[2017-05-04 14:21] gaearon commented on #648
@MrEfrem Extension won’t work across iframes. From README:

[2017-05-04 14:34] ansumanshah opened #684 "[RN] Custom Debugger for Remote JS debugging"
Can we add an option for custom [debugger](https://facebook.github.io/react-native/docs/debugging.html#debugging-using-a-custom-javascript-debugger) in the standalone electron package?

Just like [`react-native-debugger`](https://github.com/jhen0409/react-native-debugger) as we have to open chrome for JS debugging, devtools for Inpecting React Components and one more tool if we use state managemen

[2017-05-04 14:38] MrEfrem commented on #648
@gaeron I thought it issue about the standalone version. I use standalone of course and I receive this error in the Electron App.

[2017-05-04 14:54] gaearon commented on #684
Can you explain what would this entail on our side and how it would work?

[2017-05-04 15:21] plus- opened #686 "No longer work since last update"
I know this is not very informative but since today the tab is showing "connecting to React..."  but never displays the elements.

I can see the plugin displaying the "This page is using the development build of React. " message, can't remember seeing that in the past.

[2017-05-04 15:39] ansumanshah commented on #684
Maybe @jhen0409 will be able to explain in detail on what would this entail.
We could just add a Plugin for this and a flag to turn it on.

I believe this would help us get the debugger for react-native inside the electron app, that will maybe help the debugger to always be in the foreground when debugging js bundle.

RN default Chrome Debugger
<img width="1280" alt="screenshotb" src="https://clou

[2017-05-04 16:00] bvaughn commented on #686
Sorry to hear the devtools aren't working well for you. Could you provide a little more info, such as:
* Which browser you're using them in?
* Which website you're trying to connect to unsuccessfully?

The "development build" message was a recent addition.

[2017-05-04 18:36] lukeknep commented on #83
@gaearon Thanks for digging into this. Is the latest version released? I just updated to 2.1.7 (released today) and am still seeing Immutable Maps and Records visualized like arrays of size-2 arrays (rather than key / value pairs).

[2017-05-04 18:41] mansarip opened #687 "Meteor + React : This page is using the development build of React"
The extension (chrome) still telling me that I'm running in development mode.

I have build the app with `meteor build`.

and also set `NODE_ENV=production` as well.

But still it tells me the same thing. Is there anything I can do to change the flag from development to production?

[2017-05-04 20:20] bdorsey16 commented on #680
@bvaughn

It does say it's a development build so I guess that updated messaging is working.

@gaearon

Url is: https://blooom-consumer-staging.herokuapp.com. It's a staging link but it's deployed as though it's production. We run `webpack -p` during deployment which uglifies etc.

[2017-05-04 20:24] bvaughn commented on #680
Your code does seem to have been minified but doesn't seem to have had dead code stripped. For instance, this is in your bundle:
[code]

[2017-05-04 20:26] bvaughn commented on #680
By the way it looks like you're leaking some private things you don't want to be in your bundle.

[2017-05-04 20:39] bdorsey16 commented on #680
Thanks, I'll definitely be cleaning that up. Any hunches as to why the dead code isn't stripped?

[2017-05-04 20:41] bvaughn commented on #680
If you're running through uglify, I assume you've maybe disabled `compress`? I think that's the option that does dead code elimination.

[2017-05-04 20:44] bvaughn commented on #680
It seems like maybe your envify settings aren't correct though as well. I would expect to see `"production" !== "development"` or something similar (the `process.env.NODE_ENV` portion of your env) rather than the entire `process.env` hash

[2017-05-04 20:52] ericm546 commented on #687
I have the same issue here and I was wondering if it's a bug with react-devtools or if meteor is really running react in development mode.

I test running their sample with the meteor --production command and I have the warning. https://github.com/meteor/simple-todos-react

[2017-05-04 21:00] iamstarkov commented on #676
related #604

[2017-05-04 23:59] deepak-jacob commented on #687
This is where my debugger is hitting.

<img width="552" alt="screen shot 2017-05-05 at 00 27 10" src="https://cloud.githubusercontent.com/assets/430289/25728886/c903ae14-3129-11e7-8fb8-b81aa2c791fc.png">

comment says,

- PROD build without proper dead code elimination.
- empty shim.

`meteor build` not doing dead code elimination, thats why it is not considered as proper production builds.

[2017-05-05 01:06] mansarip commented on #687
I suspect the dead code issue is the problem here.

Tried this https://github.com/ssrwpo/uglifyjs2 and it's working fine now.

Remove `standard-minifier-js` from meteor and replace with `uglifyjs2`.

I'm closing this, as this is nothing to do with devtools I guess. Btw thanks @deepak-jacob for your reply. Appreciate that.

[2017-05-05 01:08] #687 closed

[2017-05-05 03:14] prasanna1211 opened #688 "Development mode"
This is more of clarification than issue. I have forked the repo and trying to do some changes to it. I was trying to edit standalone.js in devtools-core/src. But it has jsx code which is transpiled by npm build and it is present in .js format inside devtools-core/build. So during development should I build for every single change to debug ? Also I feel Readme can have a more information about it.

[2017-05-05 03:25] bvaughn commented on #688
Maybe buried a little, but try following the development instructions here:
https://github.com/facebook/react-devtools/tree/master/packages/react-devtools#developing

[2017-05-05 03:38] prasanna1211 commented on #688
Ah. Thanks.

[2017-05-05 03:39] bvaughn commented on #688
😄  No problem

[2017-05-05 03:39] #688 closed

[2017-05-05 04:41] azizhk opened #689 "Errors in console when using with requirejs"
We use react with requirejs bundler.
[code]
Has anything changed regarding the check if website uses react? Like maybe before the check was on 'load' or documentComplete event but is now is on every script addition.

The issue is the the check looks first for `window.React` if not found looks for `window.require` and then sees if `require('react')`
Now in our development build window.require is se

[2017-05-05 09:12] jameslnewell opened #690 "Code minified with babili get the red icon"
[`babili`](https://github.com/babel/babili) definitely doesn't give as-good results as `uglify`, but it works with the latest language features. Is it intentional that the plugin highlights it as not minified?

[2017-05-05 09:49] cypherq commented on #681
Hello, I saw your Twitter conversation and I hope I can help somehow.

I've checked this and basically it's crashing after trying to render X nodes. I can say it's strictly related to rendering and memory / CPU consumption is kind of consequence. I've checked what Chrome DevTools are doing when we have 500+ nodes, basically they show button which will show another batch of nodes:

![screen shot 20

[2017-05-05 11:54] gaearon commented on #681
Thank you for checking! I think @bvaughn was looking into using `react-virtualized` but this seems like a much simpler solution in the meantime. Would you like to implement this "show all" button?

[2017-05-05 11:56] cypherq commented on #681
Sure! Will get back with PR.

[2017-05-05 13:44] ngyikp commented on #690
Is there a sample minified output so someone else can verify?

The code logic to determine production/development/unminified is at https://github.com/facebook/react-devtools/blob/master/backend/installGlobalHook.js , it's probably tripping one of those conditions.

[2017-05-05 14:33] gaearon commented on #690
Please provide a reproducing example.

[2017-05-05 14:34] gaearon commented on #689
Could you provide a minimal example reproducing this?

[2017-05-05 15:14] gaearon commented on #680
Going to close since this is not a DevTools issue.

[2017-05-05 15:14] #680 closed

[2017-05-05 18:22] azizhk commented on #689
http://termvader.github.io/react-devtools.html
Let me know if this reproduces the error for you.
I've written some comments. Actually the check for "Does this website use React" is run every second or so.

[2017-05-05 18:45] azizhk commented on #689
Ok so this is not introduced in a recent version of react-devtools but it was always there.
We recently migrated from one error logging solution to another which coincided with the release.
We had set it up such that this error be ignored previously.

Now I realize this is not something which react-devtools should fix but rather the onError implementation. Extremely sorry. What are your thoughts?

[2017-05-05 19:09] azizhk commented on #689
Related to #59

[2017-05-06 00:56] AmolPWaghmare opened #691 "2.1.7 flagging our page is using development build. It works fine with v2.1.2"
Hello Guys,

Has anything changed for recent v2.1.7 release around flagging the page that it is using the development build of React.
It worked fine with v2.1.2.
Can you check this page? https://www.mint.com/credit-cards?src=ttaxcreditscore

We are using npm and adding minified version of react to our project using requireJS. Hope this is a right way to do this with requireJS.

Thanks & Regards,
A

[2017-05-06 02:27] ngyikp commented on #691
That page has two React libraries loaded:

<img width="641" alt="screen shot 2017-05-06 at 10 19 46 am" src="https://cloud.githubusercontent.com/assets/6135313/25769177/8d9f838a-3245-11e7-9c9a-65b93c0a9a83.png">

https://www.mint.com/html/waystosave/widget.js is using an unminified development build and it is loaded from here:

<img width="642" alt="screen shot 2017-05-06 at 10 23 54 am" src="http

[2017-05-06 04:00] ngyikp opened #692 "Document how to self-diagnose unminified/development build results"
Many new bug reports are related to the detection of unminified/development builds and surprised at the results. It would be great to have a document on how to self-diagnose this and confirm the results.

I made a demo test suite with various conditions: https://github.com/ngyikp/react-devtools-minification-diagnosis

**Diagnosis:**

1. Temporarily turn off JavaScript source maps or else you might

[2017-05-06 13:10] gaearon opened #694 "Fix Fiber DEV mode detection"
I fixed a false positive in https://github.com/facebook/react-devtools/pull/693 but we should have a better strategy than relying on a particular function. I think we should pass a completely separate function in Fiber which we'll check for crushed-ness, and keep it explicit. This will require a small change in React.

[2017-05-06 13:12] gaearon commented on #692
Great, I agree this is useful. Where do you think would be the best place to put it?

[2017-05-06 13:14] gaearon commented on #691
@ngyikp Thanks for investigating!

[2017-05-07 16:43] sunlee-newyork commented on #67
+1

[2017-05-08 00:04] hozefaj opened #697 "allow to copy/paste props/state from dev tools"
Would be useful if it were possible to copy/paste props/state key-value. Currently right click is disabled so there is no way to copy it.

https://twitter.com/HozefaJ/status/860202273753845760

[2017-05-08 15:38] bvaughn commented on #636
I've started working on a related issue (see WIP PR #698) so I'm going to mark this as claimed for now to avoid conflicts.

I've found myself wanting something like styled-components while working on theme integration but I've been reluctant to add even more churn to a PR. If there's consensus that it's a worthwhile improvement though, I could try to take that on as well.

[2017-05-08 16:07] gaearon commented on #83
I don’t think it’s too hard. Just needs someone dedicated to fixing it.

[2017-05-08 18:39] gaearon opened #700 "Detect duplicate React and show a different message"
It would be cool if, in addition to DEV mode detection, we could detect when there are two instances of ReactDOM on the page.

This issue mentions how we could detect it: https://github.com/facebook/react-devtools/issues/692.

One thing to keep in mind is it's valid to have two different renderers (e.g. ReactDOM + ReactART), but not two instances of one renderer. Not sure if there's an easy way to

[2017-05-08 18:41] #691 closed

[2017-05-08 20:37] AmolPWaghmare commented on #691
Thank you guys. Appreciate it 👍

[2017-05-09 04:03] bvaughn commented on #108
FYI I've started a theming initiative (see PR #698) but it's not quite what's described above. (It doesn't hook into the active Chrome or Firefox theme. Still, I thought I'd point it out since it's at least related to the main topic of discussion here.)

The approach I went with uses a base16 approach instead. Should be easy to expand the built-in set of default themes (since each theme is small).

[2017-05-09 06:11] bvaughn commented on #636
I pushed an initial commit [ee411fc](https://github.com/facebook/react-devtools/pull/698/commits/ed3448659a61fdf38dfbe110861f67245dec506f) at refactoring the inline styles to (hopefully) be a bit more readable and maintainable (and theming-compatible). Sharing in case anyone is interested.

[2017-05-09 07:46] plus- commented on #686
I'm using Chrome. It's a private webapp, reinstalling the plugin fixed the issue.

[2017-05-09 07:46] #686 closed

[2017-05-09 13:24] gaearon commented on #626
https://github.com/facebook/react-devtools/pull/696

[2017-05-09 13:24] chisler commented on #700
I'd be happy to try to fix it!

[2017-05-09 13:30] aganglada opened #701 "Inspect with React devtool"
What about adding a contextual menu item that inspects directly in React devtool view.

Right now when you inspect the page, it will go to the normal "Elements" view.

Would be really helpful to have that functionality.

<img width="208" alt="screen shot 2017-05-09 at 14 25 56" src="https://cloud.githubusercontent.com/assets/922348/25853182/c957d654-34c3-11e7-82ac-2f5c29b783c6.png">

[2017-05-09 13:43] gaearon commented on #668
@ansumanshah You did great work on https://github.com/facebook/react-devtools/pull/671, would you be interested in taking a look at these issues?

[2017-05-09 13:47] gaearon commented on #700
👍

[2017-05-09 13:49] ansumanshah commented on #668
@gaearon I would be happy to take it

[2017-05-09 13:51] gaearon commented on #668
Awesome, thanks!

[2017-05-09 15:54] gaearon commented on #684
Oh my, that would be amazing. How hard is it to set up?

[2017-05-09 17:19] gaearon commented on #701
It’s not possible with Chrome APIs (this has been suggested many times).

However it would be nice to implement a "click to inspect" button in React pane, similar to how Chrome has a button for finding the DOM node.

[2017-05-09 17:48] jhen0409 commented on #684
It‘s not hard, except take code from [`debugger.html`](https://github.com/facebook/react-native/blob/master/local-cli/server/util/debugger.html), we need to know the RN packager port (default is 8081), I think it can be an option for start react-devtools, then we can use [`REACT_DEBUGGER`](https://github.com/facebook/react-native/blob/118e981174ae513426e2f5ddd7ee3c5860519ff7/local-cli/server/middl

[2017-05-10 08:45] aganglada commented on #701
Yes, that would be cool. At least it will improve the user experience a little bit. i.e. Every time I inspect it goes to Elements and I have to click back to the React Pane.

Thanks! :)

[2017-05-10 09:51] gaearon commented on #668
I think the real problem here is that our [style setting logic](https://github.com/facebook/react-devtools/blob/dc8f87d51c47aa27c79207a65b8c2f2adf5f6730/plugins/ReactNativeStyle/setupBackend.js#L141) probably works by shallow merging, so if your style was `{a: 1, b: 2}` and you edited it to be `{a: 1}`, the end result is still `{a: 1, b: 2}`. The fix would be to set `undefined` instead of performi

[2017-05-10 09:52] gaearon opened #702 "Mute useless Electron logs"
I occasionally see stuff like this printed by the [standalone devtools](https://github.com/facebook/react-devtools/tree/master/packages/react-devtools):

<img width="882" alt="screen shot 2017-05-10 at 10 51 32 am" src="https://cloud.githubusercontent.com/assets/810438/25893167/b21ea264-356e-11e7-80de-4277b4527e73.png">

We should find a way to mute these logs if possible.

[2017-05-10 13:06] gaearon commented on #625
Fixed in https://github.com/facebook/react-devtools/pull/633.

[2017-05-10 13:06] #625 closed

[2017-05-10 15:22] ansumanshah commented on #668
If we leave key or value as an empty string, the value is set as `undefined` and it is removed.

The main issue with deleting the original styles is something else.

[`data.props.style`](https://github.com/facebook/react-devtools/blob/master/plugins/ReactNativeStyle/setupBackend.js#L106) actually returns the ID and not the style object which we can only get after we resolve/flatten it with [resolv

[2017-05-10 15:34] gaearon commented on #668
I don't know if it ever worked. Can we treat rename as deleting a key and adding a new key? I'm not sure I understand what makes it harder.

I think it's not too big of a deal given that React itself will warn you with a yellow box.

[2017-05-10 15:39] ansumanshah commented on #668
Yes, we can delete the key in the frontend and a new one.

It's just that I am not sure if that is the best solution.

[2017-05-10 15:41] gaearon commented on #668
Sounds okay to me.

[2017-05-10 16:05] prometheansacrifice commented on #702
Should all logs be muted?

[2017-05-10 16:13] gaearon commented on #702
Yea. (At least coming from Electron native side.)

[2017-05-10 16:17] prometheansacrifice commented on #694
[The approach](https://github.com/facebook/react/blob/b61f060044780cd3d309fc7644cddf7633212465/src/renderers/dom/ReactDOM.js#L108), using a self declared `testFunc` and checking it name in the runtime, taken in earlier ReactDOM.js seems to be missing in `ReactDOMFiber.js`. Is this the small change in React you are talking about?

If the same approach is taken in Fiber, we again run the same check

[2017-05-10 16:19] gaearon commented on #694
I think something similar is reasonable. We keep `testFunc` declared in `ReactDOMFiber` but pass it together with `injectInternals()` call. Then in DevTools we can expect it.

I want to check two things:

1) That `name` is minified
2) That something inside `__DEV__` block in `testFunc` does not exist at all in `toString()`'d code

[2017-05-10 16:35] prometheansacrifice commented on #694
Ah! Interesting. And use regex to check if __DEV__ block is empty?

[2017-05-10 17:15] prometheansacrifice commented on #702
We can simply change `{stdio: 'inherit'}` to ` {stdio: 'ignore'}`. But that would prevent **all** logs from electron.

Else we could listen on like this process.stdout.on('data', () => {}) and turn it off appropritately

[2017-05-10 17:45] bvaughn opened #705 "Themes follow up work"
Related to PRs #698 and #718, issue #108.

### Followups from Dan

- [x] Fix live state updates; regressed in 90896c9 (see [here](https://github.com/facebook/react-devtools/pull/718#issuecomment-301326181)) (PR #721)
- [x] Tweak dark theme selection colors (see [here](https://github.com/facebook/react-devtools/pull/718#issuecomment-301324534)) (PR #722)
- [x] Add better padding to "_Unable to find

[2017-05-10 17:46] bvaughn commented on #108
I'm going to close this issue in favor of #705 since PR #698 has added initial theme support. I plan to add default dark-mode compliance in a follow-up PR (which will be tracked via issue #705).

[2017-05-10 17:46] #108 closed

[2017-05-10 19:17] julen commented on #108
Hey @bvaughn, thanks for all the hard work on this one! :)

[2017-05-10 20:41] chisler commented on #700
Hi! This is my first open source contribution. I log current status of the issue.

1. Detecting several renderers is simple.
1. Guessing renderer type by the object is not, at least for now.

However, I found only 1 custom renderer that explicitly fires `.inject` => may interfere dumb checking `hook._renderers.length > 1`.

<details>
  <summary>Duplicate React among A-C <a href="https://github.com

[2017-05-11 02:28] bvaughn commented on #705
First step, I've created 2 new themes and made a couple of minor modifications that I think will enable us to roughly approximate the themes used by Chrome and Firefox. Screenshots~
### Chrome (light)
<img width="951" alt="screen shot 2017-05-10 at 7 26 24 pm" src="https://cloud.githubusercontent.com/assets/29597/25929685/bf99d39e-35b6-11e7-96e6-4409fd390bab.png">

### Chrome (dark)
<img width="10

[2017-05-11 03:54] bvaughn commented on #705
Devtools "default" theme now follows Chrome's "default" vs "dark" preference!

![devtools-theme-toggle-chrome](https://cloud.githubusercontent.com/assets/29597/25931698/c82ce206-35c2-11e7-8bff-86c53d56d38d.gif)

[2017-05-11 07:40] laclance opened #707 "Can i use with Android device?"
I ran npm install -g react-devtools and react-devtools as stated in https://github.com/facebook/react-devtools/tree/master/packages/react-devtools.
Which says "it should connect to your simulator within a few seconds." It works with simulator however I am trying to use a Samsung S4 and nothing shows up besides the **Waiting for React to connect…** screen. Are the dev-tools compatible with a real d

[2017-05-11 08:52] laclance opened #708 "Not working with react-native"
The image shows how far i can get.  ![screen shot 2017-05-11 at 10 35 27 am](https://cloud.githubusercontent.com/assets/10835285/25940774/855aabf0-3637-11e7-9aef-4231d455fa08.png)

Nothing happens when clicking on the View in the inspector nor on the children objects in the developer tools. When using the inspector in the simulator i can highlight elements but no details show up.
When using the ch

[2017-05-11 10:17] jhen0409 commented on #708
I've try to fix it with https://github.com/facebook/react-native/pull/13116 but still not landed, the bug is from `requestIdleCallback` in remote debug mode, it usually on Android device.

Actually I've wrote a temporary workaround in [troubleshooting.md of react-native-debugger](https://github.com/jhen0409/react-native-debugger/blob/master/docs/troubleshooting.md), let it fallback to the [custom

[2017-05-11 10:59] gaearon commented on #702
I'm cool with `{stdio: 'ignore'}`.

[2017-05-11 11:09] laclance commented on #708
Thank you very much but I tried the work around and still nothing. Ive have tried with simulator and real device.

[2017-05-11 13:43] joshhepworth commented on #67
For those trying to debug in the iOS simulator (or another unsupported browser) this seems to be useful: https://github.com/facebook/react-devtools/tree/master/packages/react-devtools

[2017-05-11 15:02] zpytchpp commented on #580
it doesn't work on Linux, latest Chrome

[2017-05-11 15:05] gaearon commented on #580
@zpytchpp This does not help us diagnose the issue at all as you did not specify any information that could be used to see what happened. Which website are you looking at? What do you mean by “doesn’t work”?

[2017-05-11 15:10] zpytchpp commented on #580
I am trying it on a React + Redux (4.0.5) app on localhost. The problem is described in at the very top of the page:

[2017-05-11 15:14] istvano commented on #580
Hi,

it is the same for me still. Even with the latest Chrome. Even in incognito mode. I have given up :( it works well in FF so I am using it on that.

I would be more than happy to help investigating it. if you tell me what I should check? How to debug it? is there anything I can run, look at, or do to help you to reproduce it?

[2017-05-11 15:14] gaearon commented on #580
Please provide a reproducing case.

Which version of the extension are you using? Is your app inside of an iframe? Have you read [the troubleshooting instructions](https://github.com/facebook/react-devtools/blob/master/README.md#the-react-tab-doesnt-show-up)?

[2017-05-11 15:18] gaearon commented on #580
I also want to note that the original comment in this issue was also a bit misleading:

It **was always expected** to stay gray. Chrome just started adding toolbar buttons for every extension a year ago. We never implemented this button in the past. So it started showing up even though we did not support it in any way, and Chrome painted it gray. Both README and extension page at the time didn't s

[2017-05-11 15:42] istvano commented on #580
Hi,

great news. Just updated to 2.19 from this version on the symbol finally lights up!
it is working for me.

thanks !!!!

[2017-05-11 17:01] chisler commented on #692
Hi @ngyikp,

Thank you for the guide! One may face confusing behavior.

For example, [iamdustan.com](http://iamdustan.com/) uses React. DevTools say it's production.
However, one may be surprised following the guide by clicking "Show Function Definition":

| Console | Source |
|---|---|
| ![image](https://cloud.githubusercontent.com/assets/13795437/25961545/5572f770-3683-11e7-9f35-04cf52c7d479.png

[2017-05-11 17:57] ngyikp commented on #692
@gaearon
Hmm, perhaps on this doc: https://facebook.github.io/react/docs/optimizing-performance.html

Write something like:

@chisler
You have JavaScript source maps enabled, this is what I get when I disable source maps:

<img width="365" alt="screen shot 2017-05-12 at 1 36 11 am" src="https://cloud.githubusercontent.com/assets/6135313/25963309/6890819e-36b3-11e7-83aa-a6f8bdc10fa2.png">

<img wid

[2017-05-11 18:56] chisler commented on #692
Thanks for the good spot! It's great that guide is updated.

[2017-05-11 20:30] mmahalwy opened #711 "Documentation on using the plugins"
Is there any documentation about this? How can someone setup the relay plugin for example?

[2017-05-12 04:37] bvaughn commented on #697
I'm not sure why the `DetailPane` is styled `user-select: none`. Maybe this was an accident? Maybe a style that was copy-pasted from another component like `TreeView` where it actually made sense?

If I remove that style, you can select the text and copy. It won't copy in the best format (eg there will be extra newlines and stuff) but that's probably better than nothing. 😄

[2017-05-12 08:41] jerikson commented on #591
Thanks everyone! 👍

[2017-05-12 08:41] #591 closed

[2017-05-12 10:52] #636 closed

[2017-05-12 15:10] bvaughn commented on #705
Most of this work has been completed. Keeping the issue open until the next Firefox version launches and I've addressed the last remaining point for light/dark Firefox themes.

[2017-05-12 20:13] hozefaj commented on #697
Thanks....

[2017-05-14 21:30] gaearon commented on #705
Added a few followups from https://github.com/facebook/react-devtools/pull/718.

[2017-05-14 23:51] bvaughn commented on #705
Could you clarify what you mean?

I _think_ you're saying that the headers declared in `panel.html` and `run.js` (the ones without a "style" really) don't fit in as well as the others and you'd like to move them into the app. Is this right? Screenshots if not?

[2017-05-15 11:45] gaearon commented on #705
Yes. Basically I'd like to get rid of all HTML UI that we have.

[2017-05-15 19:13] ioantm opened #723 "Context menu popup should be properly positioned when is opened at the bottom of the page"
![popup-is-cutted](https://cloud.githubusercontent.com/assets/16886448/26074453/959ef206-39ba-11e7-86a4-190f96373120.png)

Not found any issue that report this problem so filled this new issue. I can try to fix it by positioning the menu above the item that is selected.

[2017-05-16 05:05] shriah commented on #604
<img width="838" alt="screen shot 2017-05-16 at 10 31 45 am" src="https://cloud.githubusercontent.com/assets/3917104/26090529/31e9a4ae-3a23-11e7-9a25-65cc49a3224c.png">

Something like this should work for initial implementation right ?

[2017-05-16 19:48] gaearon commented on #581
Re-adding the label since @tomaszlakomygp is not working on this.

[2017-05-16 19:54] Rudeg commented on #581
hey @gaearon, I would be happy to work on it :)

[2017-05-16 19:57] tomaszlakomygp commented on #581
@Rudeg Make sure to check out excellent comments made by @suchipi in my PR linked to this issue, unfortunately I won't be able to finish the work I started in a while due to some personal matters. Hopefully it'll be helpful :)

[2017-05-16 19:58] mannanali413 commented on #581
@gaearon I can take this up

[2017-05-16 20:00] gaearon commented on #581
@Rudeg You got here first so it’s yours 👍

Feel free to team up with @mannanali413 if you need any help!

[2017-05-16 20:10] mannanali413 commented on #581
@Rudeg I will be happy to work along with you on this.

[2017-05-16 21:29] aarondancer commented on #581
Working on this rn as well. I've knocked out about half the violations so far (out of 105).

[2017-05-17 10:53] gaearon commented on #581
@aarondancer Can you please work it out with @mannanali413? He already claimed the issue so it’s not very nice to try to get there first. Ideally if you want to help, you need to coordinate with the person who claimed the issue, and maybe work on it together.

[2017-05-17 12:48] FoxxMD commented on #334
Sorry to bring this back from the grave but I'm having this same problem and can't find any more recent discussions on it.

I don't have ` babel-plugin-transform-async-functions` installed but I do have stage-0 enabled. Any insight on how I can disable generator transpilation?

Dependencies:

[code]

webpack config for babel:

[code]

[2017-05-17 13:53] aarondancer commented on #581
Sure thing @gaearon

[2017-05-17 15:49] ioantm commented on #723
I will prepare a PR for this.

[2017-05-17 16:35] bvaughn commented on #701
I think I'll take a stab at this 😄

[2017-05-17 22:18] gaearon opened #726 "Make "click to view source in editor" work for Create React App based apps"
I mean this link:

<img width="403" alt="screen shot 2017-05-17 at 23 06 48" src="https://cloud.githubusercontent.com/assets/810438/26178471/2d0c4bb0-3b56-11e7-8ecf-82648f637b71.png">

It opens the file in Electron shell (https://github.com/facebook/react-devtools/pull/633), but doesn't work in browser extensions because they can't open files. However, Create React App [has a hook that launches th

[2017-05-17 22:30] gaearon commented on #726
@Timer is looking into it

[2017-05-17 23:26] DeeMacD opened #727 "React Dev tools tab not showing up"
When going to the site https://www.hellosign.com/ (which lynda.com uses as it's react example) the react detector shows that React is being used on the site, but the React developer tab does not show up in dev tools. Clicking it shows the message 'This page doesn't appear to be using React'

[2017-05-18 09:28] rodor87 commented on #727
Same for me.

Chrome Version 58.0.3029.110 (64-bit)
React Developer Tools 2.1.9

[2017-05-18 09:42] narychen commented on #334
@FoxxMD The best way to avoid this is not to async/await but raw Promise instead.
I'm using Promise instead of async/await after encountering this problem.
In fact async/await is using Promise behind the generator, so you can always  do  with Promise instead of async/await.

[2017-05-18 19:31] bvaughn commented on #701
![click-to-inspect](https://cloud.githubusercontent.com/assets/29597/26220043/625fe5d6-3c11-11e7-99db-5e4ef0c044c7.gif)

[2017-05-18 20:21] paularmstrong opened #730 "Expanded trees blank out sections, basically unusable."
**Browser Versions:** Chrome 58 & Canary

**Site:** https://mobile.twitter.com

**Problem:** When attempting to navigate through a tree of components (very very nested), portions of the tree blank out and make the extension unusable.

<img width="900" alt="screen shot 2017-05-18 at 1 02 26 pm" src="https://cloud.githubusercontent.com/assets/33297/26221854/c702dd62-3bcc-11e7-8445-3a83e8e6d1d9.png">

[2017-05-19 12:38] #701 closed

[2017-05-20 08:09] bvaughn commented on #730
More data points:
* OSX 10.12.4
* Chrome version 58.0.3029.110 (64-bit)

Latest devtools (built from master) on mobile.twitter.com:
<img width="1212" alt="screen shot 2017-05-20 at 10 06 59 am" src="https://cloud.githubusercontent.com/assets/29597/26274186/2a116856-3d44-11e7-95a8-5fb723f820b6.png">

Latest released devtools (from Chrome store):
<img width="1200" alt="screen shot 2017-05-20 at 10 0

[2017-05-20 11:44] bvaughn opened #732 "$r is not always the most recently-selected node"
Initially reported with [this comment](https://github.com/facebook/react-devtools/pull/699#issuecomment-302860002) while reviewing UI PR #699.

![$r bug demo](https://cloud.githubusercontent.com/assets/29597/26274373/f44d1648-3d48-11e7-845a-0182848f324d.gif)

[2017-05-20 11:56] bvaughn commented on #732
Weird. I'm not able to reproduce this after pulling and rebuilding.

Closing for now. I'll keep an eye on it. 😄

[2017-05-20 11:56] #732 closed

[2017-05-20 12:10] bvaughn commented on #727
Hm...using React dev tools 2.1.9 as well but the detector doesn't light up for me.

<img width="680" alt="screen shot 2017-05-20 at 2 09 25 pm" src="https://cloud.githubusercontent.com/assets/29597/26275642/fc48b272-3d65-11e7-9cd9-b6c38f99d194.png">

[2017-05-20 12:12] bvaughn commented on #727
What do you mean by it "lights up" ? Can you show a picture.

[2017-05-20 13:51] paularmstrong commented on #730
@bvaughn Dock the dev tools to the side of the browser and try a bigger screen. When I undock and have devtools as a separate window, it seems to not happen. Only happens when devtools are a substantially large size and docked in the current window

Happens on both of my laptops while plugged into another screen.

[2017-05-21 14:47] bvaughn commented on #730
I'm traveling all week so I don't have a bigger screen to try on unfortunately. Maximizing the height of the devtools on my laptop's 15" screen is not sufficient to reproduce the bug though, no matter how deep I explore on Twitter Light.

My best guess at the moment is that it's some sort of browser rendering bug. (We don't do anything that should cause the behavior shown in your screenshot. It's

[2017-05-21 23:29] ngyikp commented on #727
See also https://github.com/facebook/react-devtools/issues/603

The home page at www.hellosign.com doesn't seem to use React, however their main application at https://app.hellosign.com does

[2017-05-22 07:36] bvaughn commented on #727
The bug report said "www.hellosign.com" specifically, which doesn't "light up" for me. "app.hellosign.com" seems to work fine with devtools.

I assume this bug was a misunderstanding given the above, and things seem to work as expected so I'm going to close the issue. OP can add more info about how to repro the bug if there's still something going on. :smile:

[2017-05-22 07:36] #727 closed

[2017-05-22 08:09] khanghoang commented on #707
@laclance for real device, I use stand-alone app https://github.com/jhen0409/react-native-debugger

[2017-05-23 10:32] #697 closed

[2017-05-23 10:32] agos opened #739 "High CPU when tab is in background"
**Summary:** when developer tools are left open on a background fullscreen Chrome window, 100% CPU usage happens. React-devtools looks like the cause.

**Browser Versions:** Chrome 59 (fairly sure happened with 58 as well)
**Operating System:** macOS 10.12.5

**Steps to reproduce:**

1. Put a Chrome window fullscreen (either normal or split screen)
2. Navigate to random URL. Not necessary for it t

[2017-05-25 05:02] Fandekasp opened #741 "cannot npm install react-devtools"
Running:
[code]
Hangs when trying to install electron. Can be reproduced with `$ npm install electron`.

[2017-05-25 05:19] Fandekasp commented on #741
installing electron with my package manager, then reinstalling react-devtools seems to work

[2017-05-25 05:24] Fandekasp commented on #741
hmm actually, even if npm install didn't raise an error, react-devtools is still unusable:

[code]

[2017-05-25 17:44] blord-fullscreen opened #742 "Expose a way to refresh search with a single click in the UI"
To reproduce:

1) Load a page, and search for a Component. Cool, it's there in the inspector.
2) Interact with the page in some way that either removes that Component, or creates more instances of that component.
3) Ok, now I want to see the current state in the inspector. To do this, I currently have to do something like:

- focus the search field.
- delete a character from the end of the search

[2017-05-25 20:55] clarkbw commented on #705
The code for devtools.panels.themeName in Firefox, aka [bug 1349896](https://bugzilla.mozilla.org/show_bug.cgi?id=1349896#c55) just landed and so it should be in tomorrow's [Nightly](http://nightly.mozilla.org/).  I'll check for it and update here when its been verified.

[2017-05-25 20:58] bvaughn commented on #705
Nice! I've been checking it every other day. Super exciting. 😁 Thanks for the update!

[2017-05-26 17:23] bvaughn opened #746 "Improve scrolling/centering of nodes as you browse trees"
Fix horizontal offset when nodes are selected. Selecting a node will scroll vertically devtools to ensure it's visible but not horizontally. Deep trees can be confusing in this way.

Clicking on a node in devtools that's near the boundary shouldn't jump the frame either. Only jump when an element is clicked outside.

The custom scroll to method is nice in that it maintains some padding around the

[2017-05-26 17:40] gaearon opened #747 "Weird <div><div> on master"
Probably messed this up as part of style refactor:
<img width="264" alt="screen shot 2017-05-26 at 6 40 17 pm" src="https://cloud.githubusercontent.com/assets/810438/26506000/d3e1dcf0-4242-11e7-8c28-d481ef526135.png">

[2017-05-26 18:28] gaearon commented on #742
Ideally the search should just update automatically if new matching components are mounting. Not sure how hard or performant it would be but please feel free to explore!

[2017-05-26 18:29] gaearon commented on #741
Why are you running this command with sudo? Generally using sudo with npm is extremely error prone and leads to all sorts of issues with corrupted permissions.

[2017-05-26 18:30] gaearon commented on #739
Thanks for the report. Would you be interested in looking into the cause?

[2017-05-26 18:33] gaearon commented on #708
Can we just disable using rIC on our side if the polyfill is bad? I'd be open to taking a PR that checks for a native implementation using function toString before using it.

[2017-05-26 18:37] blord-fullscreen commented on #742
Totally agree in principle. But that sounds like a huge undertaking, and I suspect there would be perf concerns.

Just for reference, string searches in the Chrome Elements Inspector do not autorefresh results on arbitrary DOM changes. You have to do the same rigmarole of retyping part of the search term in the inspector. So the current RDT behavior does align with Elements. It just stinks.

[2017-05-26 18:59] gaearon commented on #626
Fixed!

[2017-05-26 18:59] #626 closed

[2017-05-26 21:55] gaearon commented on #108
Out in the latest version.

![screen shot 2017-05-26 at 22 50 41](https://cloud.githubusercontent.com/assets/810438/26513950/72010de8-4266-11e7-8dfe-a0337d6346b1.png)

[2017-05-26 21:57] gaearon commented on #395
Out in the latest version.

![screen shot 2017-05-26 at 22 50 41](https://cloud.githubusercontent.com/assets/810438/26513950/72010de8-4266-11e7-8dfe-a0337d6346b1.png)

[2017-05-26 21:57] gaearon commented on #402
Out in the latest version.

![screen shot 2017-05-26 at 22 50 41](https://cloud.githubusercontent.com/assets/810438/26513950/72010de8-4266-11e7-8dfe-a0337d6346b1.png)

[2017-05-26 21:57] gaearon commented on #574
Out in the latest version.

![screen shot 2017-05-26 at 22 50 41](https://cloud.githubusercontent.com/assets/810438/26513950/72010de8-4266-11e7-8dfe-a0337d6346b1.png)

[2017-05-26 21:57] gaearon commented on #351
There is now.

![screen shot 2017-05-26 at 22 50 41](https://cloud.githubusercontent.com/assets/810438/26513950/72010de8-4266-11e7-8dfe-a0337d6346b1.png)

[2017-05-26 21:57] gaearon commented on #355
It works now.

![screen shot 2017-05-26 at 22 50 41](https://cloud.githubusercontent.com/assets/810438/26513950/72010de8-4266-11e7-8dfe-a0337d6346b1.png)

[2017-05-27 02:26] jhen0409 commented on #708
That will help more people get rid of this problem!

[2017-05-27 07:27] SimenB commented on #108
Found a bug, if I refresh with the Ract dev tools tab open, I get the default theme instead of the dark one (set to metch browser).

But it looks truly beautiful, thank you!

[2017-05-27 10:33] bvaughn commented on #747
Lies 🤡

[2017-05-27 10:59] gaearon commented on #747
Old?

[2017-05-27 11:16] gaearon commented on #108
Mind filing a new issue and cc'ing @bvaughn?

[2017-05-27 11:16] gaearon commented on #708
Sounds like a plan. Want to do it?

[2017-05-27 16:14] bvaughn commented on #747
Actually I was just joking. 😄

But a simple empty div (eg `<div></div>`) doesn't behave this way on head of master, at least not using the plain test harness.
<img width="438" alt="screen shot 2017-05-27 at 5 13 27 pm" src="https://cloud.githubusercontent.com/assets/29597/26522768/db8aca12-42ff-11e7-9f16-c9c82303ced0.png">

[2017-05-28 12:31] benwiley4000 commented on #76
@gaearon not sure I'd consider this resolved - the standalone package is certainly useful, but it lacks some of the power of the browser extensions (e.g. direct element inspection and syncing with the selected element from the `elements` tab). Ideally it would just work with iframes, but the next best thing would be if I could simply add something like what @jaredly suggested above (which no longe

[2017-05-28 12:35] Hurtak commented on #76
What solved it for me was putting that code inside script tag before the main bundle. If I put it inside the bundle, it did not work.

[2017-05-29 02:40] Fandekasp commented on #741
I used sudo because I cannot install globally as my user, something to do with the nobody user.
[code]

[2017-05-29 09:17] agos commented on #739
@gaearon sure, absolutely! What can I do to provide additional data?

[2017-05-29 11:39] gaearon commented on #741
You should change global Node modules directory to something writable by all users. Not saying this will fix the problem but it's a better way. Npm just doesn't work well with sudo.

[2017-05-29 14:01] jhen0409 commented on #708
@gaearon I submitted #749 for fixing this. :)

[2017-05-29 14:28] clintjansen commented on #742
Really looking forward to such a feature! It's quite a hassle working on one component and manually refreshing it by typing into the search field.

[2017-05-29 14:37] gaearon commented on #76
The important part is that it needs to be put before `react-dom` executes. However ES6 imports get hoisted so even if you put it before the import, it will still execute later. Putting it outside of the bundle (or right in the HTML) is probably a good way to do it.

[2017-05-30 17:21] clarkbw commented on #705
Ok, I've been playing with it in Nightly and it works great!  This API is shipping with Firefox 55 (currently Nightly) which will be available to release on August 8th.

You can access the theme name at any point via:

[code]

We've also implemented a listener that will receive updates when the theme has been changed:

[code]

The possible themeName values are `light`, `dark`, and `firebug`.

💃

[2017-05-30 17:29] bvaughn commented on #705
Thanks for the update Bryan!

I didn't build a Firefox+firebug theme. I was tentatively planning on just switching between light and dark, unless someone else wants to build one? 😁

I'm going to try to land #751 soon b'c it tidies stuff up a bit more, and then we can tackle the Firefox TODO and maybe ship support for it in 2.3.0?

[2017-05-30 17:32] clarkbw commented on #705
Sounds good!  We can ask if the firebug community wants to contribute that.

👍

[2017-05-30 17:42] SimenB opened #752 ""match browser" is not respected if reloading with dev tools open"
Dev tools does not respect "match browser" them when reloading the page with the dev tools open. Pressing `alt+r` (on mac, at least) reloading the dev tools, and not the page, makes it work.

![react dev tools](https://cloud.githubusercontent.com/assets/1404810/26596664/c4f03d9c-456f-11e7-9df4-350427aa198b.gif)

https://github.com/facebook/react-devtools/issues/108#issuecomment-304445729
/cc @gaea

[2017-05-30 18:32] clarkbw commented on #752
Just dug around, I believe the issue is here: https://github.com/facebook/react-devtools/blob/master/shells/chrome/src/panel.js#L113

We need to pass in `themeName={themeName}` for reload as well so it looks more like the [last line](https://github.com/facebook/react-devtools/blob/master/shells/chrome/src/panel.js#L123)

[2017-05-30 19:04] jhen0409 commented on #752
It looks like the fix for this issue have been included in [#731](https://github.com/facebook/react-devtools/pull/731/files#diff-22a93cc8173f8439ac94e061b982e6c8).

[2017-05-30 19:06] bvaughn commented on #752
Hopefully also in #751

[2017-05-30 21:04] kortv opened #754 "Component name gone from the right panel, can't copy the name"
![image](https://cloud.githubusercontent.com/assets/10098905/26604925/a116d488-4594-11e7-9fb6-a0cbd06ee7e2.png)

[2017-05-31 15:49] gaearon opened #757 "Follow up about RN Fiber changes after Fiber refactoring is merged"
https://github.com/facebook/react-devtools/pull/755 relies on `pendingProps` which may change after https://github.com/facebook/react/pull/9695. Let's follow up and fix style editor again if Fiber changes how pending props are set.

[2017-05-31 16:43] gaearon opened #758 "Editing an RN style crashes the app"
Seems to happen if I add `display: none`. Crashes inside Yoga:
<img width="857" alt="screen shot 2017-05-31 at 5 27 22 pm" src="https://cloud.githubusercontent.com/assets/810438/26643248/a48b3b38-4628-11e7-8bd9-49a28d663509.png">

[2017-05-31 16:52] gaearon opened #759 "Fix RN style editor"
Let's just fix all of these. It can't be too hard.

#### Done (needing review)
- [x] #761: RN style editor doesn't work with themes
- [x] #762: Editing RTCView properties produces redbox on Fiber
- [x] #762: Editing RTCView properties doesn't update DevTools UI (both Stack and Fiber)
- [x] #762: Remove style by deleting property name
- [x] #765: It's too hard to click into the value field of a new

[2017-05-31 18:09] glennreyes commented on #754
Not sure if that has been removed intentionally (cc @bvaughn @gaearon @jaredly). This is how it looked like before and what @kortv means iirc:
![9ffeac6c-463c-11e7-8f08-ea594ad9228d](https://cloud.githubusercontent.com/assets/5080854/26646693/d863a5b2-463c-11e7-8c84-760db21807e6.png)

[2017-05-31 18:19] gaearon commented on #754
This was intentional, to clean up some space. Why do you copy the name?

[2017-05-31 18:28] bvaughn commented on #754
Yup. Was intentional b'c vertical space is limited and we thought the props were more important than the name (given that the name is also shown in the left panel).

[2017-05-31 19:46] gaearon commented on #759
https://github.com/facebook/react-devtools/pull/762

[2017-05-31 19:46] oliviertassinari opened #763 "Update context issue"
Following @gaearon input, it seems that tha following situation should work (and obviously without warning)
Here is a reproduction example navigating to the next branch of the documentation of Material-UI:

![warning](https://cloud.githubusercontent.com/assets/3165635/26642681/f18aafbc-462e-11e7-8921-6aa56dc61070.gif)
https://material-ui-next.com/demos/text-fields/

[code]

[2017-05-31 20:01] bvaughn commented on #759
#761

[2017-05-31 20:44] kortv commented on #754
@gaearon I copy the name to fast finding it in the IDE.
@bvaughn I see the name in left panel but it's not copyable
Maybe it's possible to add copy name through right click menu at the bottom?
![image](https://cloud.githubusercontent.com/assets/10098905/26653132/dacc0380-465a-11e7-87c6-481ab07995df.png)

Or add option to show the name at old place?

[2017-05-31 20:47] bvaughn commented on #754
Subjective opinion here, but I don't think this is worth the added complexity it would introduce to the codebase.

Adding an option to the context menu to copy some info from the node, maybe including name, seems potentially worth exploring.

[2017-05-31 21:01] LanceJernigan commented on #723
This issue should be fixed with pr #764.

[2017-05-31 21:06] kortv commented on #754
Maybe to make the name selectable in the selected component tab, at bottom, will be not so complex?

[2017-05-31 21:34] kortv commented on #754
Cursor at selected tab is changing from "pointer" to "default", even now. So maybe changing it to the text instead of default, will not make UX so bad?
Or even, changing the cursor to default, as it now, but, only at selected tab, on double click, make a select the name text, or enable selection.

[2017-05-31 21:37] bvaughn commented on #754
Debatably the current behavior should be changed to always preserve cursor as pointer when over a tab, even if current.

I feel pretty strongly that we should not make tab text selectable.

[2017-06-01 08:04] glennreyes commented on #754
What if we add a `Copy element name` item to the `ContextMenu`? Similar to the Chrome devtools. Unlike the `Copy element`, this would only copy the name of the selected element. This way you have an easy alternative to copy complex component names.

[2017-06-01 09:25] kortv commented on #754
@glennreyes sounds great

[2017-06-01 13:38] gaearon opened #766 "React DevTools does not connect automatically to RN"
Seen this happen a few times. Refreshing the simulator always fixes it.

[2017-06-01 14:48] bvaughn commented on #754
Yeah, that option was mentioned above.

Copying text from JS is a bit clunky. And I'm not personally convinced it's a feature most people will need/use. But if you'd like to submit a PR to add it, I'd be happy to review it.

[2017-06-01 14:53] LanceJernigan commented on #754
@bvaughn I actually just submitted pr #768 to address this feature.

[2017-06-01 14:54] bvaughn commented on #754
@LanceJernigan Yup! I'm reviewing it. 😄

[2017-06-01 14:56] LanceJernigan commented on #754
Nice!

The only issue right now is notifying the user that their text was copied.  Do we have any way to post a notification to the user?

[2017-06-01 14:58] bvaughn commented on #754
I don't think that's necessary. To my knowledge, we don't have any such notification framework built into devtools at the moment.

[2017-06-01 15:47] bvaughn commented on #723
Fixed via PR #768

[2017-06-01 15:47] #723 closed

[2017-06-01 15:47] bvaughn commented on #754
Fixed via PR #768

[2017-06-01 15:47] #754 closed

[2017-06-01 16:26] gaearon opened #769 "Rethink how IDs are mapped to internal instances"
Prompted by https://github.com/facebook/react-devtools/pull/767.

I think we need to remove internal instances completely from the Agent, and expose any wrappers we need from the `attachRenderer` and `attachRendererFiber`. It might make sense to move the ID generation there as well. It's still not clear how this would work for [this code](https://github.com/facebook/react-native/blob/a93b7a2da0849

[2017-06-01 17:25] #759 closed

[2017-06-01 17:26] sebmarkbage opened #772 ""Click-to-select" and "Theme selector" needs visual feedback e.g. tooltips"
I'm scared to click them before I hover and know what they will do. :)

[2017-06-01 17:29] sebmarkbage opened #773 ""Show X source" doesn't show anything"
In some cases if the source tab hasn't loaded yet or something, nothing will happen when you click "Show source" on a component.

Repo:

Goto http://isfiberreadyyet.com/
Open devtools without first opening the source tab.
Right click the root and click "Show t source".
Nothing happens.

[2017-06-01 17:33] sebmarkbage commented on #772
Search could use one as well.

[2017-06-01 18:36] sebmarkbage opened #774 "Property Inspector is Not Resilient to Non-existent Property"
`val` can be `null` [here in `_inspectResponse`](https://github.com/facebook/react-devtools/blob/40f926dfab63051446e9b671c369c703f2e21c67/agent/Bridge.js#L432). Which throws and causes havoc. Reproed in Outlook 365.

What happens here is that the property keys enumerate in the property view as if they're own properties and not on the prototype. But when I try to expand one of the properties. It is

[2017-06-01 18:47] bvaughn commented on #773
Thanks for filing this, Seb!

Picked it up for a quick look in case it was a recent, themes-related regression. I'm pretty sure that isn't the case. It doesn't look like we expose to the devtools whether or not source _can_ be shown. We just inject a function that tries and fails without throwing if it can't.

I'm not sure how we should know ahead of time whether it's okay to inspect. The [referen

[2017-06-01 18:58] sebmarkbage opened #775 "Do Not Invoke Getters Implicitly - Hide it behind explicit UI"
Enumerating over the keys of an object [currently invokes all getters on that object](https://github.com/facebook/react-devtools/blob/40f926dfab63051446e9b671c369c703f2e21c67/agent/Bridge.js#L439). Which can cause all kinds of issues. We should use `getOwnPropertyDescriptor` here instead. If it's a getter we should wait to invoke it until explicit told to. Chrome has a little `(...)` UI that you c

[2017-06-01 19:12] sebmarkbage commented on #774
I think the source of the bug is that [dehydrate does not use getOwnPropertyNames](https://github.com/facebook/react-devtools/blob/dcdcebf7131364a74bd9c6d81ec689c6b1e05198/agent/dehydrate.js#L156-L159) like `_inspectResponse` does. So it ends up missing non-enumerable and also picks up non-own properties. I should be able to find a smaller repro...

[2017-06-01 19:33] sebmarkbage commented on #774
Ok here's a repro:

[code]

Try to inspect the `bar` function.

[2017-06-01 19:33] bvaughn commented on #773
As for the repro steps, I think it's a matter of timing. If you wait a few seconds (5 or more) then it works fine. If you click right away, it fails (silently).

[2017-06-01 19:34] bvaughn commented on #773
Maybe a reasonable compromise fix would be to add the capability of showing some kind of toast-style temporary notification, and in this case, just inform the user that they might want to try again in a few seconds (if it fails). Not sure...

[2017-06-01 19:37] bvaughn commented on #772
Search has placeholder text. Doesn't this search a similar function?

[2017-06-01 19:38] sebmarkbage commented on #773
There's a way to get notified when the React tab gets visible again right?

We can always show the error message (perhaps after a timeout), then hide it when the React tab gets visible again. That way if it switches tabs it won't be visible and it will be gone by the time you switch back to the React tab.

[2017-06-01 19:40] bvaughn commented on #773
Hm. Maybe. We'd need to add some sort of mechanism for showing that sort of error/notification to devtools though. Could be useful in other cases also (eg to notify a user that something has been added to their clipboard after the context copy-name option)

[2017-06-01 20:02] sebmarkbage commented on #772
To clarify: My confusion was a bit around *what* it searches. Maybe that's too much info.

[2017-06-01 20:04] bvaughn commented on #772
Makes sense! I added a tooltip that says "Search React elements"

[2017-06-01 21:09] bvaughn commented on #752
This is fixed in master by #751 😄

[2017-06-01 21:09] #752 closed

[2017-06-01 21:12] bvaughn commented on #741
Did changing permissions on the `/usr/lib/node_modules/` directory resolve this issue for you @Fandekasp?

I just checked and was able to `npm i -g react-devtools` without any problem.

[2017-06-01 21:18] bvaughn commented on #730
Back in the states now (with an external monitor) but I'm still not able to reproduce the reported issue.

![screen shot 2017-06-01 at 2 17 05 pm](https://cloud.githubusercontent.com/assets/29597/26701210/0ad11884-46d5-11e7-85bb-9924bbada9de.png)

Tried docked and undocked, on external monitor, browsing pretty deep in the hierarchy.

Not sure what else to do with this one at present.

[2017-06-01 21:38] bvaughn commented on #730
PS Which version of react-devtools are you seeing this bug with? can you repro with latest (2.2.0+)?

[2017-06-02 00:30] Fandekasp commented on #741
sorry, I had switch to react-native-debugger, which installs react-devtools on its own, and my react native project got cancelled yesterday, so I won't be playing again with it for a while.

Closing.

[2017-06-02 02:35] Fandekasp commented on #741
my react native project got cancelled, and I'm already using the chrome extension for react-devtools, so I don't need to install this locally anymore. Closing.

[2017-06-02 02:35] #741 closed

[2017-06-02 12:57] trueadm commented on #612
@Tushkiz can you try out my PR (https://github.com/facebook/react-devtools/pull/781) and tell me if this fixes this issue for you? Thanks!

[2017-06-02 14:06] gaearon commented on #772
This is still a bit ambiguous. Maybe "Search React component names and text"?

[2017-06-02 14:11] gaearon commented on #775
I believe this will be solved by https://github.com/facebook/react-devtools/pull/569.

[2017-06-02 14:12] gaearon commented on #774
@zinoviev Would you be interested in looking at this?

[2017-06-02 14:14] gaearon commented on #773
It works for me. 😕

[2017-06-02 14:17] gaearon commented on #773
Meaning, I can’t repro this even if I do it as fast as I can.

[2017-06-02 14:21] gaearon commented on #581
@aarondancer

It seems like @mannanali413 and @Rudeg are busy.
Would you like to take over this, as you already started some work on it?

[2017-06-02 14:42] bvaughn commented on #773
Interesting. I can repro but only if I click in the first second or two.

[2017-06-02 14:44] #772 closed

[2017-06-02 14:51] zinoviev commented on #774
Ok I will

I almost sure the source of an issue on the backend side when we try to get value from a function defined on the prototype. Dehydrating prototype defined properties looks totally legit for me.

Other types not failing(including getters on my branch)
`
function Foo() { }
Foo.prototype = {
  bar: 'wow',
};

return <SomeComponent foo={new Foo()} />;
`

[2017-06-02 14:52] zinoviev commented on #775
@sebmarkbage @gaearon Yep, this is how it works now, awaiting for review and merge

[2017-06-02 15:18] #679 closed

[2017-06-02 15:49] gaearon opened #783 "Right and left arrows behave unexpectedly when tail tag is focused"
The right and left arrow keys behave unexpectedly when a tail tag of a node with children is selected.

Note that Firefox doesn't really let you select a tail tag. (Keyboard nav skips it. Mouse clicks redirect to the head tag.) So we'll compare to Chrome's behavior.

## Left arrow

#### Chrome
Chrome jumps to the head tag.
![chrome-left](https://cloud.githubusercontent.com/assets/29597/26733766/b5

[2017-06-02 17:16] Tushkiz commented on #612
@trueadm Yup! trying it out.

[2017-06-02 17:21] sebmarkbage commented on #774
Dehydrating prototype defined properties are visualized differently (behind `__proto__`) so it seem misleading to dehydrate them.

[2017-06-02 18:17] Tushkiz commented on #612
@trueadm great, this fixes my use case 🎉

[2017-06-02 18:45] bvaughn opened #786 "Follow-up keyboard nav fixes for Fiber"
There's one remaining keyboard nav issue (mentioned [here](https://github.com/facebook/react-devtools/pull/781#issuecomment-305832447) and [here](https://github.com/facebook/react-devtools/pull/781#issuecomment-305833600)): on facebook.com, click on any of the Like/Comment divs:
![screen shot 2017-06-02 at 9 06 29 am](https://cloud.githubusercontent.com/assets/29597/26734446/dbeb33ee-4772-11e7-9bf

[2017-06-02 18:46] #612 closed

[2017-06-02 21:57] jobala commented on #783
@gaearon,

I can pick this up, mainly because I have free time on my hands.
And willing to learn.

How do I get started.

[2017-06-03 00:56] aarondancer commented on #581
Sure. I'll continue where I left off @gaearon

[2017-06-03 11:58] gaearon commented on #783
Hey, thanks for offering to help! The related logic is in `frontend/keyboardNav.js`. You can follow "Contributing" instructions in README to set up the enrichment.

[2017-06-03 15:45] bvaughn commented on #783
Sweet! Feel free to ping me on Twitter if you hit a snag @jobala 😄

[2017-06-03 15:53] jobala commented on #783
@bvaughn I will.

[2017-06-05 08:18] zubivan commented on #102
Hey guys, I'm thinking of picking it up. Do you have any designs/ideas already on how add/remove to/from arrays should look like?

[2017-06-05 15:19] gaearon commented on #747
Oops, it actually happens for any non-self-closing node that fits on one line:
<img width="532" alt="screen shot 2017-06-05 at 4 19 17 pm" src="https://cloud.githubusercontent.com/assets/810438/26790188/c7c94028-4a0a-11e7-9492-7490b10d72af.png">

[2017-06-05 15:33] #747 closed

[2017-06-05 16:14] gaearon opened #791 "TopLevelWrapper shows up in the breadcrumbs"
Only reproduces in Stack (since it has TopLevelWrapper). Probably got broken by #781.
<img width="340" alt="screen shot 2017-06-05 at 4 43 59 pm" src="https://cloud.githubusercontent.com/assets/810438/26792488/7b71b0a4-4a12-11e7-9e5e-49dcf3f0d2e8.png">

[2017-06-05 19:14] jobala commented on #783
@bvaughn,

I git cloned, the repo to my local machine.
I will need to be able to see the effect of the changes I am making.

How do I set it up, ie like a chrome extension running from my machine?
Or better yet, you could point me to a resource that has this information.

Could be a dumb question, but yeah 😅

[2017-06-05 19:47] jobala commented on #783
Otherwise,

I have done some digging and think this could be a possible solution.

I followed a rabbit hole from keyboardNav.js to dirToDest.js

for the right arrow `(dirToDest.js line 39-50)`
[code]

for the left arrow `(dirToDest.js line 39-50)`
[code]

This analysis could be wrong, waiting for your suggestions and insight 😄

@gaearon @bvaughn

[2017-06-05 19:48] bvaughn commented on #783
Hey @jobala,

The main README has a [contributing section](https://github.com/facebook/react-devtools#contributing) that mentions shells. For example, the easiest one to run is the [plain shell](https://github.com/facebook/react-devtools/tree/master/shells/plain). I made a [walkthrough video](https://www.youtube.com/watch?v=IaLROWK14mg&t=7s) recently that shows how to iterate on this shell.

You c

[2017-06-05 20:18] jobala commented on #783
@bvaughn

I have the right arrow bug fixed.

I have hit a snag with the left arrow, how do I get it to got to the opening tag ?

[2017-06-05 20:25] bvaughn commented on #783
I think all you want to do is toggle `isBottomTagSelected` in the `Store`. So basically take the currently selected id (`store.selected`) and call either `store.selectTop` or `store.selectBottom`. (I think in your case you want `store.selectTop`.)

[2017-06-06 13:38] noodny commented on #739
@gaearon got the same issue in Chrome 59 - the only difference is that my chrome isn't fullscreen and I'm not even switching programs, just moving to a different chrome tab

[2017-06-06 13:44] #791 closed

[2017-06-06 13:46] gaearon commented on #739
Please feel free to debug what happens. My guess is something related to our use of `requestIdleCallback` [here](https://github.com/facebook/react-devtools/blob/d971871fb7f5b3b513b1902fc05543b907edec3f/agent/Bridge.js#L245). Maybe it never gets called and events accumulate, or something like this.

[2017-06-06 13:56] #783 closed

[2017-06-06 14:36] gaearon commented on #766
Hmm. I think it always happens when Chrome debugging is on. We just didn't notice before.

[2017-06-06 14:40] gaearon opened #794 "Pressing <Tab> on last value in RN style editor should add a new style"
Currently it doesn’t:

![](https://d2ppvlu71ri8gs.cloudfront.net/items/1D2o2q3S3E2Y2a1m423H/Screen%20Recording%202017-06-06%20at%2003.40%20PM.gif?v=8845f351)

We need to fix it to create a new key-value pair, just like Chrome does.

[2017-06-06 14:42] gaearon opened #795 "Add checkboxes to RN style editor to toggle styles"
They should toggle styles, just like Chrome does.

[2017-06-06 14:53] gaearon opened #796 ""Node was deleted" when switching root RN views"
I'm not sure how to reproduce this outside of FB environment (Catalyst) but I see ghost nodes every time I switch root views:

<img width="333" alt="screen shot 2017-06-06 at 3 52 06 pm" src="https://cloud.githubusercontent.com/assets/810438/26835412/31ff90c6-4ad0-11e7-87c9-c7e4f870851a.png">

We probably don't clean up something on RN.

[2017-06-06 15:00] gaearon opened #797 "Can't edit fontWeight in RN Style Editor"
Here's the current value:

<img width="183" alt="screen shot 2017-06-06 at 3 59 17 pm" src="https://cloud.githubusercontent.com/assets/810438/26835879/309e6cf6-4ad1-11e7-93f8-9a6324f660ea.png">

If I try to set it to `200` I get this:
<img width="308" alt="screen shot 2017-06-06 at 3 59 22 pm" src="https://cloud.githubusercontent.com/assets/810438/26835885/3c620746-4ad1-11e7-83ae-f9763725dc84.png"

[2017-06-06 15:02] gaearon opened #798 "Inconsistent left padding for RN style editor"
The header is not aligned with other sections:

<img width="186" alt="screen shot 2017-06-06 at 4 01 23 pm" src="https://user-images.githubusercontent.com/810438/26835976-7a23bdae-4ad1-11e7-946f-b68991ee2065.png">

[2017-06-06 18:31] gaearon commented on #758
It's being fixed in Yoga.

[2017-06-06 18:31] #758 closed

[2017-06-06 21:19] gaearon opened #800 "Autocomplete style names in RN style editor"
We should add autocomplete to the style editor keys, just like Chrome does.

[2017-06-06 22:14] wwwillchen opened #801 "Proposal for a React performance table"
Hey everyone - I'm one of the engineers on the Chrome DevTools team and I **built a small proof-of-concept React performance Chrome DevTools extension** as part of my 20% time.

I've been very excited about React for a while and saw some interesting React performance tooling such as the [Performance User Timings](https://facebook.github.io/react/blog/2016/11/16/react-v15.4.0.html#profiling-compone

[2017-06-06 22:50] paulirish commented on #801
cc @trueadm @addyosmani @gaearon

[2017-06-06 22:57] bvaughn commented on #801
I'd be happy to help!

[2017-06-06 23:05] sebmarkbage commented on #801
This looks great!

For context: We removed our ReactPerf programmatic API in the React Fiber implementation scheduled to be released in React v16. We were planning on doing a new take on it that takes into account React Fiber's scheduling primitives.

In that model, the timing may be aborted and resumed in ways that might be a bit misleading when viewed as absolute numbers. Think of it as if somet

[2017-06-06 23:05] gaearon commented on #801
This is very very neat. 😍  We were hoping that somebody would build this when we started to use <s>the platform</s> user timing APIs. Particularly because ReactPerf was a bit hard to maintain, and it seemed to make more sense to build tools like this around a more generic API. We don’t plan to ship ReactPerf with Fiber, and I’m excited this could be a viable replacement before we start figuring ou

[2017-06-06 23:08] gaearon commented on #801
In this particular case this should be okay because (in the current implementation) we stop the timers before pausing, and start after resuming. So absolute numbers shouldn't look bad. But there are probably other things to watch out for too (e.g. "wasted" low priority idle renders are probably less big of a deal).

[2017-06-07 00:19] indigoviolet opened #803 "Store version doesn't work on our site (fin.com) -- fixed version"
For some reason, the store version of this extension breaks on fin.com, here's the fix that makes it work: https://github.com/facebook/react-devtools/compare/master...indigoviolet:master .

Not sure how we're triggering this FB-specific hack -- if someone could give me a hint, we can try to fix our code. Would also be nice for the hack to not make it into the public version..

[2017-06-07 00:50] indigoviolet commented on #803
We figured it out - we were setting `displayName` to be a function in a higher-order component.

[2017-06-07 00:55] sebmarkbage commented on #801
@gaearon There are two types of resumes. 1) Ones that are just paused to do other JS work. 2) Ones that are pause, do other React work, maybe higher priority and then rerenders.

The first one is fine. The second one can lead to more work than it otherwise would have. E.g. if it leads to a rerender.

[2017-06-07 18:39] wwwillchen commented on #801
Thanks for all the feedback!

Given that React Fiber async mode is the future, I think it makes sense to hold off on this specific work until the new perf API has been formed.

On my end, the DevTools team is interested in visualizing these types of User Timings within the Performance panel since this is something that'll be valuable across frameworks. I'm going to try prototype how we could visua

[2017-06-07 20:28] gaearon commented on #337
https://github.com/facebook/react-devtools/pull/804

[2017-06-07 21:03] gaearon commented on #801
That would be amazing. We also have a feature request to surface suspicious timings which indicate problems. Not sure if there's any way to align it with User Timing API but it's pretty important to us. (The view for native JS already has this feature, e.g. code triggering layouts is highlighted differently.)

See https://github.com/w3c/user-timing/issues/25.

[2017-06-08 01:27] dennistang commented on #739
Tried taking a stab at debugging it, seems to be something with `loadCheckInterval` in [main.js:56](https://github.com/facebook/react-devtools/blob/d971871fb7f5b3b513b1902fc05543b907edec3f/shells/chrome/src/main.js#L56) (shells/chrome/src/main.js) and how it calls `createPanelIfReactLoaded` every second.
<img width="406" alt="bildschirmfoto 2017-06-07 um 18 12 47" src="https://user-images.githubus

[2017-06-08 08:06] jobala commented on #800
@gaearon,

I will pick this up.

Where do I get started?

[2017-06-08 08:25] rborn commented on #707
Same here (cannot connect to the android device)

[2017-06-08 10:20] gaearon commented on #800
I think @bvaughn might have tried to do it—let’s ask him.

[2017-06-08 15:13] bvaughn commented on #800
Hey @gaearon, thanks for checking. I am interested in this task but I haven't started it yet so if @jobala would like to pick it up- he's welcome.

[2017-06-08 15:14] bvaughn commented on #800
Let me know if you decide you aren't interested @jobala and I'll remove the "_someone is working on this_" label and maybe pick it up myself. 😄

[2017-06-08 15:43] jobala commented on #800
@bvaughn,

This issue feels a little bit less trivial than the initial one,
I am sure I will learn a lot working on it.

What source files deal with logic related to this issue?

Also, is there any sort of white paper or resource that I could go through to understand the architecture of react-devtools?

[2017-06-08 15:46] bvaughn commented on #800
Unfortunately I have no pointers for getting started with this issue 😁  I haven't thought about it, beyond "_that would be cool to work on..._"

Nope, unfortunately the READMEs in this repo are about it (at least that I'm aware of). I think this project could use an architectural cleanup at some point but in its current form, I think it's just kind of something that's evolved organically after a c

[2017-06-08 15:48] jobala commented on #800
In that case,

Rather than blindly going through the source files, we could pair on it.

I am available for a video call around this time.

[2017-06-08 19:22] gaearon commented on #803
Nice catch. We should probably turn it to string somewhere earlier to avoid this.

[2017-06-08 22:24] bvaughn commented on #800
Sorry Japheth! I don't think my work schedule is really going to enable me to pair on this. No harm in asking though! 🙇

Happy to answer specific questions or provide advice if you run into snags on the way though.

[2017-06-09 13:59] #337 closed

[2017-06-09 15:58] gaearon commented on #786
I’m still having this issue in UFI.

![](https://d2ppvlu71ri8gs.cloudfront.net/items/2y1B3P1M0E3219373O0D/Screen%20Recording%202017-06-09%20at%2004.57%20PM.gif?v=ab937276)

[2017-06-09 16:42] gaearon commented on #229
Using React DevTools in React Native is now officially documented:
http://facebook.github.io/react-native/docs/debugging.html#react-developer-tools

I'll lock this issue. If you have any further problems please file new issues.

[2017-06-09 19:31] gaearon opened #806 "Refactor keyboard selection code to be unit-testable"
The `skipWrapper` and `getNewSelection` functions have been extremely prone to mistakes.
See https://github.com/facebook/react-devtools/pull/781 and https://github.com/facebook/react-devtools/pull/788.

This is partly because they need to account for nested `Wrapper` components (such as the case with arrays in React Fiber).

We need to figure out a way to make them unit-testable, and actually writ

[2017-06-09 19:49] gaearon commented on #786
Fixed by #807.

[2017-06-09 19:49] #786 closed

[2017-06-10 19:26] jobala commented on #800
@bvaughn @gaearon

Is there a shell like environment for React Native?

[2017-06-10 22:47] bvaughn commented on #800
Not sure what you mean by that question.

You can test the style editor though by launching any React Native application (eg in an iOS or Android simulator) and then launching the electron devtools shell. Instructions are available [here](https://github.com/facebook/react-devtools/tree/master/packages/react-devtools#developing).

[2017-06-11 02:47] piperchester opened #808 "Feature proposal: Command Panel integration"
Mainly wanted consensus from the community - is it feasible to integrate with the "Command Panel" feature of DevTools, visible through `cmd+shift+p`?

I'm not sure if that integration's exposed for developers, but was wondering what the core maintainers' thoughts are 😄 I'd be willing to work on it 🔧

[2017-06-11 18:17] ochrons commented on #739
I'm seeing same behavior on Chrome 59 on Win10. Each devtools tab is using 100% CPU when in the background. Disabling React Tools and restarting Chrome makes this problem go away.

Did not happen on Chrome 58 AFAICT.

[2017-06-12 05:57] yuezk commented on #739
On every page which not use React, open the devtools, and switch to another tab, cpu 100% usage.

[2017-06-12 09:00] jobala commented on #800
@bvaughn
That's exactly what I needed, thanks 😄

[2017-06-12 09:52] jobala commented on #800
@bvaughn

So I did the following.

1. Installed react-devtools globally
2. Started a react-native app
3. Run the standalone react-devtools

As expected, the changes I made in the react-devtools source code were not reflected.

How do I make the changes I make reflect on the standalone dev tools?

[2017-06-12 10:10] piotr-cz commented on #309
I'd like to inspect pages that I don't own and it's so so straightforward to use React DevTools when Content security policy is in place.

For example when adding script via console, this is what I'm getting.

[code]

Chrome remote debugging window doesn't have a toolbar - so no React-Devtools extension button either, the React tab doesn't show up and I'm not aware of any way to initialize this ex

[2017-06-12 13:20] glennreyes commented on #794
Will work on this 👍

[2017-06-12 15:05] bvaughn commented on #800
Those steps you mentioned above don't seem to match with the instructions I linked you to in my previous comment, unless I'm misreading what you're saying.

Copied from the [instructions page](https://github.com/facebook/react-devtools/tree/master/packages/react-devtools#developing):

[2017-06-12 15:55] devisscher commented on #236
Not sure if this is the right place to comment, but when devtools extension is enabled I get a security error: Your connection to this origin is not secure.

This is caused by the build/backend.js file in React Dev Tools.