[2017-06-12 18:10] gaearon commented on #801
@wwwillchen I was curious if you could take a look at overhead of User Timing API calls. We were going to keep them enabled in React 16, but in some cases (e.g. many components updating very often in DEV), `performance.measure()` and `performance.mark()` calls slow down the app several times.

For example, you can try https://github.com/ScottWeinstein/react-ng-perf-comparison/tree/master/react-16

[2017-06-12 18:37] wwwillchen commented on #801
@gaearon - I'm not familiar with the implementation of User Timing but I'll reach out to some colleagues who may know why.

[2017-06-12 22:58] macbursys opened #811 "React detector detects react but Resct developer tool says no react"
On https://www.hellosign.com/ site React detector extension on chrome detects react & turns blue but React developer tool says no react &doesn't show in chrome debugger.
![react_dev_issue](https://user-images.githubusercontent.com/29124650/27058763-c5be8926-4f98-11e7-804e-fbfebae7abbc.png)

[2017-06-13 15:48] bvaughn commented on #811
I just tested with Chrome + DevTools 2.3.3 (the latest) and www.hellosign.com doesn't light up for me.

Which DevTools version you're using? I don't actually recognize the icon in your screenshot.

Since version 2.1.5, the icon has looked like this:
![ssscreen-shot-2017-06-13-at-8 45 31-am](https://user-images.githubusercontent.com/29597/27091383-d377f378-5014-11e7-91ed-fc1e8048131b.png)

And befo

[2017-06-13 15:49] bvaughn commented on #811
Ah, I believe you're showing Kent C Dodd's [react-detector](https://chrome.google.com/webstore/detail/react-detector/jaaklebbenondhkanegppccanebkdjlh?hl=en) extension in your screenshot.

[2017-06-13 16:09] bvaughn commented on #811
Confirmed that react-detector does light up for www.hellosign.com but React DevTools (this project) does not so I'm going to close this issue. Cheers. 😄

[2017-06-13 16:09] #811 closed

[2017-06-13 18:03] bvaughn commented on #808
The [release announcement for the "Command Menu" feature](https://developers.google.com/web/updates/2016/04/devtools-digest-command-menu?hl=en) makes no mention of customization. I've searched the API docs and other Google developer posts looking for any mention of an API for adding custom entries to this menu as well and haven't found anything. At this time, I'm under the impression that it isn't

[2017-06-13 18:03] #808 closed

[2017-06-13 21:58] dennistang commented on #739
It's possible that this is an issue specific to Chrome 59; I'm not able to reproduce this in Chrome Beta (60.0.3112.24) or Chromium (61.0.3130.0).

[2017-06-14 01:00] piperchester commented on #808
Totally fair! Appreciate the research and thorough response. Thanks!

[2017-06-14 12:58] arshdkhn1 opened #812 "message event sent when devtools are opened."
Hi,

I have setup a message event handler that parses the data sent via message event in my app. Whenever I open react devtools it fires many message events whose source is sometimes `Window` and it looks like -
![screenshot 2017-06-14 18 23 06](https://user-images.githubusercontent.com/16819670/27133090-a8e59122-512e-11e7-90d8-879cd327e935.png)

Right now I am blocking these message event by doin

[2017-06-14 16:47] marcogreselin opened #813 "Wrongly saying outdated version"
I'm working on a `create-react-app` app and it says I have an outdated version of React. I made sure to run `npm update` and have checked the version of the `react` module and it's 15.6.0. The website is https://marcogreselin.com/ and the code in question is in [this](https://github.com/marcogreselin/portfolio) repo. What am I doing wrong?

[2017-06-14 17:56] ngyikp commented on #813
The extension's warning is correct, your page is loading two copies of React.

Following this diagnosis guide: https://github.com/facebook/react-devtools/issues/692
We can see that there are two React renderers:
<img width="733" alt="screen shot 2017-06-15 at 1 27 05 am" src="https://user-images.githubusercontent.com/6135313/27145856-c40de306-5169-11e7-87f0-d6f0f9dd1a1d.png">

Luckily, source maps

[2017-06-14 18:00] marcogreselin commented on #813
Oh wow thanks @ngyikp for your help!

[2017-06-14 18:00] #813 closed

[2017-06-15 03:45] phodal commented on #739
It seems this issues was caused by setInterval, and in Chrome 59 add a new feature about setInterval.

In here, was a simplify code from react dev tools with setInterval:  https://github.com/phodal/chrome-59-show-setinterval-issue-code

I don't had to many experience on debug Chrome, so just leave a issue on Google Chromium bug page, which is https://bugs.chromium.org/p/chromium/issues/detail?id=7

[2017-06-15 14:53] gaearon opened #814 ""Highlight Updates" shouldn't disappear too fast"
They currently disappear a bit too fast. It would be nice to fade them out instead of instantly hiding them.

I'm also not confident colors are very useful, at least the current ones. They don't tell me much. I'm open to alternative ideas of how to represent updates on the screen.

[2017-06-15 18:23] bvaughn commented on #812
DevTools backend and content scripts talk to each other via `window.postMessage`. These messages are tagged with a `source` that's either "react-devtools-bridge" or "react-devtools-content-script". DevTools uses this to filter _all but its own messages_ (see [`backend.js`](https://github.com/facebook/react-devtools/blob/3a0b82ad1b9c68afd560e18bc57f814ab58b41fe/shells/chrome/src/backend.js#L37) and

[2017-06-15 18:23] #812 closed

[2017-06-15 18:44] arshdkhn1 commented on #812
@bvaughn  thanks.
But can you elaborate a bit more on this -

[2017-06-15 19:13] bvaughn commented on #812
I thought I did elaborate above :smile: I was suggesting you could do a similar thing as React DevTools does: tag your messages with some unique identifier and then filter out any messages not containing your unique identifier (a whitelist).

[2017-06-15 21:52] arshdkhn1 commented on #812
@bvaughn hmm, yes you did elaborate it above. thanks again.

[2017-06-16 09:17] rishikeshct commented on #603
The Simplest solution is to restart your Chrome, I mean close it and then open it.

[2017-06-16 13:20] bvaughn commented on #812
No worries 🤣 I thought maybe my explanation just didn't make sense.

[2017-06-16 13:56] #798 closed

[2017-06-17 11:26] zinoviev opened #817 "Flow errors with npm"
The last PR builds failed with flow errors on promise package

I spot these on last two PR https://github.com/facebook/react-devtools/pull/569 and https://github.com/facebook/react-devtools/pull/677 and it's true for master as well

On my local environment, everything is fine with yarn but doesn't work with npm
Promise is fbjs dependency ^7.03, with yarn it's resolved  with 7.1.1 version for npm i

[2017-06-19 06:42] jobala commented on #800
@bvaughn,

I did some research on how to implement the autocomplete feature,
I came across [awesomeplete](http://leaverou.github.io/awesomplete/).

The downside of using awesomeplete is that we need to know the style names beforehand,
and it will not be a trivial task to suggest possible values for a style name like chrome does.

Is there a better solution to this problem?

[2017-06-19 11:35] laclance commented on #707
I was using the stand-alone app. I reinstalled everything twice and upgraded all packages to latest versions and everything is working now.

[2017-06-19 11:35] #707 closed

[2017-06-19 13:14] bvaughn commented on #800
I see that awesomeplete says it's a "_zero dependencies_" lib which is fine, but since React DevTools already uses React, a single dependency (on React) wouldn't be a bad thing either. That being said, I don't know anything about awesomeplete so I can't comment off the top on whether that would be a good choice or not.

and it will not be a trivial task to suggest possible values for a style name

[2017-06-19 14:51] jmatsushita commented on #730
Hi there,

I'm having exactly the same issue also on OSX. Using the latest extension version `2.3.3`. Chrome `58.0.3029.110 (64-bit)`. OSX `10.12.5 (16F73)`

I've recorded a performance session with the chrome dev of the chome dev, not sure if I'm reading this correctly but maybe the JS Heap is maxed out at which point nodes starts being dropped?

![image](https://user-images.githubusercontent.com

[2017-06-19 14:59] bvaughn commented on #730
Hi @jmatsushita. Thanks for the extra context! Is the site you're viewing with DevTools accessible somewhere I can try to repro?

[2017-06-19 15:23] paularmstrong commented on #730
Maybe it makes a difference that I'm using a 24" HiDPI screen? (2x Dell P2715Q) @jmatsushita Are you using something similar?

[2017-06-19 15:27] jmatsushita commented on #730
Ha! @paularmstrong indeed, going to the laptop screen addresses the problem!

@bvaughn Not super easily right now... In a week or so probably! :)

[2017-06-19 15:30] jmatsushita commented on #730
Screen caps speaks louder than words :

![react_devtool_2](https://user-images.githubusercontent.com/356097/27292823-da7a79fc-5514-11e7-8c9b-b363bc3f72c0.gif)

[2017-06-19 20:42] wwwillchen commented on #801
@gaearon - I talked with @ak239 who works on V8 debugging on my team and he said that the performance issue might be because it's going from Javascript to C++ to execute these methods (e.g. C++ implementation here: https://cs.chromium.org/chromium/src/out/Debug/gen/blink/bindings/core/v8/V8Performance.cpp?type=cs&l=279)

Will let you know if we have more details to share.

[2017-06-19 20:45] gaearon commented on #801
@wwwillchen Thanks for the updated, it's appreciated!

[2017-06-19 22:19] ForbesLindesay commented on #817
This should now be resolved.

[2017-06-20 13:21] bvaughn commented on #817
Can confirm, CI seems happy now. Thanks for the update, @ForbesLindesay!

[2017-06-20 13:21] #817 closed

[2017-06-20 17:50] #705 closed

[2017-06-20 17:50] bvaughn commented on #705
Closed via #802

[2017-06-20 17:50] bvaughn commented on #524
Closed via #802

[2017-06-20 17:50] #524 closed

[2017-06-20 20:58] clarkbw commented on #647
This was fixed by #802

[2017-06-20 20:58] #647 closed

[2017-06-21 09:49] roslaneshellanoo opened #819 "How to keep opened DOM Node after Hot reload"
When you selecting a component in React DevTools and changing some code in the editor, the React DevTools not preserving the selected component.

### **for example, component selection:**
![screen shot 2017-06-21 at 12 45 44](https://user-images.githubusercontent.com/20886073/27378144-a50a244a-567f-11e7-9959-4ab5436705c8.png)

### **When you changing some code in the editor, react devtools showing

[2017-06-23 07:07] gsklee opened #820 "Error when inspecting elements with iOS simulator"
[code]

[2017-06-23 07:38] gsklee opened #821 "percentage margin on <Image> results in redbox"
I put something like `marginTop: '10%'` on an `<Image>` and whenever I move my cursor across it inside the devtool, my iOS simulator will turn into a redbox:

![http://imgur.com/Tj2hTQO.png](http://imgur.com/Tj2hTQO.png)

This error message doesn't show up inside the remote debugging console so I could only screenshot it.

[2017-06-24 14:30] bvaughn commented on #821
Is this the same issue as #820? Can we close one?

[2017-06-24 16:07] bvaughn commented on #820
This doesn't seem like a DevTools issue, but a React Native issue. Styles for things like border size are expected to be numeric (see [here](https://github.com/facebook/react-native/blob/a38f5b6b6a5013f31772141291716be3c4feeef0/Libraries/Components/View/ViewStylePropTypes.js#L40-L44)).

This same issue can be seen without DevTools by passing an invalid string style to a `View`.

[2017-06-24 16:07] #820 closed

[2017-06-24 16:13] bvaughn commented on #821
Based on the error provided, it looks like you have a typo in your styles markup. (I think you typed a '0' after the '%' accidentally.) The `marginTop` style can be [either a number or a string](https://github.com/facebook/react-native/blob/a38f5b6b6a5013f31772141291716be3c4feeef0/Libraries/StyleSheet/LayoutPropTypes.js#L196-L203) but if it's a string, it has to be parseable.

Pretty sure this iss

[2017-06-24 16:13] #821 closed

[2017-06-26 15:29] ericdfields commented on #67
+1

[2017-06-29 09:07] fvsch opened #823 "Firefox: update icon when browsing away from a React site"
This seems to be a separate problem from #650.

With the Firefox extension (2.3.3), a "React" tab is added to the developer tools and is shown for all pages, whether they use React or not. It’s a bit noisy if you’re not a React developer for 90% of your time. :)

Ideally, this tab would show up only when React is detected on the page. This seems to be how it works in Chrome.

If it requires a spec

[2017-06-29 15:28] bvaughn commented on #823
The next release of DevTools will update the Firefox plugin to be a WebExtension rather than an add-on. Once this has been done, the DevTools tab will only be shown (initially) if the current tab uses React- the same way Chrome works.

Unfortunately the issue described in #650 still occurs for Firefox. In addition to that, Firefox also fails to update the icon when you browse away from a React sit

[2017-06-29 16:17] fvsch commented on #823
@bvaughn Thanks for the info.
I’m okay with either repurposing this issue or closing and opening a new one.

[2017-06-29 17:22] bvaughn commented on #823
It's okay. I'm on it. 😄

[2017-06-29 19:04] #823 closed

[2017-06-29 19:04] bvaughn commented on #823
Fixed the Firefox-specific portion of this issue via #824

[2017-06-30 05:44] vdh commented on #83
@gaearon So will Immutable.js Maps get a better implementation? Maps with string keys are really hard to read like this.

[2017-07-03 07:48] AlexanderKosianchuk commented on #741
chown USER:root /usr/lib/node_modules/ resolves "EACCES: permission denied, access /usr/lib/node_module"

[2017-07-03 11:07] slorber commented on #398
that's great to hear @gaearon :)

Currently debugging portal state with react devtoolsis quite annoying because when you inspect an element the devtools focus on the top-level portal element. Often the state controlled just one layer above the portal so we have to navigate painfully the tree to find back our deeply nested component that holds that state

[2017-07-04 14:00] AntonNiklasson commented on #102
@zubivan Did you start working on this?

[2017-07-04 15:24] slorber commented on #707
@laclance can you please explain how did you solve your problem?

Are you using this repo or react-native-debugger?

[2017-07-05 08:55] mrdulin commented on #648
same issue!!

[2017-07-05 14:49] rybon opened #828 "DevTools failed to parse SourceMap: http://localhost:8097/backend.js.map"
I'm seeing this warning in the console. I can't tell if it is due to my project setup, or something in React DevTools. I'm using the standalone Electron app, the React code is running in an iframe.

[2017-07-05 19:03] sumnerevans commented on #795
@gaearon is this style editor what you are referring to?
<img width="274" alt="screen shot 2017-07-05 at 13 01 23" src="https://user-images.githubusercontent.com/16734772/27880465-4be7d26e-6182-11e7-9ab8-e72a581564d3.png">

[2017-07-06 04:14] 0xcaff commented on #739
Basically a regression of `setInterval` leaked into the stable release of chrome. Updating to >=59.0.3071.109 will fix this problem.

[2017-07-06 04:30] dennistang commented on #739
Yep! I'm no longer experiencing high CPU usage!

[2017-07-06 06:26] jobala commented on #800
@bvaughn,

I haven't had a lot of time to work on this,
You can take this up.

[2017-07-06 07:21] captainbrosset opened #829 "Minor: Update this repo's description to also mention Firefox"
Thanks for the awesome work making this supported on Firefox too.

The repo has the following description now:
An extension that allows inspection of React component hierarchy in Chrome Developer Tools.

It should now be updated to something like:
An extension that allows inspection of React component hierarchy in Chrome and Firefox Developer Tools.

[2017-07-07 00:22] jimmyzhen opened #831 "Component names are not correctly shown in inspector with the use of createReactClass()"
I am replacing the deprecated `React.createClass()` with `createReactClass()` in my code since I am not yet ready to migrate all the modules to ES6 yet.

However, with these changes, the Chrome React Developer Tools no longer display the component names such as shown in the following:
![image](https://user-images.githubusercontent.com/6956310/27937793-91fe3594-626e-11e7-8af4-a4915f0ac18c.png)

Rat

[2017-07-07 16:52] sumnerevans commented on #662
@gaearon, @tsriram, Is there a reason this is still open? If yes, is there anything that I can do to help complete this?

[2017-07-07 18:58] sumnerevans commented on #814
@gaearon, I can tackle this. I think that making the updates fade should be fairly straightforward.

One thing that may improve usability is allowing the user to configure how long to persist the highlights for.

I also looked at the coloring and became confused. What do the colors indicate currently (if anything)?

[2017-07-07 19:38] gaearon commented on #814
I don't think we want to keep this configurable. Let's just find good defaults.

I think the colours are supposed to represent how often the updates have been happening. The hotter the colour the more updates. I'm not sure if this is how it works in practice though and I'm open to changing heuristics to be more useful.

[2017-07-07 21:51] #831 closed

[2017-07-07 21:54] jimmyzhen commented on #831
The issue was due to an outdated version of `babel-preset-react` plugin. After updating the package to its latest version, which has added handling for `createReactClass({})`, the components' display names are showing correctly in the React Developer Tools.

[2017-07-09 19:04] gaearon commented on #662
Sorry, I think it was done and I forgot to close the issue. Thanks for reminding!

[2017-07-09 19:04] #662 closed

[2017-07-10 15:04] orta opened #833 "Add support for copy props as JS"
### Use case

I'm currently writing storybooks / jest snapshot tests for code that uses Relay, I'd like to be able to get the props that are passed to a component in prod into my source code so that I can reliably stub the networking.

![screen shot 2017-07-10 at 11 01 31](https://user-images.githubusercontent.com/49038/28024645-51c366d6-655f-11e7-8155-543f1e617d80.png)

Functions can probably be

[2017-07-10 17:12] alexkrolick commented on #730
This happens to me as well. The fastest way to reproduce is to inspect a DOM node, then switch to the React tab to instantly expand the tree to that position.

[2017-07-10 17:13] sumnerevans commented on #814
@gaearon, I doubled the length of the highlight and made the borders fade out. Here's a screen capture of what that looks like.

![highlight-updates-animation](https://user-images.githubusercontent.com/16734772/28030337-96124356-6560-11e7-9dd2-9eb8d7c2f874.gif)

Any thoughts on how I could improve this?

[2017-07-10 17:19] bvaughn commented on #730
@alexkrolick: Just to confirm, when that happens, are you sure that the tree isn't just scrolled to the incorrect horizontal position? I _have_ seen that (and we have #746 opened to fix that).

[2017-07-10 17:22] alexkrolick commented on #730
Yeah, it totally glitches out - see before/after below for trying to hover the devtools titlebar, plus the extra white areas where nodes should be.

![62006242-ced3-435e-9342-a2745e69ce4b](https://user-images.githubusercontent.com/1571667/28030643-723a1b7c-6559-11e7-9be6-5f7379b6be26.png)
![0fffd469-dec0-413d-97a9-de62e1bb22aa](https://user-images.githubusercontent.com/1571667/28030645-725c5fb6-65

[2017-07-10 17:26] gaearon commented on #814
I think @bvaughn might have more helpful suggestions on UI than me. Thanks for working on this!

[2017-07-10 17:41] alexkrolick commented on #730
It's actually happening on one of my coworker's screen right now, too 😱

[2017-07-10 18:06] bvaughn commented on #730
When it does this, can you inspect the React DevTools panel (using the "Elements" tab in another Chrome DevTools panel) and confirm if the nodes are _missing_ or if they're there but not rendered? My guess is that they're present, but not being rendered by the browser for some reason, but I have been unable to reproduce this bug so far.

[2017-07-10 18:16] bvaughn commented on #814
I think I like this change. @sumnerevans is it somewhere I can try it out? Maybe a PR?

[2017-07-10 18:20] bvaughn commented on #829
Agreed! The description should either mention Chrome+Firefox or be even more generic and mention neither browser. (This repo is also the source for the standalone DevTools used for React Native.)

[2017-07-10 18:23] bvaughn commented on #829
Done!

[2017-07-10 18:23] #829 closed

[2017-07-10 18:26] bvaughn commented on #794
Tagging this as in-progress since [@sumnerevans asked to work on it](https://github.com/facebook/react-devtools/pull/810#issuecomment-313773234).

Let me know if you change your mind, Sumner! 😄

[2017-07-10 18:51] sumnerevans commented on #814
@bvaughn, here's the branch where I've been developing this: https://github.com/kenzanlabs/react-devtools/tree/highlight-update-animation. I am working on this on behalf of Kenzan, so I can't send a PR upstream until an internal review occurs.

[2017-07-10 19:23] alexkrolick commented on #730
![kapture 2017-07-10 at 12 21 20](https://user-images.githubusercontent.com/1571667/28035709-7117e5ec-656a-11e7-829f-dc220aedd4d3.gif)
![kapture 2017-07-10 at 12 20 22](https://user-images.githubusercontent.com/1571667/28035710-711c046a-656a-11e7-8bf1-807d948cc5f9.gif)

[2017-07-10 19:27] leoasis opened #834 "Collapser not red for components with state"
It seems the collapser in the component tree is not red, for components that have state. I'm seeing this behavior with latest Chrome and devTools version 2.4.0.

Pasting a screenshot to show the behavior:

The top component (named "k") contains state, as you can verify in the second screenshot.

![image](https://user-images.githubusercontent.com/328001/28035820-63b36a6c-658c-11e7-8a6f-bd8379889072

[2017-07-10 19:35] bvaughn commented on #730
That's interesting! I suspected this was some sort of browser/rendering bug.

[2017-07-10 19:36] bvaughn commented on #814
I see. I suppose we'll wait for one then. 😄

[2017-07-10 19:51] captainbrosset commented on #829
Thanks @bvaughn!

[2017-07-10 20:44] leoasis commented on #834
Ah never mind, just noticed the color is no longer red, but pink, while the other arrows are dark gray.

Maybe that needs an update in the README and in the screenshot used?

[2017-07-10 21:48] bvaughn commented on #834
The README (and its screenshots) probably all predate the addition of themes. Theme color changes the color of components with state/context, so that's a bit tricky. I agree with you that the way the current docs refer to "red" specifically is not great. I'll take a stab at improving it. 😄

[2017-07-10 21:52] #834 closed

[2017-07-10 22:51] bvaughn commented on #833
Yo @orta. Check out #837 and let me know your thoughts.

[2017-07-10 23:52] leoasis commented on #834
Awesome, thanks for the fast answer!

[2017-07-11 20:49] bvaughn commented on #803
@indigoviolet I believe the change in PR #839 should work for fin.com but I'm unable to verify it since there is no sign-up. 😄

[2017-07-11 23:10] #833 closed

[2017-07-11 23:10] bvaughn commented on #833
Moving forward with the approach in #837 based on initial positive feedback and my own testing.

We can always iterate and improve.

[2017-07-11 23:19] #803 closed

[2017-07-12 18:01] michaelaflores opened #841 "Connection to port 8097 fails, failed to send WebSocket frame"
When I run `react-devtools`, it seems to have trouble connecting as it keeps changing from "Waiting for React to connect..." to "Connecting to React..." and back. The connection message typically flips back pretty quickly, and then throws this error to the console:

It will go through this loop quite a few times (sometimes up to 60, sometimes just a few times) before successfully establishing a co

[2017-07-12 21:21] indigoviolet commented on #803
Thank you! @bvaughn

[2017-07-12 21:41] michaelaflores commented on #841
Update: opening the same page in Safari Technology Preview or Chrome allows the app shell to load as it should. I'm curious what about Safari specifically might cause this issue.

[2017-07-12 21:47] aozdemir-coursera opened #843 "The "Copy element props" feature does not do a deep-copy"
The copy props feature was introduced in #837. It's awesome, but has a substantial flaw: it only copies as deeply as the user has expanded the properties in the property explorer.

Reproduction steps:

1. Go to [Coursera's home page](https://www.coursera.org/). If you were logged in, log out.
2. Open the React extension.
3. Search the inspector for "FrontPage2016" and select the node.
4. Copy its

[2017-07-13 03:44] jaredly commented on #843
We'd probably want to add a new function to the `backend`, which would be "give me a json representation of the props" and just feed it straight up, instead of recursively expanding through the current API.

[2017-07-13 05:11] Fralleee commented on #814
Don't know if I should write a new issue or write in this one but here goes.
Our app uses a 3rd party login, that means react dev tools "reloads" and the highlight updates is inactive.

Is it possible to add an option to have highlight updates activated by default? Or save the option value, if I once activated it I have to manually deactivate it.

[2017-07-13 05:23] bvaughn commented on #814
What you're describing definitely sounds like a separate thing to me, @Fralleee. Please file it as a new issue if you would. 😄

I think what you're really asking for (maybe) is that DevTools persist settings like "highlight updates" in the same way as we currently persist theme-selection. True? If so, I think that would be a reasonable feature request. 😄

[2017-07-13 05:24] Fralleee commented on #814
That's exactly what I meant, sorry for phrasing it so poorly. I will file a new issue.

[2017-07-13 05:27] Fralleee opened #844 "Persist "Highlight updates"-value when dev tools reloads"
This is useful when using 3rd party login, which forces react dev tools to reload and thus disabling highlight updates, or just simply when you are in "optimization"-mode and want the "highlight updates"-option enabled for a longer period of time.

[2017-07-13 05:30] bvaughn commented on #841
Off the top of my head I have no idea what this issue is. I don't think it's super high priority from our end if it impacts Safari only (and not even the tech preview). If you have time to dig into it though we'll be happy to review a PR. 😄

[2017-07-13 05:32] bvaughn commented on #843
That would be a nice improvement to the feature 😄

[2017-07-13 08:06] lolBig opened #845 "index undefined value"
[code]

if worldServers[i].delay is undefined, will throw an exception in backend.js:8688.

[2017-07-13 15:21] pedrogarciyalopez opened #846 "Can't install"
macOS Sierra 10.12.5
node 8.1.3
npm 5.2.0

sudo npm install -g react-devtools

and:
<img width="1322" alt="2017-07-13 18 20 36" src="https://user-images.githubusercontent.com/14232660/28173752-0dae89b2-67f8-11e7-9e91-d6354773ccac.png">

[2017-07-13 15:41] michaelaflores commented on #841
I'd definitely be happy to dig in to it. Any links to how to get some debug info or get more info on the error would be appreciated. 😃

[2017-07-13 16:23] bvaughn commented on #846
Using sudo with NPM is error prone and leads to issues with corrupted permissions.

Try changing `/usr/local/lib/node_modules/` to something writable by all users and then installing without sudo. 😄

[2017-07-13 16:23] #846 closed

[2017-07-13 16:28] bvaughn commented on #845
More context here: the specific error is on this line:
[code]
and is:
[code]

[2017-07-13 16:33] bvaughn commented on #845
The minimal case to reproduce this bug is the following:
[code]

[2017-07-13 16:45] bvaughn commented on #845
Ping @flarnie in case you're interested in looking into this 😄  Else I will pick it up in an hour or so

[2017-07-13 17:13] flarnie opened #847 "`yarn run test:firefox` fails with `Unhandled promise rejection`"
Steps to reproduce;

1) Use `n` to run node v8.0.0.
2) run `yarn install` and `yarn build extension`
3) run `yarn run test:firefox`

Output:
[code]

[2017-07-13 17:14] flarnie commented on #847
tagging @bvaughn since you have been helping with setting up these test scripts

[2017-07-13 17:19] flarnie commented on #847
`yarn run test:chrome` seems to hang for me.

I also tried switching to node v7.6.0 and got the same result. Going to do the manual testing steps for now and come back to this and investigate when I have time.

[2017-07-13 17:26] flarnie commented on #847
Now I'm thinking I might just need to install `web-ext` globally. The 'unhandled promise' looks unrelated.

[2017-07-13 17:30] flarnie commented on #847
That was it - ignore this.

[2017-07-13 17:30] #847 closed

[2017-07-13 17:44] flarnie commented on #845
So far in Chrome I'm not able to reproduce this in a CRA app. Will try in Firefox next.
![screen shot 2017-07-13 at 10 43 45 am](https://user-images.githubusercontent.com/1114467/28179904-475a5d20-67b8-11e7-95cf-ad62047f69d2.png)

[2017-07-13 17:54] flarnie commented on #845
Nevermind - it does reproduce with the exact examples mentioned.

[2017-07-13 18:08] bvaughn commented on #847
Sorry for the snag Flarnie. The [Firefox shell README](https://github.com/facebook/react-devtools/tree/master/shells/firefox#testing-in-firefox) mentions this as a pre-req but maybe the CLI output should also call it out? Thoughts?

[2017-07-13 18:11] clarkbw commented on #847
What if we made `web-ext` one of the `devDependencies`?  This helps maintain a consistent version.  Lemme open a quick PR.

[2017-07-13 19:20] bvaughn commented on #847
I dig it

[2017-07-13 20:17] flarnie commented on #845
This is also stack-reconciler only - doesn't repro when running React v16.0.0-alpha.12. I'll keep fixing it so long as it seems easily fixable, but to me this is lower priority knowing that it is related to non-fiber code.

[2017-07-13 20:18] flarnie commented on #845
I've also confirmed that just tweaking the conditionals in 'getData' to handle the 'null' value does not fix the issue. Looks like we don't expect to get 'null' as a possible value there, so something earlier on must be going wrong. Continuing to look into it.

[2017-07-13 20:36] chrisnojima opened #849 "Illegal invocation w/ 2.5.0"
I'm debugging an electron app and when I click on HTMLElements on the right side pane I get console.errors

Uncaught TypeError: Illegal invocation
    at chrome-extension://react-developer-tools/build/backend.js:7482:54
    at Array.forEach (native)
    at Bridge._inspectResponse (chrome-extension://react-developer-tools/build/backend.js:7478:54)
    at Bridge._handleMessage (chrome-extension://re

[2017-07-14 00:42] bvaughn commented on #849
Sorry for the silly question, but could you elaborate on what you mean by "_clicking on HTMLElements on the right side pane_"?

Do you think there's something special about your Electron app WRT this bug or do you think it's reproducible with any app?

I cloned [chentsulin/electron-react-boilerplate](https://github.com/chentsulin/electron-react-boilerplate), upgraded the version of devtools it use

[2017-07-14 01:18] chrisnojima commented on #849
Sorry for the ambiguity! By clicking on an HTMLElement I mean, I had a react node with a prop that was a result from a ref (so a dom node). When I click on it to I would get this error. I tried to make a simple repro using the electron-react-boilerplate but it seemed to work fine.

The PR where I noticed this is kinda strange so it might be a confluence of a lot of weird things (Using react 16 alp

[2017-07-14 01:18] #849 closed

[2017-07-14 01:22] bvaughn commented on #849
If you're able to provide a minimal repro of this issue, please tag me here. I'd like to take a look. 😄

[2017-07-14 12:37] jnachtigall opened #850 "Browser toolbar icon has ugly greyish background in Firefox"
![react-devtools-icon](https://user-images.githubusercontent.com/3307404/28212446-ae8269cc-68a1-11e7-8a37-9c9f28511c6e.png)

I guess the background of this icon should be transparent. FWIW, I am using Firefox with its dark developer edition theme.

[2017-07-14 15:59] #850 closed

[2017-07-14 16:56] kumar303 opened #852 "Developing react-devtools in Firefox will break your Firefox"
When developers work on react-devtools, they run [this web-ext command](https://github.com/facebook/react-devtools/blob/67c857341ccf03602dd35cc0dd57caf0353bffd0/shells/firefox/test.js#L35) to start Firefox.

I wanted to point out that since this uses the developer's **default** profile, it will apply all of web-ext's required profile changes and thus make their default instance of Firefox very ins

[2017-07-14 17:02] kumar303 commented on #852
For any of your developers who have run this, they can type `about:support` into the URL bar of Firefox and click the 'Refresh Firefox' button. I'm not sure if this will fix everything though. They should go to `about:config` and check the prefs linked to up above.

[2017-07-14 17:47] bvaughn commented on #852
cc @clarkbw to confirm the issue and proposed fix. Want to include this with your changes in #848?

If not I'm happy to follow up on it. Just thought you'd have more context.

[2017-07-14 17:48] bvaughn commented on #852
Thanks for filing this issue and for all of the provided info, @kumar303 !

[2017-07-14 17:56] clarkbw commented on #852
Yes, I just confirmed this and I can pick this up over there.

[2017-07-14 22:38] sumnerevans commented on #844
@Fralleee, I can look into this. I've been looking through the codebase trying to figure out how to tackle this. Are there any mechanisms in place currently for
1. storing state in a way that is persistent across reloads; and
2. restoring state after a reload?

[2017-07-16 20:05] AntonNiklasson commented on #102
I would like to try and solve this. Any ideas on what kind of manipulations should be possible?

[2017-07-17 08:50] Meshredded opened #854 "React Dev Tools don't show when i inspect devices"
So i'm writing a cordova app that uses react based on [this project](https://github.com/phonegap/phonegap-template-react-hot-loader)
The problem is that react dev tools won't show when i inspect devices using google chrome.
Html inspection works good but not react dev tools.

[2017-07-17 12:37] agos commented on #739
since this appears to be a Chrome issue and resolved in the latest version, I'll close the issue.

[2017-07-17 12:37] #739 closed

[2017-07-17 15:52] sumnerevans commented on #794
@bvaughn, were you going to merge in #810? I would rather work off of this repo (I'm working on this on behalf of Kenzan so, for administrative reasons, it's easier).

[2017-07-17 16:29] bvaughn commented on #794
I was not planning on merging #810 as it had a few issues needing to be addressed first. I was holding off to see what you did with your fork, assuming I'd merge a PR from you and close #810.

What do you prefer?

[2017-07-17 17:29] chrisnojima commented on #849
Hi,

I think this is related to making calls w/o the correct context. In my app I had a console.log override which I think is the real culprit (basically this is happening: https://bugs.chromium.org/p/chromium/issues/detail?id=167911&q=illegal%20invocation&colspec=ID%20Pri%20M%20Week%20ReleaseBlock%20Cr%20Status%20Owner%20Summary%20OS%20Modified)

So when redux-devtools was using console.log it wa

[2017-07-17 20:19] #852 closed

[2017-07-17 20:23] bvaughn commented on #854
Hey @Meshredded,

Have you tried the [standalone DevTools](https://github.com/facebook/react-devtools/tree/master/packages/react-devtools)?

[code]

I think it should work with Cordova apps (although I haven't tried).

[2017-07-18 12:25] zinoviev commented on #843
I write asking JSON strictly from backend as @jaredly suggest, but got an error when passing resulted string to a clipboard on bridge callback:  `Unable to copy. Perhaps it's not available in your browser?`

According to https://github.com/lgarron/clipboard.js
[code]
I will look further on this, but maybe someone here is more familiar working with clipboard and can say if it's possible to copy thi

[2017-07-19 08:49] Meshredded commented on #854
Hey @bvaughn  Thank you so much it worked well with the standalone devTools.

[2017-07-19 14:40] #854 closed

[2017-07-19 14:40] bvaughn commented on #854
Glad to hear

[2017-07-19 18:14] sumnerevans commented on #794
@bvaughn, I've been working on this for Kenzan and there have been a few changes in my work allocation. I'm not going to be able to work on this. I'm really sorry.

[2017-07-19 18:16] bvaughn commented on #794
That's okay. It happens.

Does this also apply to #814 ? Need to know if I should mark that as ready for someone to pick up also.

[2017-07-19 19:24] bvaughn commented on #814
Okay, so a PR is still coming for this- it will just be delayed?

If so, I don't mind waiting a while. 😄  Just wanted to confirm!

[2017-07-19 19:24] clarkbw commented on #622
I can't reproduce this anymore with the new Firefox WebExtension.

Here are my steps:

- `yarn install`
- `yarn run build:extension:firefox`
- `WEB_EXT_FIREFOX=nightly yarn run test:firefox`
- open React DevTools panel
- refresh multiple times

[2017-07-19 19:36] sumnerevans commented on #814
@bvaughn, yes. We will submit a PR as soon as the CLA is signed.
CC: @thescientist13.

[2017-07-21 08:55] dancomanlive commented on #707
same problem here. yes laclance you could be more specific

[2017-07-21 09:21] jnachtigall opened #856 "Scrollsbar in Dark Theme (Firefox) are not the small, floating scrollbars"
Since a few days the scrollbars in Dark Theme are not the small, floating ones anymore but the huge ("ugly") native ones:

![r](https://user-images.githubusercontent.com/3307404/28457408-52686e4c-6e06-11e7-865f-91ba454b8c9a.png)

I use Firefox Nightly (Dark Theme). Not sure this is really a React DevTools bug or a Nightly bug... If so, please let me know (and I'll file a bug at BMO). But in all ot

[2017-07-21 09:24] laclance commented on #707
sorry for the late reply i could not get this repo or react-native-debugger to work. At first i removed and reinstalled everything and it worked for a few days then it started only working once and saying unable to connect to remote debugger almost everytime i reloaded. I have not had the time to try and find the issue.

[2017-07-21 09:25] jnachtigall commented on #856
Uh, forgot:
OS is Windows 10.
Firefox 56.0a1 (2017-07-20) (64-bit)

[2017-07-21 15:15] JacquelinClement commented on #333
@envygeeks Doesn't work for me with Firefox (v54.0.1) on MacOS (v10.11).
I have delete the Facebook React plugin, it was a total disaster, always out of memory (got 8Go) and more than 3Go taked by FF.

[2017-07-21 15:50] bvaughn commented on #856
React DevTools was last updated in the Firefox store on July 12, 2017. The changelog for that release can be seen [here](https://addons.mozilla.org/en-US/firefox/addon/react-devtools/versions/?page=1#version-2.5.0)"

If this was working previously but broke within the past couple of days, I'd say it's unlikely to be caused by React DevTools since the code related to this hasn't really changed. How

[2017-07-21 18:41] clarkbw commented on #856
Yeah, I'd guess this is a Firefox issue with changes in Nightly.  Lemme ask internally.

[2017-07-21 19:05] #650 closed

[2017-07-21 19:06] #648 closed

[2017-07-24 02:03] dancomanlive commented on #707
adb reverse tcp:8097 tcp:8097 works but it disconnects more than it connects : (

[2017-07-25 11:47] jnachtigall commented on #856
I did test with mozregression, actually back until 2017-06-07. All the same: big scrollbars. Then I tried the last version of React addon before the current one, which is 2.4: Also big scrollbars. And before this, this the addon was not themed at all.

So I am not sure anymore this has ever worked. Don't know, I was pretty sure it worked, but maybe I just dreamed it 😴

[2017-07-25 17:07] bvaughn commented on #856
Well, this _could_ be accomplished by defining styles for `-webkit-scrollbar` + `-webkit-scrollbar-thumb` but I'm not sure that's a path we should go down. I'd be curious what Bryan thinks though.

[2017-07-25 20:12] mbixby commented on #730
Reverting to earlier versions of Chrome might work too, it didn't happen before a certain update.

[2017-07-26 15:12] tifosiblack commented on #845
For me, the root cause it not that internalInstance is undefined, it's why we have an undefined child, in data.children retrieved by getData012 (or getData).

In fact I can simply reproduce the error when I have prototype extension of Array.

[code]
Using a for .. in without using hasOwnProperty is dangerous.

[2017-07-26 15:17] bvaughn commented on #845
@tifosiblack You might be interested in checking out Flarnie's work to fix this on #853

[2017-07-27 06:51] levani opened #859 "undefined is not an object (evaluating 'component._instance')"
### Environment

1. `react-native -v`:
react-native-cli: 2.0.1
react-native: 0.46.4
2. `node -v`: 6.11.1
3. `npm -v`: 5.3.0
4. `yarn --version`: 0.27.5
5. `react-devtools`: 2.5.0

Then, specify:

- Target Platform: Android

- Development Operating System: Windows 10

- Build tools: Android Studio

### Steps to Reproduce

1. create new empty app using `react-native init AwesomeProject`
2. install g

[2017-07-27 09:45] nt1m commented on #856
@clarkbw We have some internal code that handles floating scrollbars: https://dxr.mozilla.org/mozilla-central/source/devtools/client/shared/theme-switching.js#96

The reason why React DevTools can't benefit is because the theme-switching.js script is not loaded inside extensions (and it shouldn't be). The solution here would be creating a new script for extensions that does that bit of code, and t

[2017-07-27 09:46] nt1m commented on #856
@bvaughn -webkit-scrollbar(-thumb) isn't supported by Firefox.

[2017-07-27 16:31] bvaughn commented on #856
D'oh! Thanks for pointing that out @nt1m! I thought I'd tested Firefox before posting..

[2017-07-27 16:31] kiruh opened #860 "arrow functions as members of class do not work with devtools"
Here's the file in which I've added an arrow function as a member of class:
[code]
Since I have **babel-plugin-transform-class-properties**, the function is being transpiled properly and the application works as it should.

But in the console I get error:
[code]

Here's the code where I've got an error:
[code]
The problem disappears when:

- I disable react-devtools
- I change my code to:

[code]

[2017-07-27 23:59] rhnorskov opened #861 "Multiple rgba borders cancels the others"
If I apply multiple borders to a div, with a rgba color with an alpha lower than 1 neither border is applied. It does however work with just one border, or with 'solid' colors. The issue disappears if I disable the extension.

https://jsfiddle.net/b1m6b24w/

[2017-07-28 00:04] #861 closed

[2017-07-28 00:04] rhnorskov commented on #861
I am having trouble reproducing the issue, I might a have concluded the extensions fault too quickly.

[2017-07-28 15:51] #845 closed

[2017-07-30 08:48] nicodmf opened #862 "Android - unable to connect to remote debugger"
versions :
 - native 4.3 4.6
 - OS : linux debian 9
 - react-devtools : standalone 2.5.0
 - device : emulator or samsung S6

With many tests, and reading, i can't connect react native with react-devtools, this is the same with nuclide and with the standalone app.

Same problem with geny motion : https://stackoverflow.com/questions/45093161/how-can-i-get-react-developer-tool-to-work-with-genymotion

[2017-07-30 20:52] tylercrompton commented on #850
Instead of opening a new issue, I figured that asking here would be a better choice. What exactly is the purpose of the toolbar button. It doesn't seem to have any functionality other than telling me which build that I'm using and that I can use this add-on via the developer tools. Surely I am missing something. How is the button necessary?

[2017-07-30 23:08] bvaughn commented on #850
This is a pretty important piece of information. Before we added the new icons, there was a widespread problem of sites accidentally using a development build of React for a production instance (see facebook/react/issues/8784). This caused unnecessary slowness due to larger bundle size and development-only validations being run. The custom icon was crucial in raising awareness about this- essentia

[2017-07-31 02:14] tylercrompton commented on #850
Ah. I never considered that that would be an issue. Thank you for the insight.

[2017-07-31 13:09] healscm opened #863 "Chrome can't add react-devtools"
when i click the icon
![image](https://user-images.githubusercontent.com/11639958/28779234-f5158658-7634-11e7-9d6c-55bd24d48708.png)
,it shows like that ,how i can do ?
![image](https://user-images.githubusercontent.com/11639958/28779113-93576c2e-7634-11e7-81c8-efc98e1d5c48.png)

[2017-07-31 15:33] bvaughn commented on #863
This icon means that the website you're currently viewing (in the active tab) doesn't appear to be running React. If you open a website that's using React, eg the [devtools theme preview site](http://facebook.github.io/react-devtools/), the icon should change to reflect which build of React is running on that site. At this point, you can open Chrome DevTools (Cmd+Option+i) and you should see a "Re

[2017-07-31 15:33] #863 closed

[2017-07-31 17:14] michaelnagy commented on #859
I'm also experiencing this issue.

[2017-08-02 06:49] Riokai opened #864 "Request support toggle hide element or only show component mode"
Something the page show lots of tags, but I just want focus component.

[2017-08-02 15:20] bvaughn commented on #864
I don't understand what you're suggesting @Riokai. Could you elaborate?

[2017-08-02 15:31] Riokai commented on #864
@bvaughn  Of course, `vue-devtools` only show component in window and somethings I just want a toggle to hide html tag like `header`, `p` and `div`, make interface more cleaner.

![image](https://user-images.githubusercontent.com/7970372/28881134-c2a12d3e-77d9-11e7-8c1e-2e3e2329bd3a.png)

![image](https://user-images.githubusercontent.com/7970372/28881305-4699a094-77da-11e7-8655-05f36eb66843.png)

[2017-08-04 17:17] rensftw commented on #67
+1

[2017-08-05 11:41] sidorares commented on #726
can we have default behaviour for this in chrome extension to open line in 'Sources' pane?

opening line in Sources pane is easy - https://developer.chrome.com/extensions/devtools_panels#method-openResource

Difficult part would be to map from absolute path transform-react-jsx-source generates to `webpack://` + relative local path url. If having 'debugger' permission to extension is an option we c

[2017-08-06 02:56] aikuigui commented on #41
I want to know this kind of wrong report. How can I check it out?

[2017-08-08 12:12] jnachtigall commented on #856
So according to @nt1m in https://github.com/facebook/react-devtools/issues/856#issuecomment-318313797 this is more of a Firefox issue. I suspect that this "bug" is also visible for other Firefox DevTool extensions like for Vue.js, Angular or the like. So I went ahead and filed a bug at BMO: https://bugzilla.mozilla.org/show_bug.cgi?id=1388329

@nt1m or @clarkbw Maybe you could triage there or get

[2017-08-08 12:12] #856 closed

[2017-08-08 15:29] bvaughn commented on #856
Thanks for the update!

[2017-08-08 15:42] bvaughn opened #865 "New context menu option: copy tree"
Right-clicking an element currently shows 2 options: "Copy element name" and "Copy element props". It might be nice if there was an option to copy a tree representation (for the current element and its children). I assume it would be sufficient to copy the names of elements only and not their props.

For background info, see [this discussion thread](https://twitter.com/JustRodders/status/894911150

[2017-08-09 02:44] jhen0409 commented on #862
React DevTools isn't debugger of React Native, I think you misunderstood (even the StackOverflow problem).

[2017-08-09 14:37] nicodmf commented on #862
React dev tools debug native with versions from 4 month ago. I don't understand why this is broken now, as Atom/Nuclide debugger.

But this is a strange competition and now the winner isn't the open source neither a javascriptcore debugger which would be more efficient aand realistic than a V8 engine.

[2017-08-10 21:36] sophiebits opened #867 "Hard to copy part of a component name"
![image](https://user-images.githubusercontent.com/6820/29192628-ee793d36-7dd6-11e7-9c20-410eedc8c56c.png)

Not showing the component name in the sidebar (changed in #713) makes it much harder to copy "WayfinderKioskStitchedMap" (for example) out of the devtools.

For comparison, Chrome lets you double-click a name to get an editable field:

![image](https://user-images.githubusercontent.com/6820/

[2017-08-10 23:18] chrislloyd opened #868 "Read-only props for functional components"
![screen shot 2017-08-10 at 4 14 31 pm](https://user-images.githubusercontent.com/718/29196083-12ecb340-7de7-11e7-824c-9a2836be548b.png)

It looks like props for functional components are being marked at "read-only". From digging around,
it seems like this is because functional component instances don't have a `forceUpdate()` method. I definitely understand why this is, but I've seen this be confu

[2017-08-11 17:34] dahjelle opened #869 ""Connecting to React…" forever in FireFox with `tiny-lr` LiveReload server"
**Browser**: Firefox Nightly 57.0a1 (2017-08-11)
**DevTools**: 2.5.0

I have a project where I'm using the [`tiny-lr`](https://www.npmjs.com/package/tiny-lr) LiveReload server. On Firefox Nightly, the DevTools perpetually display "Connecting to React…" and never load. It works fine in Chrome.

If I turn the LiveReload server *off* , the DevTools work without a problem, but, of course, I lose the L

[2017-08-11 19:54] dahjelle commented on #869
I tried making a minimal test case using `tiny-lr` in an app made with `create-react-app`, but things seemed to work fine there. I'm not sure what else could be causing the issue…

[2017-08-11 22:08] clarkbw commented on #869
Any chance you can put the existing project online somewhere?

[2017-08-13 02:54] dahjelle commented on #869
Unfortunately, no. As I've experimented more, it could also be related to a PouchDB/CouchDB `_changes` feed, as well…but I cannot reproduce that in a minimized test case, either.

Does the React DevTools wait for a page loaded event or anything of that sort that might be waiting for a long poll HTTP feed or a web socket to finish before loading the DevTools?

[2017-08-16 12:24] DomVinyard commented on #67
+1

[2017-08-16 13:43] dahjelle commented on #869
I just noticed another odd thing—sometimes, the DevTools eventually seem to come up. I haven't been able to figure out how to reproduce this, but sometimes I'll come back to Firefox and see that the React DevTools successfully loaded.

[2017-08-16 20:17] dahjelle commented on #869
I've resolved this in the case of our app. The issue appears to have been having a PouchDB `_changes` feed subscription immediately in a `<script>` tag at the end of the document. This apparently causes Firefox to think it is perpetually in a loading state, with the spinner and everything. If I subscribed to the `_changes` feed in a `setTimeout`, then Firefox didn't think it was loading *and* the

[2017-08-16 20:17] #869 closed

[2017-08-16 20:18] bvaughn commented on #869
Thanks for the update!

[2017-08-17 19:36] Quantumplation opened #871 "Feature Request - Export state"
Apologies if this feature already exists, I couldn't find any way to do what I'm looking for...

It would be very useful if react dev tools allowed some kind of "Export" functionality, that could later be reimported to inspect further.  The primary use case around this would be for capturing erroneous states to attach to a bug report and aid the developer in tracking down the issue.  Especially us

[2017-08-17 21:34] bvaughn commented on #871
I think this is probably a larger scope than React DevTools can tackle. Not all applications can be safely serialized and there no common convenient (that I'm aware of) for how this would be done.

If you're using Redux for state management (for example) there are some time-traveling/persistence tools that do things similar to what you're describing (eg [redux-state-history](https://github.com/ina

[2017-08-17 22:14] Quantumplation commented on #871
I agree that a perfect solution might be difficult to impossible.  Something that approximates it, by exporting what it can, might go a long way though.  The moral equivalent of saving the page source.

[2017-08-20 00:51] rodney757 opened #872 "can't install react devtool extension with firefox developer build"
using firefoxDeveloperEdition build 56.0b3 (64-bit), the option to install is disabled.

I'm able to install with nightly build 57.0a1 (2017-08-19) (64-bit), beta build 56.0b3 (64-bit), and regular build 55.0.2 (64-bit)

[2017-08-20 15:14] clarkbw commented on #872
The option from the Firefox addons site?

[2017-08-20 15:29] rodney757 commented on #872
yes. I'm able to install the .xpi file directly and everything seems to
work fine, but the firefox addons site doesn't allow the install,
complaining about unsupported firefox version.

I first filed a bug with firefox, but they said to raise the issue with the
extension dev

On Sun, Aug 20, 2017 at 3:14 PM, Bryan Clark <notifications@github.com>
wrote:

[2017-08-21 15:20] clarkbw commented on #872
It might be something with the compatibility listing in the addons site however since you are able to install it with the Beta build that doesn't make sense to me because DevEdition and Beta are the same version.

I'm using DE with the same version on Mac and I'm able to install via the addons site.

<img width="777" alt="screen shot 2017-08-21 at 8 19 26 am" src="https://user-images.githubusercon

[2017-08-21 20:59] spicyj commented on #867
I think the best way to do this would be to allow double-clicking on the name in the React devtools to get a *read-only* text input that you can copy from. This would make it easy to copy a component name (or part of one) from the tree. I think we can also get rid of the "Copy element name" context menu item then.

If you're interested in working on this, please comment here first so we don't have

[2017-08-21 21:04] bvaughn commented on #867
At the risk of bike-shedding, two thoughts:

* Our custom context menu makes this a little weird (since I expect a lot of people will right click to "copy" rather than use the keyboard shortcut.
* If it's read-only, maybe we don't need the double-click? We could just use:

[code]

[2017-08-21 22:58] squelart opened #873 ""Type error for exceptionInfo value (Property "isException" is required) for devtools.inspectedWindow.eval." when opening Firefox devtools"
STR:
- Build Firefox and run from a terminal
- Install the React Devtools add-on
- Open the devtools (not necessarily the React tab itself)

Looking at the terminal, I see the following error once per second:

Disabling/removing the extension stops these errors.

[2017-08-22 01:12] spicyj commented on #867
@bvaughn Sorry, what keyboard shortcut?

It could be that allowing selecting in the tree could make sense (I'd probably have to try it to see one way or the other), though I'm worried that the selection state would be confusing since a certain component is already selected and then you'd have a text selection inside of that. We could make props also editable by double-clicking and then it would be

[2017-08-22 01:27] bvaughn commented on #867
Cmd+C (to copy the selected text).

Your concern about it being unintuitive makes sense though. We'd have to try it and see. I suspect a `cursor: text` style _might_ help with that.

[2017-08-22 01:55] Ronolibert commented on #867
I'd like to try and take this one on!

[2017-08-22 04:39] bvaughn commented on #867
It's yours to take then, @Ronolibert.

That seems reasonable from what I can tell?

[2017-08-22 06:16] JHanLu opened #874 "This tool dose not support chrome extension pages"
I'm currently developing a react chrome extension, but it seems like this tool doesn't support chrome extension developing at all.

[2017-08-22 06:36] ngyikp commented on #874
See https://github.com/facebook/react-devtools/tree/master/packages/react-devtools

[2017-08-22 08:16] juliandescottes commented on #873
As discussed on Firefox devtools IRC channel, this is most likely a regression from Firefox DevTools itself, as it only breaks on very recent Nightly builds.

I opened a bug to fix the regression : https://bugzilla.mozilla.org/show_bug.cgi?id=1392531

[2017-08-22 15:13] bvaughn commented on #873
Nice! thanks for the assist, folks! 😄

Seems like we should be okay to close this issue then?

[2017-08-22 17:40] juliandescottes commented on #873
No objection on my side. Though maybe @squelart can verify the issue is fixed by building FF with the patches attached to https://bugzilla.mozilla.org/show_bug.cgi?id=1392531 to be sure?

[2017-08-22 20:35] herodrigues commented on #874
@JHanLu it does work with Chrome extensions. See https://github.com/facebook/react-devtools/issues/434#issuecomment-280116615

I also have a working example [here](https://github.com/herodrigues/refluxme)

[2017-08-22 22:07] squelart commented on #873
Sorry for accusing react-devtools. :-)

Unfortunately I'm still getting an exception when trying @juliandescottes's bugzilla patch, so maybe we should keep this issue open here (in case other people experience it), and I'll close it when it's fixed.

[2017-08-24 18:43] 8-bitTom commented on #730
+1 I'm having the Same issue:
Chrome Version 60.0.3112.101
OSX: 10.12.6
4k monitor: browser any width

[2017-08-25 09:59] JHanLu commented on #874
@ngyikp Thanks! Problem solved

[2017-08-25 10:06] JHanLu commented on #874
@herodrigues Thank you for your answer. But sadly i don't really understand your article.

[2017-08-25 13:54] herodrigues commented on #874
@JHanLu That's sad. It's really detailed.
Anyway, just look my https://github.com/facebook/react-devtools/issues/434#issuecomment-280116615 and you'll understand how to integrade react-devtools with your extension.

[2017-08-26 01:16] #874 closed

[2017-08-31 07:08] odonnellnoel opened #878 "Plugin says I'm using a production build even when NODE_ENV is undefined"
This is more of a question than an issue, but I'm using babel-node and webpack to build (haven't got time to un-es6ify the entire project just to test without babel-node though). Yes I checked during build time *and* run time and on both occasions process.env.NODE_ENV is undefined.

Could somebody point me to where in the code the plugin actually decides what icon to show (production or developmen

[2017-08-31 07:12] ngyikp commented on #878
https://github.com/facebook/react-devtools/blob/master/backend/installGlobalHook.js

[2017-08-31 07:21] odonnellnoel commented on #878
thanks. I guess it's not so clear-cut, especially when I read "Hope for the best if we're not sure."

[2017-08-31 07:21] #878 closed

[2017-08-31 07:36] Nimelrian commented on #828
It's definitely due to the devtools, it also appears for me when I'm just serving my app (no iframe, or anything, just a simple web app)

[2017-08-31 19:06] lpetkovic commented on #741
Been having the same issue (wasn't using sudo for npm i), resolved it by globally installing electron and then react-devtools.

[2017-09-01 17:41] aloifolia opened #879 "invalid style property values break running app instance"
I just got started with React Native development and, thus, react devtools. I noticed that you can change the styles of components. However, if you insert invalid values, this seems to break the react native process altogether and you have to restart it. Would it be possible to restrict the input to valid values only and prohibit the user from accidentally opening Pandora's box? Also, something li

[2017-09-01 17:47] bvaughn commented on #879
Hey @aloifolia 😄  This sounds like a good idea, but one we're already tracking at #800. If you'd be interested in helping out, let's chat on that issue!

Closing as a duplicate of #800

[2017-09-01 17:47] #879 closed

[2017-09-06 02:52] Pandapm opened #880 "It shows 'image decode failed' when I add it to chrome extension"
either Chrome  60.0.3112.113 (64-bit)  or Canary 63.0.3206.0 (64-bit)

![image](https://user-images.githubusercontent.com/9839752/30092297-d5d49b9c-9283-11e7-9f92-a9156fecbe9e.png)

[2017-09-06 16:34] mikeyhew opened #881 "Use inside of https iframe"
Is it possible to make react-devtools listen on https://localhost:8097 instead of http, so that it can be used inside of an https iframe?

[2017-09-07 01:14] holmes2 commented on #795
@gaearon I would like to work on this and so just needed to confirm that are we talking about this

[2017-09-07 15:47] bvaughn commented on #795
That's correct @holmes2. Dan is saying that React DevTools should have a similar function as Chrome DevTools does:

![screen shot 2017-09-07 at 8 46 54 am](https://user-images.githubusercontent.com/29597/30172250-2081a132-93a9-11e7-9b09-d9ee1bb87bc6.png)

[2017-09-07 15:57] damiangreen commented on #314
This doesn't work for functional components though. They are set to read-only and can't be modified.
![image](https://user-images.githubusercontent.com/1592820/30172740-92c3fc92-93ed-11e7-951d-04c59af679d8.png)

[2017-09-08 13:14] tambeta opened #882 "Tiny font on Firefox 52"
For some reason, the React tab in Firefox Dev Tools has a tiny font to the point of unreadability on my setup. I've installed React Devtools 2.3.3 to Firefox 52.1.2 built against GTK2 on Arch Linux, XFCE 4.12. Two screenshots for comparison:

* Inspector tab ![Inspector tab](https://user-images.githubusercontent.com/9417744/30212882-6d6c3adc-94af-11e7-815e-46a82ca41a36.png)
* React tab ![React tab

[2017-09-08 21:08] digitarald commented on #872
@rodney757 can you still reproduce this?

[2017-09-08 21:30] rodney757 commented on #872
yes,  but I didn't notice there is a "download anyway" button that isn't
very obvious that will allow me to install it.

The "Add to Firefox" button is disabled.

On Fri, Sep 8, 2017 at 9:08 PM, Harald Kirschner <notifications@github.com>
wrote:

[2017-09-10 00:40] riseremi commented on #581
@aarondancer
Any progress on the issue? Can I pick this up?

[2017-09-10 00:42] aarondancer commented on #581
Go ahead @riseremi. Feel free to take what you want from my fork. I was able to get the errors down to only 9 remaining at the time.

[2017-09-10 00:57] riseremi commented on #581
@aarondancer thank you. 👍  I'll look at your fork tomorrow.

[2017-09-10 05:20] pago88 opened #883 "Console showing error: Failed to load resource when using standalone app"
Using the standalone app in safari, the console always seems to shows an error that says:
Failed to load resource: the server responded with a status of 404 (Not Found) in http://localhost:8080/backend.js.map. It shows up when the app just starts, and no matter what page I navigate to.

The react devtools were installed as a project dependency instead of globally. It is being run by "react-devtool

[2017-09-10 15:43] riseremi commented on #581
@gaearon should I extract the flow types to [types.js](https://github.com/facebook/react-devtools/blob/master/frontend/types.js) or this file is supposed to contain only generic types? If types.js is for generic types only, where should I put these types?

For example, I want to extract the `Pane` type from [RelayPlugin](https://github.com/facebook/react-devtools/blob/master/plugins/Relay/RelayPlu

[2017-09-10 18:20] bvaughn commented on #581
Frontend and backend `types.js` files are meant for types that are shared among many files. If you think the `Pane` type may be used by multiple components, it would be reasonable to relocate that type.

[2017-09-10 18:22] dagumak commented on #874
@herodrigues The link to your website (http://herodrigues.me/javascript/2017/03/15/small-chrome-extension-react-flux/) says nothing relevant to react-devtools.

[2017-09-10 19:49] riseremi commented on #581
@bvaughn thank you, Brian.

I've submitted a PR. Please take a look when you'll have time. There are a lot of changes and workarounds just because I don't know how to do that properly. Also there are merge conflicts and I decided not to solve them by myself, since I may break something. I'll be happy to fix any issues and inaccuracies with the PR.

[2017-09-10 19:54] herodrigues commented on #874
@dagumak The title of this issue is _This tool does not support chrome extension pages_. so the article is about a project that actually shows react-devtools working in a Chrome extension, though the focus of the article is how to use Flux/ReactJS in a extension.

What else do you want? My comment answers the question and I also have a project that uses react-devtools. See the project and you'll u

[2017-09-11 11:43] restj90 commented on #828
also seeing it on app created with create-react-app

[2017-09-12 09:37] paranoidjk opened #887 "should lock electron minor version"
electron do not obey semver:

- https://github.com/electron/electron/blob/master/docs/tutorial/electron-versioning.md
- https://github.com/electron/electron/issues/5561

Right now electron 1.8.0 released , but actuallay it's a beta release according realease note and npm dist-tag

https://github.com/facebook/react-devtools/blob/master/packages/react-devtools/package.json#L26

[2017-09-12 15:42] ansumanshah commented on #800
Taking this up, will submit a PR shortly :)

[2017-09-13 07:42] clarkbw commented on #882
Maybe @digitarald can take a look into this

[2017-09-13 14:16] juanruizcasas commented on #869
Ok

[2017-09-13 21:05] mikeyhew commented on #881
I'd be willing to work on this, but could use some advice. What I need is a version of the react-devtools package that uses https instead of http, and wss instead of ws. Would it be better to add an option to react-devtools to change the protocol, or create a fork that just uses the secure protocols?

[2017-09-13 22:57] sophiebits opened #889 "Chrome: Can't press `Esc` to toggle console when React panel are open"
Testing on OS X with Chrome 63 canary.

If I press `Esc` while React devtools is open, I expect this to open a JS console in a split view with the React devtools. This is how every other tab behaves. Instead, I see the console slide up and immediately back down in a split second.

We should fix this so the console can be used again.

Workaround: Switch to another tab, hit Esc, switch back to React

[2017-09-14 03:25] Richard-CH-NG commented on #741
After fixing the permission issue with npm global install, i do the following:
[code]
Then the terminal will show the downloading process:
<img width="823" alt="screen shot 2017-09-14 at 11 15 05 am" src="https://user-images.githubusercontent.com/18453398/30410657-0e46d24e-993f-11e7-82fb-9af6f1fa1f98.png">
For me it was done within 5 minutes, and then ``` $ react-devtools  ``` works.

[2017-09-14 03:28] michaelshiel commented on #889
I've tried to debug this for an hour or so, but I don't think it's actually the extensions fault. I commented out almost the entire codebase, and it still happens. It also happens on other extensions I use that have Developer Tools tabs (Cookie Inspector, and Redux Devtools)

[2017-09-14 09:23] gaearon commented on #867
I'm not sure the behavior in https://github.com/facebook/react-devtools/issues/867#issuecomment-323897577 is great. The double clicking causes the node to expand or collapse, potentially moving it away from the cursor (as seen in the gif). It's also annoying when two different actions compete for the same mouse event (especially spread out in time like double click).

Chrome has a slightly differe

[2017-09-14 11:32] hamlim opened #890 "Device toolbar Chrome keyboard shortcut doesn't work"
Inside chrome devtools you can enable/disable the device toolbar in other panels by doing `CMD + Shift + m` on a mac. However when you are active in the React devtools this keyboard shortcut doesn't seem to work.

Quick user fix is to enable/switch to the console then enter the shortcut or change panels and enter the shortcut.

I haven't been able to extensively test this on different versions, ho

[2017-09-14 11:38] juanruizcasas commented on #890
Ok

[2017-09-14 17:30] sophiebits commented on #867
@bvaughn @gaearon Do you think the nested selection is confusing?

[2017-09-14 18:04] bvaughn commented on #867
I think we should mimic Chrome's UX just to be intuitive:
* Clicking the arrow should always toggle expanded/collapsed state
* Single-clicking the tag-name of a collapsed element should:
  * Expand the element
  * Select the tag name text
* Double-clicking on an expanded tag name should:
  * Select the tag name text

[2017-09-14 18:06] sophiebits commented on #867
In chrome, double-clicking gives you an input:

![image](https://user-images.githubusercontent.com/6820/30446007-bee5eb74-993c-11e7-878e-271ba8db19a4.png)

That's my preference too, but different from what you're describing if I understand correctly.

[2017-09-14 18:13] bvaughn commented on #867
Correct, but we can't mimic that behavior so I was suggesting we just select the tag-text instead.

[2017-09-14 18:24] sophiebits commented on #867
Sorry, why can't we? I missed that; I was under the impression we could.

[2017-09-14 18:27] bvaughn commented on #867
Editing the tag-name in Chrome changes the type of DOM element displayed in the browser. This is okay because it's only for DOM elements and it's assumed that the page content is static at the point where you're editing.

But what would it mean to edit the name in React DevTools? We'd be changing markup out from under React. How would it work on native?

Am I just thinking about this wrong?

[2017-09-14 20:03] sophiebits commented on #867
Oh sorry. I was thinking it could be read-only.

[2017-09-14 21:17] bvaughn commented on #867
Oh. Gotcha. So rather than selectable text, we'd insert a read-only input?

I think that could be ok too, provided the input didn't cause any funky resizing.

[2017-09-14 21:19] gaearon commented on #867
Read-only selectable input would be nice.

[2017-09-14 21:23] sophiebits commented on #867
Yes, that's what I tried to specify in my first comment above.

[2017-09-15 16:34] gaearon opened #891 "[React Native] Can't edit object styles"
Trying to set `shadowOffset` throws an error saying I'm providing a string, but an object is expected.

<img width="375" alt="screen shot 2017-09-15 at 17 34 04" src="https://user-images.githubusercontent.com/810438/30493476-23676e74-9a3c-11e7-87bb-a8bfa5b9c373.png">

[2017-09-15 23:50] hamlim commented on #890
Is there anything else I can do to help provide information about the issue?
Is this expected?
Unsure as to what your response means here @juanruizcasas.

[2017-09-16 11:49] preetam-yadav commented on #707
adb reverse tcp:8097 tcp:8097 connect that. but disconnect from device. :(

[2017-09-17 20:23] WeslleyNasRocha commented on #707
I was having this issue, but i got fixed.

used `adb reverse tcp:8097 tcp:8097` and on the app -> dev menu -> dev settings -> Debug Server host... put my machine ip

[2017-09-19 23:02] sansumbrella opened #893 "Inspector fails to display objects that use getters"
The property inspector breaks when looking at an object that uses getters to access properties set on `this` in its constructor.

I would expect the inspector to either ignore getter-based properties of objects or to display them properly. Instead, attempting to expand an object with getters in the inspector throws `TypeError: Cannot read property '0' of undefined`, displaying none of the object's

[2017-09-21 09:00] jhen0409 opened #895 "Permission denied for access `build/` folder in v2.5.1"
The latest version of chrome extension have a problem with [`electron-devtools-installer`](https://github.com/MarshallOfSound/electron-devtools-installer):

<img width="738" alt="screen shot 2017-09-21 at 4 53 40 pm" src="https://user-images.githubusercontent.com/3001525/30687328-896a92bc-9e80-11e7-8d08-68d7b2679e25.png">

See also https://github.com/chentsulin/electron-react-boilerplate/issues/12

[2017-09-21 09:28] gaearon commented on #895
Wow. Could the build script mess up permissions somehow?

[2017-09-22 00:19] mikeyhew commented on #881
I've created a fork of this repo where `react-devtools` listens over https: https://github.com/mikeyhew/react-devtools/tree/https

I'm leaving this issue open in case you want to add https as an option to `react-devtools` or `react-devtools-core`

[2017-09-22 08:19] jhen0409 commented on #895
I can confirmed the latest version package is missing executable permission for the folders.

<img width="752" alt="screen shot 2017-09-22 at 3 49 58 pm" src="https://user-images.githubusercontent.com/3001525/30734433-c5ceb11e-9f40-11e7-8941-7f778d579422.png">

I guess Chrome Store modified folder permission for recently uploaded extensions, I got the same problem by tried another extensions like

[2017-09-22 08:19] #895 closed

[2017-09-22 10:00] gaearon commented on #895
Can you help me understand how this is related to Chrome Store? Our npm package is built separately from the Chrome extension.

[2017-09-22 10:08] jhen0409 commented on #895
The devtools-installer will download the extension from Chrome Store. (see [here](https://github.com/MarshallOfSound/electron-devtools-installer/blob/master/src/downloadChromeExtension.js#L19))

[2017-09-22 16:30] rickcav opened #896 "React Dev tools freezes dev tools"
Dev tools freezes when I click on react tab to inspect  code, I have attached a screen shot.   Currently using Visual Studio Code as my editor my chrome ver is 61.0.3163.100 and am using a dell with windows 10 home ver 1703 os build 15063.608 and a i7-3632QM processor with 8 gigs of ram.  The dev tools greys out entirely and requires to be closed to open any other tabs.  I disabled and or removed

[2017-09-22 17:23] erichdev opened #897 "Devtools unresponsive in Chrome"
Some time this week, React Devtools stopped working in Chrome. It successfully connects to React and displays all the root components, then becomes completely unresponsive. I can't expand the components, select "Highlight updates," etc. No interaction is possible.

I've tried reinstalling the extension and disabling all other extensions. It also doesn't matter what website I'm on. Devtools still w

[2017-09-23 00:56] dwbruhn commented on #881
@mikeyhew awesome fork! Since issues aren't enabled on your repo, I'll respond here with some info for anyone else:

To get this to work on Safari, start the https version of react-devtools, then open https://localhost:8097 directly in Safari. Allow the certificate completely at the system level (expand "Trust" and change to Always Trust).

Then you can open your app and it will connect to the dev

[2017-09-23 14:38] brancooo1 commented on #741
This does the trick for me.

`sudo npm install -g react-devtools --unsafe-perm=true`

[2017-09-24 04:03] ngyikp commented on #700
Additional problem: It's impossible to tell whether a duplicated React is a mistake by the site developer or they are using some third-party libraries that also uses React. (https://github.com/facebook/react/issues/10768)

Example: https://www.kenhub.com/en/atlas/acromion (third-party library: https://djtflbt20bdde.cloudfront.net )

Perhaps in future version that can show a table of React renderer

[2017-09-24 07:36] chisler commented on #700
Hi! Thank you for the comment.

I pointed that out in code: [`// Currently we overwrite buildType with each injected renderer's type`](https://github.com/facebook/react-devtools/pull/714/files#diff-439718d2e367a4585cd08ce8ec48a328R202).

The issue with overwriting is applicable to any renderer inspection: it only depends on the order they inject. The table will allow to report unminified _and_ dup

[2017-09-25 05:37] rmdevos opened #898 "yarn add --dev react-devtools warns about electron vulnerability"
[code]

[2017-09-25 15:43] MikeJCusack commented on #897
I can confirm the same behavior for me on both Chrome and Chrome Beta

[2017-09-25 16:35] KINGH242 commented on #828
In Chrome, I get the warning ;

And in IE11;

[2017-09-25 16:37] Nimelrian commented on #828
The server seems to be configured in a wrong way, since it simply returns backend.js when backend.js.map is requested, leading to the error when trying to parse the source map (since it's just simple JS). The actual source map on disk is right though.

[2017-09-25 20:21] digitarald commented on #882
Tested on ESR 52 with `2.3.3` and could not reproduce this. The font size adjusts according to whatever scaling the devtools is set to, even when zooming in and out.

@tambeta could you debug the CSS using the [browser toolbox](https://developer.mozilla.org/en-US/docs/Tools/Browser_Toolbox) if anything else changes the font size?

[2017-09-25 22:20] louisgjohnson opened #899 "Parts of the react dev tools are disappearing"
<img width="1340" alt="screen shot 2017-09-26 at 8 11 39 am" src="https://user-images.githubusercontent.com/12892064/30833637-35ac5cfc-a293-11e7-9619-2d553bd0cad7.png">

when I open up my dev tools in chrome, on any react app the dev tools don't display properly.
I've tried a reinstall but still no luck.

[2017-09-26 03:01] holysnake91 commented on #897
Yes, i having the same issue for chrome Version 61.0.3163.100 (Official Build) (64-bit)

[2017-09-26 07:42] juanojeda commented on #897
I'm also seeing this same behaviour.
When I double-click on a node, it will expand, but no interaction is possible in the props/state panel.

[2017-09-26 07:48] tambeta commented on #882
The browser toolbox is informative. It seems that the Inspector tab uses `--monospace-font-family` (from global browser settings, I assume) and a relative (80%) font size:

![ff-inspector](https://user-images.githubusercontent.com/9417744/30848450-ddf34e16-a2a7-11e7-8fb3-3983bc51fe05.png)

while React Devtools seems to use hardcoded values (Menlo etc, 11px):

![ff-react](https://user-images.github

[2017-09-26 13:24] jtlindsey commented on #191
@stueynet

try checking for `__REACT_DEVTOOLS_GLOBAL_HOOK__` first

[code]

[2017-09-26 19:40] rickcav commented on #896
Latest Windows update has seemingly fixed the issue.
2017-09 Cumulative Update for Windows 10 Version 1703 for x64-based Systems (KB4040724)

[2017-09-26 19:40] #896 closed

[2017-09-26 20:21] rickcav commented on #897
This may sound weird but I was using a second monitor and dev tools wasn't working on the second screen. (- mine was freezing my dev tools -) Moving my chrome window back onto my laptop screen seems to have resolved the issue, don't ask me how or why,  but I've checked with a few people having a similar issue and its appears to be a temporary fix.

[2017-09-27 05:28] digitarald commented on #882
Great find. I guess the build you reported on customized the theme font size.

[2017-09-27 10:17] sospedra commented on #887
This is bad :/
All CI pipelines are blowing up because installation is not possible

[2017-09-27 14:52] hushicai opened #900 "Is there memory leaks?"
I am using FlatList with a setInterval countdown:

![image](https://user-images.githubusercontent.com/1249423/30920005-8ae7852c-a368-11e7-8338-8fb5554f96a4.png)

when i keep `react-devtools` opened, the xcode memory grows fast:
![image](https://user-images.githubusercontent.com/1249423/30920069-b0a758e6-a368-11e7-94da-90354771b455.png)

and after i close `react-devtools`, the xcode memory becomes

[2017-09-28 00:01] erichdev commented on #897
@rickcav Thanks! That worked for me. Interestingly, moving the window from the external monitor to the laptop screen and back to the monitor works.

[2017-09-28 00:30] rhysforyou opened #901 "Update Syntax Highlighting in Firefox Quantum (v57.0)"
The latest Firefox beta includes an updated appearance for the developer tools, including a new syntax theme. It'd be nice to update the React Developer tools to be consistent with that. Here's an example of what the HTML inspector looks like:

<img width="994" alt="screen shot 2017-09-28 at 10 16 03 am" src="https://user-images.githubusercontent.com/320910/30943713-29e277cc-a436-11e7-9fa9-e1c1e1b

[2017-09-28 00:34] louisgjohnson commented on #899
Seems to be related to my 4k LG monitor & when its docked in chrome, when I bring it over to my macbook screen its fine..

[2017-09-28 00:34] #899 closed

[2017-09-28 02:19] holmes2 commented on #795
is there a place i can ask my doubts while i am trying to solve this feature ? Or should I ask in the github pull request itself ?

[2017-09-28 03:28] trungdq88 opened #902 "DevTools do not showing: Uncaught DOMException: Failed to execute 'postMessage' on 'Window'"
Some pages on my app cause this error, the DevTools become totally unusable. I'm really not sure how to provide you more information to debug this other than these screenshots. Please help.

![image](https://user-images.githubusercontent.com/4214509/30948017-54bcecba-a437-11e7-8f76-7f1c8b5b5335.png)

![image](https://user-images.githubusercontent.com/4214509/30948005-3dfb97e2-a437-11e7-88dd-862a79

[2017-09-28 07:03] clarkbw commented on #901
Maybe @digitarald knows someone who could tackle this. 😀

[2017-09-28 09:22] dragonza opened #903 "devtools freeze after updating Chrome Version 61.0.3163.100"
I cannot do anything on react dev tools anymore. It froze when I navigated to react tab in devtools. The version of Chrome Version 61.0.3163.100

[2017-09-28 14:48] bvaughn commented on #795
GitHub is probably the most centralized place for questions like that.

[2017-09-28 18:38] markmichon opened #904 "[Firefox] Fails to connect when FF responsive design mode is enabled"
Bit of an odd bug, but when the FF dev tools are in "Responsive Mode", the React devtools won't connect. Oddly, if the react panel connects first, then the user switches to responsive mode, it works fine.

To reproduce: Visit a dev or production react site (tested with http://gatsbyjs.org), open ff devtools and turn on responsive design mode, switch to react devtools panel.

Tested in the FF Quant

[2017-09-28 19:20] clarkbw commented on #904
@jryans might have some clues here as to why this is happening with responsive design mode

[2017-09-28 19:39] jryans commented on #904
Thanks for bringing this up! I am fairly sure this is related to a [known issue](https://bugzilla.mozilla.org/show_bug.cgi?id=1394841) with WebExtensions generally being unable to reach content in RDM.

Let's keep this open so we remember to check if React DevTools specifically are fixed once that bug is resolved.

[2017-09-29 11:14] tkrotoff commented on #267
@basarat
the part:
[code]
is not needed anymore, `MyComponent.displayName = 'MyComponent'` is enough (no TypeScript error, I guess the definition has been enhanced).

[2017-09-29 11:43] gaearon commented on #337
This was fixed in React 16.

[2017-09-29 13:00] xclidongbo opened #905 "this page doesnt appear to be using react"
this page doesnt appear to be using react.

[2017-09-29 13:28] xclidongbo commented on #905
This is a  terrible debug tool.

[2017-09-29 14:19] stipsan commented on #337
Indeed it [was fixed](https://codepen.io/anon/pen/boRrda?editors=1111) :tada:

[2017-09-29 14:34] davidrenne opened #906 "undefined props"
Hi there, why do you hide undefined props?  The key is still there and this.props.keyName exists in props but the value is undefined.  It tricks developers into thinking the prop just isnt there but that is not the case.  You should show undefined as the values so people know all of the props in the object.  I believe the same is with the rendered nodes, you hide the undefined values in props.

Ar

[2017-09-29 22:52] erichdev commented on #903
@dragonza Are you using an external monitor? See rickcav's comment: https://github.com/facebook/react-devtools/issues/897#issuecomment-332323561

[2017-10-04 08:07] jnachtigall commented on #850
@bvaughn FWIW, I still see this "ugly" non-transparent background in Firefox:

On websites **without** react, there's a light greyish background:

![2017-10-04 09_39_22-release notes_ 1 16 1 webdevprototyp visual studio code](https://user-images.githubusercontent.com/3307404/31165416-4ef76658-a8eb-11e7-84f3-07d16b672880.png)

On website **with** react, the background is dark greyish:
![2017-10-04

[2017-10-05 15:53] randseay commented on #897
This just happened for me too: Version 61.0.3163.100 (Official Build) (64-bit)

I moved the window from my external monitor to my laptop screen and back to the external monitor, and it seems to be working again.

I tried disabling and reinstalling the extension to no avail before I found this thread.

[2017-10-06 13:16] raulpineda opened #908 "Can't build on Windows"
When running `npm run build:extension` on Windows an error is raised stating

[code]

It is caused by `process.env.PWD` is `undefined`  in this line of shells/webextension/build.js `const relativePath = path => relative(process.env.PWD, path);`

Hunch: It could be fixed by using `__dirname` instead, like shells/chrome/build.js does.

[2017-10-07 04:54] UgglarpTom commented on #897
@rickcav Thanks, that did the trick. Weird huh?

[2017-10-08 19:31] mohamed-seada-1994 opened #910 "[Bug]: Select a React element in page Button"
I have experienced a bug in **Select a React element in page _Button_**.
When i click on this button and close chrome developing tools without selecting any element, the selecting hover keep in the page even when selecting any element or open developing tools again!
![2017-10-08_21-28-26](https://user-images.githubusercontent.com/27208846/31320142-c232cf2c-ac6f-11e7-8171-9507db2c1f08.gif)

[2017-10-10 03:27] ngyikp commented on #889
https://bugs.chromium.org/p/chromium/issues/detail?id=772697

[2017-10-12 11:23] WickyNilliams opened #912 "Rename right click menu option from "Find the DOM node" to "Reveal in Elements panel""
In the rest of dev tools, the phrase _"Reveal in elements panel"_ is used when you want to inspect a specific node. React dev tools uses the phrase _"Find the DOM node"_.

I think it would be useful to align the terminology, so that it is familiar to users. This would allow for quicker scanning of the options, and alleviate cognitive overhead of deciding which option you need depending on the curr

[2017-10-12 14:59] #868 closed

[2017-10-13 02:38] qlqllu commented on #76
@jaredly your way works well! Thanks!

[2017-10-13 05:03] gang89 opened #918 "devtool is unable to recognise react-native console tab in chrome"
My current chrome version:
Version 61.0.3163.100 (Official Build) (64-bit)

any advice?

Regards

[2017-10-13 06:14] fumblehool commented on #794
@bvaughn Is this issue still open?

[2017-10-13 10:09] drcmda commented on #604
@gaearon is blacklisting really the way to go? Any random app will cause thousands of random hoc's. Using something like ant-design for instance covers any element in triggers, wrappers, animationlayers, ..., the result is this:

![screen shot 2017-10-13 at 11 49 52](https://user-images.githubusercontent.com/2223602/31541473-09371b60-b00f-11e7-8bd6-4d14b5539bbb.png)

In 99% of all cases i do not c

[2017-10-13 13:48] ngyikp commented on #905
Is there a test page to help reproduce the issue? Also: https://github.com/facebook/react-devtools#the-react-tab-doesnt-show-up

[2017-10-13 18:58] crimsonsunset commented on #323
If you're open for a good ol' hack, this has been working for me 😁

Prereq: [Better Touch Tool](https://www.boastr.net/)

<img width="1023" alt="screen shot 2017-10-13 at 2 49 40 pm" src="https://user-images.githubusercontent.com/3998637/31561415-ca791e8e-b025-11e7-9ded-99b22e33089d.png">

1) Select [or add] Chrome to the application pane on the left
2) Select desired trigger (for me in the above

[2017-10-14 20:40] jsmnbom opened #922 "Impossible to debug firefox webextension moz-extension: pages due to strict CSP"
## Steps to reproduce
1. Install react-devtools for firefox
2. Make a firefox webextenion that uses React on a `moz-extension:` page for example on the `option_ui` page
3. Navigate to options page either inside `about:addons` or directly via `moz-extension://{extension-id}/{option_path}`

### Expected
The react-devtools toolbar button should light up and the addon should be able to debug the page

[2017-10-17 16:27] MikeB2012 commented on #897
@rickcav  Thank you!!  Note when I had to move the browser to my laptop screen, close and reopen dev tools before I had functionality again.

[2017-10-17 20:43] wruth commented on #897
Same problem — workaround of moving back and forth between monitors fixes. Forces a re-render, as opposed to some kind of cached bitmap for the ui?

[2017-10-18 15:49] Lappro commented on #897
@rickcav I think this is related to a varying display scaling setting between the 2 monitors.
I'm experiencing the same issue, and your suggestion also "solved" it.
My primary monitor is at 200% display scaling and my secondary monitor at 100% display scaling.
However when I set both monitors to 100% scaling I had no issues using the React console on either monitor.

[2017-10-18 16:54] rickcav commented on #897
Not sure but after you flip the panel to the main monitor it typically
doesn't freeze up unless you restart your computer.  I had the issue on my
old laptop 1080p monitor and new with 4 k monitor scaling is offset on the
new but also had the issue on the previous laptop.

On Oct 18, 2017 8:50 AM, "Paul van den Burg" <notifications@github.com>
wrote:

[2017-10-18 16:59] Lappro commented on #897
That is probably because in most cases windows sets laptops also on a larger than 100% display scaling where most external monitors just get 100% except high pixel density ones like uhd.

In my experience it also isn't freezing, it just is unresponsive to any mouse interaction, I can still tab through the React console fine using the keyboard. However only using the keyboard is quite unpractical o

[2017-10-19 05:52] Jessidhia opened #923 "Impossible to use on https website"
It is not possible to connect to the `react-devtools` application when running via https; as connections to http websockets are not allowed on https pages.

This is most easily reproduced by setting up a project in `webpack-dev-server` and then trying to connect after starting it with the `--https` flag.

This issue is related to #881 but made worse in my case as the website I am currently working

[2017-10-19 08:39] txiaocao opened #924 "how to download react-devtools-chrome.crx?"
how to download react-devtools-chrome.crx?
i can not access google , and can not found react-devtools-chrome.crx in github release

[2017-10-19 11:27] bomjacob commented on #922
I have found a temporary workaround to getting the standalone tools to work using [ngrok](https://ngrok.com/). Documenting it here for future reference and others with the same issue.

1) [Install ngrok](https://ngrok.com/download) (note you may or may not need an account - a free one is sufficient)
2) Execute `ngrok http 8097` in a terminal
3) Ngrok will output something like:
[code]
4) Inside yo

[2017-10-19 11:37] lettywiterock opened #925 "你好，请问一下，chrome怎么离线安装这个插件？"
插件怎么使用呢？
npm install
之后怎么运行？
我尝试了
npm run ...
可是找不到指令。
请求帮助。

[2017-10-19 11:40] lettywiterock commented on #924
https://chrome.google.com/webstore/detail/react-developer-tools/fmkadmapgofadopljbjfkapdkoienihi
我在readme找到了这个地址，我也连不上google，所以无法验证

[2017-10-19 12:48] ngyikp commented on #908
Even with that PR fix, building on Windows will still fail:

[code]

Problem is these two lines, maybe need to use [cross-env](https://www.npmjs.com/package/cross-env):
https://github.com/facebook/react-devtools/blob/7062b52f13481f575988135ff33cd53fa7645894/shells/webextension/build.js#L57-L58

[2017-10-19 13:29] ngyikp commented on #924
If you can't access Chrome Web Store, then the second best solution would be to compile the extension yourself if you are on Mac/Linux:

1. Make sure you have Node.js version 8+ (`node -v`)
2. Make sure you can run `git` from the command line (`git --version`)
3. Git clone this repo OR download the latest release at https://github.com/facebook/react-devtools/releases
4. Run `npm install` or `yarn`

[2017-10-20 03:57] txiaocao commented on #924
very thks...

[2017-10-20 03:57] #924 closed

[2017-10-20 03:58] txiaocao commented on #925
下载该文件，并解压
https://github.com/facebook/react-devtools/files/1398476/fmkadmapgofadopljbjfkapdkoienihi.zip

访问
chrome://extensions/

将crx文件拖放到扩展当中即可

[2017-10-23 04:32] adityos2003 opened #926 "how to import json from javascript"
(function() {

	var model = function(voter, party, precinct, ageGroup, lastVoted, yearsReg, ballotStatus) {
		this.voter = voter;
		this.party = party;
		this.precinct = precinct;
		this.ageGroup = ageGroup;
		this.lastVoted = lastVoted;
		this.yearsReg = yearsReg;
		this.ballotStatus = ballotStatus;
	};

	window.demo = {};
	window.demo.data = [];

	var data = getData();
	for(var t=0;t<1;t++) {

[2017-10-23 05:12] mulholland0318 commented on #908
cant't fix the problem ,how to config exactly!

[2017-10-23 17:38] xueeey opened #927 "React tab in Chrome devtools does not get persisted"
Version: 2.5.2
Chrome version: 62.0.3202.62
Mac OSX: 10.12.6

**Steps**
1. Open dev tools and move the React tab next to Elements (position 2)
2. Close tab
3. Open new tab and navigate to React app
4. Open dev tools

**Expected**
React tab is at position 2

**Actual**
React tab is hidden in the additional tabs dropdown

I can provide a video if necessary. I also have the redux-devtools which persi

[2017-10-24 12:27] karenYerevan opened #928 "CONSOLE.LOG"
HI.
How can i see my console.log(params) on React Developer tools ?????

[2017-10-24 14:04] skidding opened #929 "$r points to wrong component, doesn't update on select"
**Minimal reproducing project: https://github.com/react-cosmos/react-cosmos.** Not minimal in number of deps, sorry! It will take a minute or two for yarn to bootstrap deps. But minimal in number of steps: **Run `yarn start`.**

Before diving in, here is what I'm experiencing

![devtools-bug](https://user-images.githubusercontent.com/250750/31947419-9203f6ca-b8d4-11e7-8a25-7f7c291508f3.gif)

`$r`

[2017-10-26 10:36] greenais commented on #928
The same question is here.
Chrome-based version shows in-app console.log calls like a charm, while standalone one doesn't.
Why?
Any suugestions to make console work in standalone devtools?

[2017-10-27 09:51] albertogasparin commented on #897
Is this a Chrome dev tools bug or react devtools one? Getting the same issue on both Chrome and Opera btw (confirmed with external monitor scaled differently). And it looks like disabling the extension doesn't solve the problem

[2017-10-27 16:52] rickcav commented on #897
Not sure I just encountered the problem with Chrome & React dev tools.

From: Alberto Gasparin [mailto:notifications@github.com]
Sent: Friday, October 27, 2017 2:52 AM
To: facebook/react-devtools
Cc: Rick Cavanaugh; Mention
Subject: Re: [facebook/react-devtools] Devtools unresponsive in Chrome (#897)

Is this a Chrome dev tools bug or react devtools one? Getting the same issue on both Chrome and O

[2017-10-28 06:13] prometheansacrifice commented on #891
Hi @gaearon , I would like to take this up.

I noticed a simple patch like [this one](https://github.com/facebook/react-devtools/pull/931/commits/374d553be8ff901cd78d87045583a4878ac3f7d1#diff-1eba7b953603b35c00edd70420953282), parsing the styles before `setStyle`, fixes the error but forces the use of object style as JSON string which is undesirable.

Given that this problem is already solved for

[2017-10-28 08:58] kristaponis commented on #67
+1

[2017-10-31 14:45] kunokdev opened #932 "Warning: React DevTools encountered an error: TypeError: Cannot read property 'constructor' of undefined"
So just recently dev tools started to break:

Warning: React DevTools encountered an error: TypeError: Cannot read property 'constructor' of undefined

I am using Chrome version 62 on Ubuntu Linux.
Next.js for SSR with React 16

[2017-10-31 15:17] kyleramirez commented on #927
Same thing for me, React tab is sent to the end every single time you open a new tab

[2017-10-31 15:17] ngyikp commented on #932
Is there a URL or isolated test-case to reproduce the error?

[2017-11-01 02:20] Seunghunsh opened #933 "Uncaught TypeError: Cannot read property 'mountComponent' of undefined error when running create-react-app"
# create-react-app react-dev-tools issue minimal reproduce

### Just reproduced an issue. It's pretty similar.
https://github.com/Seunghunsh/create-react-app-react-dev-tools-issue-minimal-reproduce

I'm using original create-react-app config with 'NODE_PATH=src' inside .env file.
When I run 'yarn build && serve -s build' with react dev tools on, it does not show 'HomePage'. When I run 'yarn start'

[2017-11-01 02:24] mymmoonoa opened #934 "react-devtools npm install error"
I followed the [react-native official guide](http://facebook.github.io/react-native/docs/debugging.html#content)to install react-devtools.

[code]
---
If I add sudo, error different:
[code]
Any help? thanks in advance!

[2017-11-01 02:25] mymmoonoa commented on #934
error log: [2017-11-01T02_07_59_983Z-debug.log](https://github.com/facebook/react-devtools/files/1432905/2017-11-01T02_07_59_983Z-debug.log)

[2017-11-01 06:27] mymmoonoa commented on #934
After command ```sudo npm uninstall electron -g```
error changes
[code]
Again I tried ```npm install -g react-devtools```
looks like process get stuck forever:
[code]

[2017-11-01 11:49] mymmoonoa commented on #934
After update npm to version 5.5.1, I use proxy at home, Setup is ok now.
[code]
seems network is the key point.

[2017-11-01 11:49] #934 closed

[2017-11-01 13:21] mikebabb-gc commented on #904
@jryans I notice on your linked issue you mentioned you might look in to this and see how much work would be involved in resolving it, have you had a chance to?

For now a quick workaround seems to be to only enter responsive design mode after a page refresh outside of RDM has allowed React Dev Tools to connect, but it's quite a manual process toggling RDM on and off again as you work.

[2017-11-01 20:41] EmSyndio commented on #596
related:
Is it possible to auto expand the tree?
In my use case, I am trying to debug tooltips. The tooltip only shows on mouse-over, but the tree is collapsed. As soon as I move the mouse to try to expand the tree, the tooltip disappears.
I resorted to using keyboard shortcuts, but it is a real pain.

is there any way to keep the tree expanded, and auto-expand when an object is rendered?

[2017-11-01 21:17] jryans commented on #904
Had some time to look at this today, and it seems pretty straightforward. Hoping to land a fix soon. I'll post an update here once that's all done.

[2017-11-02 15:11] stolinski commented on #927
Same here for me on both Chrome and Chrome Canary (64.0.3256.0)

[2017-11-02 15:59] philraj commented on #927
Same for me on Chrome 62.0.3202.75, but this happens for Redux and Backbone dev tools as well. Probably an issue with Chrome and not with React dev tools specifically.

[2017-11-02 16:57] connieelee commented on #91
I don't believe this problem is actually resolved. A lot of other issues point to this thread but there's nothing here that actually even suggests a workaround or alternative. So here, thought I'd mention that there is a [standalone version](https://github.com/facebook/react-devtools/tree/master/packages/react-devtools#usage-with-react-dom) of the devtools that works with `react-dom`.

Including t

[2017-11-02 17:29] RocketPuppy commented on #929
I'm seeing this as well on an app developed locally, not in Cosmos. `$r` always points to the first thing selected and does not update. React 16, React Dev Tools extension 2.5.2, chrome 61.0.3163.79

[2017-11-02 17:51] RocketPuppy commented on #929
Digging into the __REACT_DEVTOOLS_GLOBAL_HOOK__ it seems as if very few of my components have a public instance. This runs when a component is selected in the React tab:
[code]
And `data.publicInstance` always seems to be `null` for components I've written, but is present for native DOM components and library components. I'm also using Typescript.

[2017-11-02 19:05] MatisLepik commented on #927
This would need some further testing, but I believe the bug is caused by the way that the panel is loaded conditionally, only if the site is using React: https://github.com/facebook/react-devtools/blob/master/shells/webextension/src/main.js#L30

Because the tab is added asynchronously after everything else, it always gets appended to the end of the list.

I tried removing all the conditional logic

[2017-11-02 20:05] philraj commented on #927
There's some kind of interaction occurring when you have multiple third-party dev tools extensions. If I disable React dev tools, Chrome can remember the position of Backbone dev tools, but not the position of Redux dev tools.

If I then disable Backbone dev tools, Chrome remembers the position of Redux dev tools properly.

[2017-11-04 05:36] Char-set opened #935 "devtools cannot connect"
Why doesn't it connect
![1509773769712](https://user-images.githubusercontent.com/27180609/32402711-2f4bd530-c0f8-11e7-83b1-21e923d932e7.jpg)

[2017-11-05 07:33] thangchung commented on #932
The same issue has happened to me as well. I have the log file

[code]

[2017-11-06 11:32] greenais commented on #928
Any response from mantainers, perhaps?
By now only RN connect/disconnect information logged in devtool console

[2017-11-06 19:20] dylanscott commented on #450
Would it be possible in theory to resolve the component names using source maps? I'm not familiar enough with what the devtools/plugins have access to to know if that's possible

[2017-11-08 16:17] fmorato commented on #935
I Also can't get it to connect to react native app. Could not find any information about it.
Using react native 0.50.1 and react 16.0.0 on linux. Tried with device plugged through USB and over Wifi. Also changed the port in the In-app dev settings to 8097 but it didn't work. I guess that's only for packager.

[2017-11-10 07:07] lilin666 opened #938 "Unexpected token b in JSON at position 6766 while parsing near"
when i run npm install -g react-devtools  this happend.

npm ERR! Unexpected token b in JSON at position 6766 while parsing near '...:{"tape":"^3.0.1"},"bin'
npm ERR! A complete log of this run can be found in:
npm ERR!     /Users/lilin/.npm/_logs/2017-11-10T06_48_15_063Z-debug.log
mac os
using npm@5.4.1
using node@v7.7.3
can anyone  help me?

[2017-11-10 09:01] fourteenmeister commented on #908
+1, I can not fix this problem (OS Windows)

[2017-11-10 17:02] jryans commented on #904
This should now be fixed in the latest Firefox Nightly 58. @mikebabb-gc @markmichon, could one of you re-test after updating Nightly? It would be great to have verification that it's working for you as well.

[2017-11-10 17:44] fmorato commented on #935
Running `adb reverse tcp:8097 tcp:8097` made it to work with connected device. :) probably works for simulator as well.

[2017-11-12 09:51] mikebabb-gc commented on #904
@jryans that's great news, thank you! If @markmichon hasn't been able to test before Wednesday, I'll do it then as that'll be my next opportunity to grab Nightly and try to reproduce the bug.

[2017-11-12 11:27] markmichon commented on #904
I'm traveling for a bit without a non-ios device, so have it at. Otherwise I'll give it a shot when I'm back.

On Nov 12, 2017, 6:52 PM +0900, Mike Babb <notifications@github.com>, wrote:

[2017-11-12 22:22] jhessin commented on #67
+1

[2017-11-13 07:09] wangbangzhi commented on #925
感谢楼上兄弟支持

[2017-11-14 08:58] hansott opened #940 "Illegal invocation when clicking on property that is a DOM node"
Related to https://github.com/facebook/react-devtools/issues/849

![screenshot 2017-11-14 09 54 15](https://user-images.githubusercontent.com/3886384/32771096-fac4f472-c921-11e7-9d06-cf30b4038b91.png)
![screenshot 2017-11-14 09 53 51](https://user-images.githubusercontent.com/3886384/32771098-faf304e8-c921-11e7-9ca7-bf612bd7a3c3.png)
![screenshot 2017-11-14 09 54 01](https://user-images.githubuser

[2017-11-14 09:14] twttao opened #941 "react-devtools-core depends on potentially insecure "ws" version 2.0.3"
It is reported by security tools such as Snyk that "ws@2.0.3" suffers from Denial of Service(DoS) vulnerabilities. This security flaw is already fixed by the author of "ws" in newer versions. We greatly appreciate it if React team could upgrade "ws" to a non-vulnerable version as soon as possible.

[2017-11-14 10:44] gaearon commented on #933
https://github.com/facebookincubator/create-react-app/issues/3335#issuecomment-341677369

[2017-11-14 10:44] #933 closed

[2017-11-14 10:46] gaearon commented on #928
I don't understand what you're referring to. React DevTools never showed console logs. You are probably thinking about some other tool.

[2017-11-14 10:46] #928 closed

[2017-11-14 10:47] gaearon commented on #935
Is this a new issue caused by RN update? We'd need more details.

[2017-11-14 10:48] gaearon commented on #932
We can't help unless you provide a project and instructions to reproduce.

[2017-11-14 10:49] gaearon commented on #925
We only provide support for issues in English, sorry.

[2017-11-14 10:49] #925 closed

[2017-11-14 10:49] gaearon commented on #923
Do you have ideas on how to fix it?

[2017-11-14 10:50] gaearon commented on #926
This question has nothing to do with this repository. Please use StackOverflow or support forums.

[2017-11-14 10:50] #926 closed

[2017-11-14 10:51] gaearon commented on #918
I don't understand this report. Please submit detailed reports that include screenshots, what you expected to see, and what you see. It is not obvious at all what you mean.

[2017-11-14 10:51] gaearon commented on #906
It's probably a bug. You're welcome to send a fix. :-)

[2017-11-14 10:51] #905 closed

[2017-11-14 10:53] gaearon commented on #903
Can you please file a bug with Chrome? We didn't change anything.

[2017-11-14 10:54] gaearon commented on #897
Please file a bug with Chrome. We didn't change anything related.

[2017-11-14 10:59] kunokdev commented on #932
@gaearon Sorry I can't reproduce.
I had this issue last week and on monday it seems to work just fine.
My project is huge so I can't isolate what could be the issue and I understand that you can't fix something if you have no material to test upon.
For now I'll close this issue, if someone comes across similar problem and can isolate test case, should be great.

[2017-11-14 10:59] #932 closed

[2017-11-14 11:00] gaearon commented on #932
Fair enough!

[2017-11-14 12:23] greenais commented on #928
Chrome-based version (which I referenced above) does - I doublechecked it right now, see proof below.
Standalone one, according to your response - doesn't.
Probably this should go to documentation.

![image](https://user-images.githubusercontent.com/16271522/32779623-84227ae6-c94f-11e7-9a1c-15b85718088d.png)

[2017-11-14 12:28] karenYerevan commented on #928
i use a good solution.
i do like this
after
react-native run-android ... react-native log-android
and i see my console.log()

[2017-11-14 12:34] greenais commented on #928
@karenYerevan, I do the same, but it's definitely more conviniet to have everything in one place.
 On top of this log-android is quite more verbose and doesn't allow to expand objects and arrays - which is very handy sometimes.

[2017-11-14 12:40] karenYerevan commented on #928
maybe you true .... but for me log-android a best way ...
its my nature that i don't like when my package.json is overloaded )))))))

[2017-11-14 13:00] greenais commented on #928
I have RDT installed as Chrome plugin and as standalone global app - so my package.json stays untouched as well)

[2017-11-14 13:49] gaearon commented on #928
Where do you expect to see the logs in standalone version? On your screenshot the console is part of the *browser* DevTools. It's not a part of React DevTools. Therefore standalone React DevTools doesn't have it (just like React DevTools tab in Chrome doesn't have any dedicated console).

[2017-11-14 14:12] greenais commented on #928
In console tab, I suppose, it will be the most convinient.
Thank you for explanation, but probably pointing in docs this internal RDT dev knowledge about sources of resulting functionality would prevent such questions from users which are quite a bit right expecting the same behaviour from both RDT versions.
Or - probably even better - feature request for standalone RTD, why not?

[2017-11-14 14:45] davidrenne commented on #906
Could you point me in the direction of possibly where in the chrome plugin code it shows the props/state of a given node?  This will help me send over a pull request quicker than reading through the code and ill take a look at undefined use cases.  I really think the keys of all props should be shown and undefined should show up as its important to know what keys you have to work with and what was

[2017-11-15 08:18] pm0355 opened #942 "React Developer Tools not showing"
After installing react developer tools and rect-detector, the react tab does not show in the developer tools (cmd+option+j) when visiting sites built with react (hellosign.com). Navigating to react sites shows message, "This page doesn’t appear to be using React. If this seems wrong, follow the troubleshooting instructions," and no highlighted icon. Both extensions are enabled and "Allow access to

[2017-11-15 08:36] dragonza commented on #903
@erichdev yes I am using an external monitor. It is weird that I didn't have any problem until now. Now I have to move to my laptop screen in order to use react devtool. Otherwise, it freezes out.

[2017-11-15 09:55] mikebabb-gc commented on #904
@jryans confirmed fixed in today's Firefox Nightly (59a1). Thanks for your work on this!

[2017-11-15 12:22] ghughes27 commented on #897
👍 also experiencing this issue

[2017-11-15 12:34] gaearon commented on #928
This is not internal knowledge, it is just a misunderstanding between us. Happy to take a PR clarifying it.

The console tab **is not and has never been a part of React DevTools**. "React DevTools" is just the panel with React components.

The console tab has absolutely no relation to it. They are independent. We are not in control of the "Console" tab. It only exists in Chrome.

You can always us

[2017-11-15 12:36] gaearon commented on #928
In other words:

Chrome DevTools = Console + Network + ... + React DevTools

This is why it doesn't really make sense to ask about Console in standalone React DevTools. Console has never been a part of it. The only reason you see Console in the browser is because *it is part of the browser DevTools*, not because we are doing something special to provide it.

[2017-11-15 12:39] gaearon commented on #928
Also to be clear, you can still have Console open in Chrome while using standalone React DevTools. They should work fine together.

[2017-11-15 13:02] gaearon commented on #903
Please file a bug in Chrome. There's nothing we can fix here if Chrome broke something.

[2017-11-15 16:49] jryans commented on #904
Great, thanks for testing! I guess @markmichon or a repo owner could close this now.

[2017-11-15 16:51] #904 closed

[2017-11-20 17:43] jacdebug commented on #942
Hi @pm0355,

I randomly landed here !! had a quick look on this here is my thoughts.

Are you sure this site homepage built on React ? I found on homepage React is not loaded, only some third party sites are loading it.

But their app is built on React and if you go to login page you can see the react devtools is showing.

Also please be aware that there are ways to hide react dev tools from showi

[2017-11-20 17:55] ngyikp commented on #942
Duplicate of https://github.com/facebook/react-devtools/issues/603 https://github.com/facebook/react-devtools/issues/727 https://github.com/facebook/react-devtools/issues/811

www.hellosign.com does not use React for their homepage marketing content. However, there is a third-party widget (ZenDesk) that uses it, some React detector extensions may identify it.

React Devtools should correctly ident

[2017-11-21 14:28] phantom2017-Nov commented on #897
Same Chrome Bug - 2 monitors scenario...

[2017-11-21 14:41] gaearon commented on #897
**PLEASE DON’T ADD MORE “ME TOO” COMMENTS.**

They aren’t helpful. Again, please go ahead **and file a bug with Chrome** instead.

[2017-11-21 14:52] gaearon commented on #897
(When you file a bug, please post a link to it here. I’ll ask someone from Google to help get a look at it.)

[2017-11-21 15:03] Lappro commented on #897
There already seems to be a related bug on the chromium bug tracker:
https://bugs.chromium.org/p/chromium/issues/detail?id=778443
Although after some quick testing I no longer seem to have this issue on chrome version 62.0.3202.94

[2017-11-21 15:07] gaearon commented on #897
Can somebody else please try Chrome 62 (latest stable) and report whether the issue still exists?

[2017-11-21 15:37] rossipedia commented on #897
Unable to repro here. I have 3 monitors.

Chrome Version: 62.0.3202.94

[2017-11-21 16:01] ghughes27 commented on #897
Issue still persisting for me in Chrome 62.0.3202.94 and 63 (Canary).  I have a windows 4k laptop btw if that's a common trend we can identify for Google.  Undocking dev tools into a separate window also seems to work on my second monitor as a temporary fix for those who want to keep things on one monitor.

[2017-11-21 16:03] gaearon commented on #897
@ghughes27

Could you please comment on https://bugs.chromium.org/p/chromium/issues/detail?id=778443 and provide all the information they are asking for? That would be hugely helpful. Thanks!

[2017-11-22 06:30] kinware opened #944 "Question about Redux-connected anonymous pure functional React-components"
When you define Redux connect()-ed React components that wrap anonymous pure functional React components, the tree in React devtools only show ```<Connect(Component) /> == $r<Unknown .../>"```. Example:

[code]

Ideally the tree would show the text "MyComponent" somewhere, but it does not today. Maybe
something like ```<MyComponent:Connect(FunctionalComponent) /><Unknown />```.

Question: Is this

[2017-11-22 08:04] abhaykumar01 opened #945 "Hi i am not able to access rect devtools on chrome"

[2017-11-22 08:04] abhaykumar01 commented on #945
const path = require('path');
const webpack = require('webpack');
const { CheckerPlugin } = require('awesome-typescript-loader')

module.exports = {
	devServer:{
		compress: true,
		contentBase: "./src",
		overlay: {
			warnings: true,
			errors: true
		  },
		https: false,
		host: "localhost",
		port: 3000,
		hotOnly:true
	},
	entry:[
		"webpack-hot-middleware/client?reload=true", // Note that it

[2017-11-23 08:43] phantom2017-Nov commented on #897
OK - (for me) the issue seems to happen only in a Chrome Window that has been opened by the Visual Studio (2017) debugger .. The same page works fine in a separate Chrome instance that is not connected to the debugger.
I will also post to the bug page above shortly ...

[2017-11-23 22:37] Talamantez commented on #828
Hi - The accepted answer on this page resolved the issue with loading the DevTools.  The solution for me was to disable 'enable js source maps' and 'enable css source maps' in the Chrome Inspector Settings https://stackoverflow.com/questions/44267503/devtools-failed-to-parse-sourcemap

[2017-11-24 10:14] autra opened #946 "Editing state does not trigger componentDidUpdate correctly"
# Context

I'm using react to manage the interface for an external webgl application. React controls the state of said application. When a checkbox change, I need to launch some (costly) operations on said application. I therefore do not want to do this operation every time a state change, but only when this particular state property change. So I implemented a check in `componentDidUpdate`, which

[2017-11-27 03:19] dhzou opened #947 "Can't build on mac"
const main = async () => {
                   ^

SyntaxError: Unexpected token (
    at createScript (vm.js:56:10)
    at Object.runInThisContext (vm.js:97:10)
    at Module._compile (module.js:542:28)
    at Object.Module._extensions..js (module.js:579:10)
    at Module.load (module.js:487:32)
    at tryModuleLoad (module.js:446:12)
    at Function.Module._load (module.js:438:3)
    at Module.run

[2017-11-28 16:07] selialkile opened #948 "Problem of Memory in Firefox 57.0 (64-bit)"
When I started to debug my code, the memory of firefox grow so much and firefox become too slow and need to be restarted.

Env:
Firefox 57.0 (64-bit)
Ubuntu 17.10
16GB RAM

[2017-11-28 16:17] psyfire25 opened #949 "Our webApp does not use react?"
Our webapp is using react but the extension does not see that it is.

Im running a mac on sierra 10.12.6 and im using chrome 62.

Thanks

[2017-11-28 16:28] #949 closed

[2017-11-29 09:21] iamstarkov commented on #604
no, not really. its simple RegExp https://regexr.com/3h9ib `/[\(*\)]{1}/gim` for example

[2017-12-06 04:09] merlinpatt opened #950 "What causes circular structure warning? What is it?"
Every so often I see the warning "React DevTools encountered an error: TypeError: Converting circular structure to JSON" pop up in my console.

I've tried Googling for this but it usually comes up related to Redux, which I'm currently not using.

What exactly is this circular structure that the warning is referring to? What are some likely causes?

I'm not asking for the cause of my specific proje

[2017-12-08 15:58] greenimpala commented on #944
It wouldn't be possible for `connect` to determine the var its been assigned to but you can just promote the function declaration?

[code]

[2017-12-08 17:04] kinware commented on #944
Yeah. Also works if I create the pure component, and do the connect() in the default export.

Just thought I'd ask if I had overlooked something.

Thanks for input.

Closing issue.

[2017-12-08 17:04] #944 closed

[2017-12-09 15:08] TheTourer commented on #67
+1

[2017-12-09 23:33] emiljas opened #951 ""Highlight Updates" had false positives if using redux-form"
React devtools show "highlight updates" but as you can see Clazz component always returns empty object from mapStateToProps and mapDispatchToProps.

componentWillUpdate and render functions do not execute so why I observe "highlight updates"?

Simple example to reproduce problem (click on page to trigger "highlight updates"):

[code]

[2017-12-10 17:27] nitin42 commented on #801
I am working on this by extending @wwwillchen's work. I am building a chrome extension as well as an electron app similar to react-devtools. Thank you @wwwillchen !

[2017-12-10 21:17] pomber opened #952 "Exception when inspecting a state containing a HTMLDocument"
Repro:
1. Go to [minimal demo](https://rawgit.com/pomber/41942e298287d583b078adfb4c9b9b4c/raw/b7a8ab21f709c220e88ceb28cde3ec62c286d71f/index.html)
2. Open React DevTools
3. Inspect Component `state.doc`

Throws:
[code]

Environment:
- Chrome Version 63.0.3239.84 (Official Build) (64-bit)
- Windows 10
- React Developer Tools 2.5.2

Here's the [gist](https://gist.github.com/pomber/41942e298287d583b0

[2017-12-11 01:14] mnpenner commented on #893
This might explain why I can't expand any properties. I'm not seeing any errors, but I can't expand any props or toggle any state.

[2017-12-11 20:27] raphael-thibierge commented on #67
+1

[2017-12-12 00:47] gaearon commented on #801
It would be great if for a start it could be used just as an npm library (and print to console).

[2017-12-12 01:32] nitin42 commented on #801
Sure!

[2017-12-12 01:52] nitin42 commented on #801
I am not sure how this would work with Node but I'll give it a try.

[2017-12-12 16:49] #942 closed

[2017-12-14 09:26] nighca commented on #774
Any progress about this issue? @zinoviev

What about we use `try...catch` to wrap the `prototype`'s property reading behavior. If that throws, use `null` instead.

[2017-12-18 10:49] kelset commented on #801
👋 guys!
Sorry to bother y'all, was wondering if is there any update on this particular side of the perf monitoring:

Since @nitin42's take on the issue via https://github.com/nitin42/react-perf-devtool requires modifying one line on `react-dom` which is not viable for rn.

[2017-12-20 08:05] nitin42 commented on #801
The extension is now available for Chrome and Firefox. Still needs some work though!

Chrome extension - https://chrome.google.com/webstore/detail/react-performance-devtool/fcombecpigkkfcbfaeikoeegkmkjfbfm

Firefox add-on - https://addons.mozilla.org/en-US/firefox/addon/nitin-tulswani/

[2017-12-20 15:54] drpefr opened #953 "force render"

[2017-12-23 05:50] Afra-20 opened #954 "React developer tools doesn't appear"
![react](https://user-images.githubusercontent.com/33478712/34317378-2d2063f0-e7d3-11e7-9a08-10ac57a6d63b.JPG)

[2017-12-25 02:39] zlbben commented on #320
hi，standalone DevTools had the same problem

[2017-12-25 03:22] zlbben opened #955 "highlight incorrectly when debug iframe"
Hi, i found this [bug](https://github.com/facebook/react-devtools/issues/320) that closed , but i found standalone DevTools had the same problem.
There is any element that height !=0 above the iFrame, and this problem will appear

[2017-12-26 07:57] jo32 commented on #271
What if I want to debug production code? For example, I connect to a customer via Teamviewer and debug the production code. In such circumstances, restoring the component name may be useful.

[2017-12-27 12:51] d07RiV opened #956 "NaN state values are displayed as null"
I'm trying to debug incorrect behavior in my app, and ran across this issue when trying to check my component state in dev tools. As seen on the left, it reports `childSizes[1].flex` to be `null`, when in reality it is `NaN`. Also, it doesn't show undefined values.

![image](https://user-images.githubusercontent.com/3448203/34382094-a9164d24-eb1d-11e7-81ab-22bb1e930703.png)

[2017-12-27 16:04] Aarbel commented on #67
@sophiebits

Safari React inspector could help to debug some weird behaviors on iOS Safari. Could you re-open this issue ? thanks :)

[2017-12-31 02:13] Aarbel opened #957 "Why update highlight with React 15 doesn't work well ?"
Quote from the README:
[code]

Why do Highlight Updates has false positive with React 15 ?
We want to track unexpected components updates for performance with React 15, do you know a way to track them accurately on this React version ? (Passing to React 16 is a lot of time for us)

Thanks !

[2018-01-01 13:15] satazor opened #958 "Stateless components not being highlighted"
I noticed that stateless components are not being highlighted but they are being re-rendered.
I searched the issue tracker but couldn't find any issue related to this.

Here's a simple reproducible example: https://pure-components-sbosypcvwa.now.sh/
The list and the item are stateless components. Open the devtools, select highlight, and press `load more`.

You will see console.log's being printed

[2018-01-02 14:16] theREALdebater opened #959 "In the state inspector, how are objects dealt with?"
In the side panel, it is possible to view props and state (a superb feature), and of course the members of either can be plain old Javascript objects (POJOs?). I've noticed that generally these can be expanded to show their (own) members (and their members in turn, and so on), which I think is extremely useful. But how exactly does this work?

I think one of my objects had a 'size' property getter

[2018-01-03 03:41] bleedkaga commented on #924
@ngyikp Nice!

[2018-01-06 19:23] metaarts opened #960 "npm ERR! during npm install"
after trying npm install -g react-devtools i got an error like:

my npm-debug.log:
https://gist.github.com/metaarts/16d485bebe5008a7bd991f510c4d166a

i found out that the dependency "duplexer3" is npm not available anymore. is there any alternatives existing?

[2018-01-06 19:30] ngyikp commented on #960
https://github.com/npm/registry/issues/255

[2018-01-06 19:35] metaarts commented on #960
nice :D, thanks for the information

[2018-01-06 19:35] #960 closed

[2018-01-09 02:21] ngyikp commented on #889
Fixed on Chrome 65.0.3311.3, currently on dev channel

[2018-01-09 17:28] hopperhuang commented on #800
Is this feature complete ? is hard to positon which style sheet work on target component, when it's embed deeply, it hard to postion style sheet just through an style array. If this feature is finish, please tell me how to position style sheet through name, but not a number.

[2018-01-09 19:24] bvaughn commented on #800
I don't think any PRs have been opened for this issue. I'll go ahead and remove the "someone is working on this" label, given how long it's been. Let me know if someone wants to work on this and I'll re-add it!

[2018-01-10 00:28] alexkrolick opened #961 "Release latest version to extension store?"
![image](https://user-images.githubusercontent.com/1571667/34750117-0be28eea-f55a-11e7-9de7-92ac42c11c03.png)

Looks like 3.0.0 has existed since November, and a few PRs have been merged since September.

[2018-01-10 12:04] ZeroZipZilch commented on #828
This hides the error message, but doesn't resolve the issue. In fact, it makes it a tad bit worse.

This is Chrome devtools with sourcemaps enabled:

![with-warning-and-sourcemaps](https://user-images.githubusercontent.com/15870893/34768382-f745ad5e-f5fa-11e7-82c7-6a637af7279e.png)

As you can see, even though the warning is shown, the sourcemaps work, making the warning merely a disturbance. Now,

[2018-01-10 23:51] gaearon commented on #957
Because of how it was implemented. No, unfortunately there's no way to get it working accurately with React 15. (But you can use `react-addons-perf` which still works in React 15.)

[2018-01-10 23:51] #957 closed

[2018-01-11 09:40] Aarbel commented on #957
Thanks @gaearon, unfortunately i think we have to pass to React 16

[2018-01-11 10:24] baokuanze commented on #908
+1, I can not fix this problem (OS Windows)

[2018-01-12 17:33] mangandini opened #962 "Extension can't be installed from Chrome webstore"
Not related to code as itself, trying to get attention over it.

But the extension cant't be installed because Google Chrome is returning an empty file instead the right .crx file, not sure if is a webstore issue or the build uploaded.

[2018-01-13 18:37] happy-thorny commented on #707
Maybe someone will find it usefull: [comment](https://github.com/expo/expo/issues/849#issuecomment-357455841)

[2018-01-15 14:21] zcaceres commented on #67
+1

[2018-01-16 04:57] xiaoyueyue165 opened #964 "react-devtools can't use"
I use the 2015 version, open the debug element interface jump to jump, splash screen, ask for help！
The use of react website this plugin also undetectable.

Here is the animation.

![image](https://note.youdao.com/yws/public/resource/bd7f5b1de6825d4726fa47a997c1d28b/xmlnote/ECEF69E01B86469D9C12C9367FC82EDC/10587)

[2018-01-16 08:55] k1sul1 opened #965 "stuck on "looking for React" if source maps failed"
Excuse me for the ambiguous title. I'm using Create React App, and sometimes Chrome throws a temper tantrum, and forgets how to parse source maps, or something. This happens about 30 times in an hour. Don't take my word for it, here's a screenshot.

![image](https://user-images.githubusercontent.com/2719615/34979496-14807a26-faaa-11e7-91cb-c86cf3781f09.png)

After I restart devtools with hitting <

[2018-01-16 10:23] k1sul1 opened #966 "Hotkey for "Select a React element in the page to inspect it" in Chrome extension"
The "Select an element in the page to inspect it" button on the top of the devtools has the hotkey <kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>C</kbd>, and this is arguably the feature I use the most.

When in React tab of devtools, right under this button  is a "Select a React element in the page to inspect it" button, but it seems to lack a hotkey, or at least a label telling what the hotkey is. T

[2018-01-16 11:21] AliveDD opened #967 "can't install devtools"
whats wrong? i enter this command to terminal and get err message (i use root# access)
[code]
help please

[2018-01-18 15:29] gaearon commented on #897
This issue is clearly affecting many users here, but for some reason only four people starred it in the Chrome tracker. If you care about this getting fixed, could you please log in and star the Chrome issue?

https://bugs.chromium.org/p/chromium/issues/detail?id=778443

[2018-01-18 18:41] ryanlittle commented on #967
Are you installing with sudo? That might be the problem. #741

[2018-01-19 01:39] lo56ve commented on #908
+1, I can not fix this problem (OS Windows)

[2018-01-20 12:12] hesgroup commented on #967
+1
Me too. It's not work with sudo too.

[2018-01-20 18:04] AliveDD commented on #967
@ryanlittle im try with sudo and with root access

[2018-01-20 20:48] deadcoder0904 opened #969 "React DevTools not working on Unsplash"
When I open Instagram page like [@therock](https://www.instagram.com/therock), React DevTools work but when I open [Unsplash](https://unsplash.com) it doesn't work. I'm on Chrome 63.0

[2018-01-20 22:22] ryanlittle commented on #967
If you need sudo to install packages globally, in most cases, I'd suggest configuring npm to use a different directory. See [this guide](https://github.com/sindresorhus/guides/blob/master/npm-global-without-sudo.md) for simple instructions, and [this](https://docs.npmjs.com/getting-started/fixing-npm-permissions) for more info. This may fix the problem.

Alternatively, you may be able to run `sudo

[2018-01-21 10:49] ngyikp commented on #969
Unsplash deliberately disabled the hook to React Developer Tools, this is not an extension issue and partially mentioned at https://github.com/facebook/react-devtools/issues/191:

<img width="1202" alt="screen shot 2018-01-21 at 6 40 00 pm" src="https://user-images.githubusercontent.com/6135313/35193247-dd85e602-feda-11e7-9ca5-95d958d1aecf.png">

It's possible to un-break the hook if you know how:

[2018-01-21 13:28] deadcoder0904 commented on #969
Thanks I thought this was a long-standing issue I've been having from 6 months or so 😂. I didn't post it for a long time though. I think its a good idea to mention it in the README as FAQs.

[2018-01-21 13:28] #969 closed

[2018-01-24 01:20] kbsletten opened #970 "React-Devtools 2.5.2 Doesn't Work on Firefox 58"
The chrome extension works just fine, but the Firefox one just says "This page doesn't appear to be using react". I was able to use the extension not that long ago (maybe pre-57?). I've tried on my macbook and on a windows 10 parallels virtual machine with no dice.

[2018-01-24 14:59] k1sul1 commented on #965
This is driving me mental. Also reported to Chromium bugtracker.

https://bugs.chromium.org/p/chromium/issues/detail?id=805430

[2018-01-24 21:36] GeetanjaliBasakare opened #971 "Can not connect to server"

[2018-01-26 06:01] kulphol opened #972 "เหมาแท็กซี่"

[2018-01-26 06:02] kulphol commented on #972
![fb_img_1498287712046](https://user-images.githubusercontent.com/29934944/35426936-245ca504-0299-11e8-9f99-690bf5375a23.jpg)

[2018-01-26 06:02] #972 closed

[2018-01-26 14:36] ngyikp commented on #970
The Firefox extension is working for me on a clean Firefox 58 for https://reactjs.org

What is the website URL you are trying to inspect?

![parallels picture 3](https://user-images.githubusercontent.com/6135313/35444205-b5741bb8-02e8-11e8-86c0-46a62cccc073.png)

[2018-01-26 14:40] ngyikp commented on #962
It's working fine now, most likely some temporary Chrome Web Store glitch

[2018-01-26 17:24] abstractpoint opened #973 "Taking $r and $tmp further, and letting me replace whole components for A/B testing"
I am working on a Chrome extension which is an add-on to dev-tools with an aim to let users A/B test components locally. I need to be able to select a specific component in the tree, take all it's props (but not children) and pass them on to a replacement component that is supplied at run time. (After DOM and app is loaded, from the extension itself) This component needs to be injected in place of

[2018-01-26 21:08] fossage commented on #681
Any progress on this?  Anything I can do to help?

[2018-01-26 21:20] cristiandan commented on #67
+1

[2018-01-26 22:13] bvaughn commented on #681
I don't see any PRs opened by @benedyktdryl, so I'm guessing you could pick up the issue yourself and submit a PR if you'd like, @fossage.

[2018-01-27 04:43] kbsletten commented on #970
Well, the URL is `http://vmhost:8081` which is just a hosts file redirect to a local iisexpress project in a Windows 10 parallels instance. Chrome works just fine, but FF can't detect react. I can look at anything that could help you out, how does the plugin scan the page for react?

[2018-01-27 04:46] kbsletten commented on #970
Sorry, actually I've also tested from within the Windows 10 instance (FF 58) and `http://localhost:8080` as well. No dice, but Chrome picks it up just fine.

[2018-01-27 05:06] kbsletten commented on #970
I found this line of code in your extension (I'm not a extension dev, but I tried following from the manifest out) and it may be the problem:

https://github.com/facebook/react-devtools/blob/master/shells/webextension/src/main.js#L21

I threw this expression in the inspector:

[code]

On Chrome Version 63.0.3239.132 (Official Build) (64-bit):

[code]

On Firefox 58.0 (64-bit):
[code]

So I tried j

[2018-01-28 00:42] gastonmorixe commented on #67
+1

[2018-01-28 10:40] EdisonLiao opened #974 "cannot install react-devtools"
when i run : npm install -g react-devtools, this command works
but when i run react-devtools, it shows me follow errors, how can i fix it(i have tried delete the node_modules/electron)?
Error: Electron failed to install correctly, please delete node_modules/electron and try installing again

[2018-01-28 12:55] SmokeSmell commented on #974
![image](https://user-images.githubusercontent.com/26245817/35482256-4f54bc9e-046d-11e8-8907-6b0e7faa17bd.png)
is like this picture when you install

[2018-01-28 19:39] shobhitchittora opened #975 "Feature Request: Opening Component in code editor"
Hi! This is my first issue here and I'm not sure whether this has already been raised. I'd like to suggest / discuss on the possibility of having react-devtools open a component in an editor of choice when clicking on `Show <Component> source` (from the menu on right clicking in devtools as below).

<img width="226" alt="screen shot 2018-01-29 at 1 03 04 am" src="https://user-images.githubusercont

[2018-01-29 14:28] enriquesime commented on #741
@ghost Thanks that solve the issue !!!

[2018-01-30 09:06] RuBAN-GT commented on #390
Good day everyone! Did you fix this problem? When I try to call object with getters that calling other getters I'll get errors for them ;(

[2018-01-30 09:27] zinoviev commented on #390
@RuBAN-GT Yep, still waiting for merge

[2018-01-30 22:37] #973 closed

[2018-01-31 02:24] alexandr2110pro opened #976 "Exception when inspecting the state, containing an instance which has getter pe"
`Uncaught TypeError: Cannot read property 'length' of undefined`.

See the screenshot.

![screenshot 2018-01-31 05 22 42](https://user-images.githubusercontent.com/2496784/35601978-c76e7ed8-0646-11e8-9be9-65b1ad98d079.png)

![screenshot 2018-01-31 05 23 17](https://user-images.githubusercontent.com/2496784/35602006-e3b3d4e4-0646-11e8-8002-34669a1d3f4e.png)

[2018-02-01 14:38] rubencanovaca opened #981 "NET::ERR_CERT_AUTHORITY_INVALID"
I must use the --disable-web-security flag (CORS) in Chrome. But, since today, I have a problem with this extension, because is blocking the access to a secure page. If I remove the extension I can access to the page.

I like the extension... do you know if you will fix this in a future? Thanks

[2018-02-02 07:41] tan-c commented on #951
+!

[2018-02-04 02:52] joshribakoff commented on #935
Same, here's what I get when devtools is docked on the right on my mac

google chrome Version 63.0.3239.132 (Official Build) (64-bit)
React Developer Tools 3.1.0
react 16.2.0

![screen shot 2018-02-03 at 6 49 27 pm](https://user-images.githubusercontent.com/4021306/35773842-110fb362-0913-11e8-9314-6580d06c084f.png)

Page is served over a vagrant private IP address & loads JS from webpack on localh

[2018-02-04 02:56] joshribakoff commented on #923
Same, here's what I get when devtools is docked on the right on my mac

google chrome Version 63.0.3239.132 (Official Build) (64-bit)
React Developer Tools 3.1.0
react 16.2.0

![screen shot 2018-02-03 at 6 49 27 pm](https://user-images.githubusercontent.com/4021306/35773842-110fb362-0913-11e8-9314-6580d06c084f.png)

I am using http not https though. My page is served over a vagrant private IP addr

[2018-02-05 01:24] Kovensky commented on #923
@gaearon the only option I can think of is to have a way to support loading a (likely self-signed) certificate chain.

If the options are named `ca`, `cert` and `key` like they are in webpack's devserver settings, it should be easy to just reuse the same files. If the user has already trusted the certificate in order to be able to open the dev server on their browser, hopefully that trust is also

[2018-02-05 10:33] HannibalKcc commented on #908
+1, I can not fix this problem (OS Windows)

[2018-02-06 11:17] Bigdragon13th opened #982 "react-devtools throw error when setting margin as percentage"
react-devtools version:  3.1.0
react-native version: 0.52.2

Devtools throw error when setting margin as percentage whenever I try to inspect the element. The element render correctly and having no issue at all if I didn't inspect the element with devtools.

Error message: "JSON value '10%' of type NSString cannot be converted to NSNumber"
Here's part of my code:

[code]
[code]

<img width="1241"

[2018-02-07 02:36] Manish-Giri opened #983 "Theme dropdown in Settings on Firefox (Quantum) is unresponsive"
When I click on the "settings" icon in the top left in Google Chrome, a small modal appears which has a dropdown for selecting different themes, as shown below -

![12](https://user-images.githubusercontent.com/11348778/35895391-37ba19e8-0b85-11e8-9187-3e1fa1aa8fbc.png)

The same dropdown is unresponsive on Firefox, no matter how many times you click on it -

![22](https://user-images.githubuserco

[2018-02-07 11:03] Paratron commented on #908
I managed to monkey-patch the build script on windows to make the build working:

Change these two lines:
https://github.com/facebook/react-devtools/blob/7062b52f13481f575988135ff33cd53fa7645894/shells/webextension/build.js#L57-L58

To this:
`
await exec('SET NODE_ENV=production');
await exec(`${webpackPath} --config webpack.config.js --output-path ${binPath}`, {cwd: __dirname});
await exec(`${web

[2018-02-09 01:13] soneymathew opened #984 "Embedded GraphiQL for querying client schema and using relay directives"
Is there a plan to add an embedded GraphiQL into the dev tools.
I have the following use cases that can get value out of that.

Provided relay tools can use the environment used by the App that is running

1. I need to be able to include client schema extensions in my query
   While extending the server schema with client schema extensions, It will be useful for testing the impact of my client sch

[2018-02-09 07:34] bajie24 opened #985 "Devtools don't show up in my chrome?"
OS: windows 7 professional

browser version: 64.0.3282.140 (正式版本) （64 位） (cohort: 64_140_win)
extension version: 3.1.0
![2018-02-09_153245](https://user-images.githubusercontent.com/17241541/36016569-9b43b1b0-0dae-11e8-9198-cd0ee88bee09.png)

![2018-02-09_152631](https://user-images.githubusercontent.com/17241541/36016432-e4ef2566-0dad-11e8-9b7b-bd5163473629.png)
![2018-02-09_152539](https://user-

[2018-02-09 07:42] bajie24 commented on #985
It could be seen after restarting my computer...

[2018-02-09 07:42] #985 closed

[2018-02-09 10:52] nunarokapp opened #986 "REMDME.md"
repo #@

[2018-02-09 14:53] mattgreenfield commented on #948
See https://github.com/facebook/react-devtools/issues/333

[2018-02-10 17:21] carlosagsmendes commented on #958
Hey @satazor I experienced the same issue today so I think we can confirm that this is a bug ([link to my example](https://codesandbox.io/s/k378jn3817)).

I don't know if it will be easy to sort out since as far as I know functional components don't have a lifecycle like regular Components/PureComponents. But I'm willing to work on it if someone can provide some guidance.

[2018-02-11 21:15] adiakritos commented on #527
Would love this feature. I suppose it's hard to save a previous search and display it?

[2018-02-11 22:51] Aarbel opened #987 "Illegal Invocation error - on File unfold - in props tree"
The React Devtools doesn't seem to be allowed to access local files when i click on the arrow to unfold the details of the file (here "files" are the input content of an `<input type="file" multiple/>`.

![image](https://user-images.githubusercontent.com/25119847/36079674-06a5dd60-0f86-11e8-99cc-6c7bc8f4f6e5.png)

![image](https://user-images.githubusercontent.com/25119847/36079669-faef2968-0f85-1

[2018-02-12 19:11] khanghoang commented on #527
@adiakritos yes, it is. But idk if they want to have this feature or not ¯\_(ツ)_/¯

[2018-02-12 22:32] adiakritos commented on #527
@khanghoang *grumbling*.. just do it! lol If you'd like such a feature, and it's an experience that every single person is having.. the need to re-click through a bunch of components or research it.. it's a sure fire sign this isn't some unique use case and everyone will be happy it exists, IMO.

[2018-02-13 02:06] khanghoang commented on #527
@adiakritos glad that you like it. I'll get back to it when I have time this week.

[2018-02-13 09:59] mrshafiqueqadri commented on #741
@brancooo1  Thanks your solution works for me.

[2018-02-18 17:32] #986 closed

[2018-02-18 17:32] #974 closed

[2018-02-18 19:58] gaearon opened #988 ""Highlight Updates" doesn't "see" changes made through the context API"
I don't see any highlighting with that option. I'd expect children of context consumers to be highlighted.

[2018-02-19 13:10] roman01la opened #989 "Chrome's Custom Formatters"
Hi! Is there any plans on supporting [Chrome's custom formatters](https://docs.google.com/document/d/1FTascZXT9cxfetuPRT2eXPQKXui4nWFivUnS_335T3U/preview) to display custom data structures in readable format in React dev tools?

For example when debugging ClojureScript's immutable data structures we have a custom formatter that outputs data into the console in readable and inspectable format.

Her

[2018-02-20 13:45] andywillis opened #990 "Firefox React tab not appearing"
I noticed that the React tab was no longer visible in the dev tools:

* FF 59.0b10 (64-bit)

I tried reinstalling the add-on but it made no difference.

Here is the add-on in my add-on list:
![image](https://user-images.githubusercontent.com/1903595/36427123-2d9fa0ee-1644-11e8-9a23-129bd4ee4f8e.png)

But no corresponding tab:
![image](https://user-images.githubusercontent.com/1903595/36427140-37b1

[2018-02-20 22:17] xiao-vincent opened #992 "Stay on Selected Component After Refreshing"
Is there a way to stay on the selected component after refreshing the browser?

It's a bit tedious to search for the component again after making changes to the code.

[2018-02-21 19:53] mdavies-solsys commented on #67
+1

[2018-02-22 13:29] emil14 commented on #992
+1

[2018-02-22 13:31] emil14 commented on #864
+1

[2018-02-23 04:11] Venryx commented on #191
I'm noticing that even when I run the code above, in a script tag before anything else, the dev-tools is still somehow getting involved and having one of its functions called during each rerender (at 60-fps). (the code above removes most of the extension's functions shown in the Profiler, but one of them still shows up)

Here is a screenshot: (the chrome-extension id shown in the function url matc

[2018-02-23 04:19] Venryx commented on #191
Okay, found a way to keep even that function from getting injected/involved.

I just changed the disabler code to this:
[code]

[2018-02-23 16:23] cpruitt commented on #970
Not sure if it's helpful but I'm seeing the same thing using Firefox 58 on Mac OS (10.13.3), but not for all sites. React dev tools are enabled for both Chrome and Firefox if I inspect https://reactjs.org/ but are not enabled for Firefox if I visit https://www.airbnb.com/. They are enabled for Airbnb in Chrome only.

Full disclosure: I am trying out React and the React Developer Tools for the firs

[2018-02-24 23:23] ezfe commented on #67
+1

[2018-02-26 23:00] michelmattos commented on #929
It seems to happen only with functional components. If with change your component to be a stateful one, then you will be able to select it (and `$r` will work fine). Maybe `data.publicInstance` is being set to `null` because functional components don't have an instance?

[2018-02-26 23:48] RocketPuppy commented on #929
That makes sense @michelmattos! My project is almost all functional components.

[2018-02-27 08:59] jecacs commented on #67
+1

[2018-02-27 12:10] dirkdevriendt commented on #897
FYI: Seems to be fixed in the latest Chrome version (AFAICT along with other Chrome extensions experiencing faulty cursor alignment on secondary screens with a different Windows DPI setting)
I'm on Chrome 64.0.3282.186 (Official build) (64-bits)

[2018-02-28 00:37] dneilson opened #994 "Plans to extend the style view of the react tab to the standard Elements Tab?"
The styles that are included for the react would be awesome if they were an option for the standard Elements Tab as well - any future plans to add that?

[2018-02-28 19:26] sevetseh28 opened #995 "Get React component from console"
Hi. Is it possible to get a React component via dev console programatically with this extension installed?  If so, how?

Thanks!

[2018-03-01 10:46] julienw commented on #460
Related bugzilla issues:
https://bugzilla.mozilla.org/show_bug.cgi?id=1267027
https://bugzilla.mozilla.org/show_bug.cgi?id=1294996

[2018-03-02 06:13] jasonwoodland commented on #67
+1

[2018-03-06 21:55] RCTnativeapp opened #996 "React-devtools with custom port"
Hi, I am trying to use React-devtools standalone app for ReactNative debugging.  When I open react-devtools it listens for port number 8097. But my app uses port number as "8999". Please help on debugging with custom port number. Also came across React-devtools-core for custom package, but not sure how to use. It would be good if anyone can help in ReactNative debugging. Thanks

[2018-03-07 00:26] byCedric commented on #941
With [Node Security Platform](https://github.com/nodesecurity/nsp) this is also flagged as **High** (**7.5 CVSS**) Here is the report you get when running the `nsp check` command. If help is needed I wouldn't mind to pitch in!

[code]

[2018-03-08 18:00] p0la commented on #946
I see the same behavior. I seems that the existing state is mutated instead of having a new state poperly set.

in my tests, when trying to implement `componentWillReceiveProps(nextProps)`, `nextProps`, would always be the same as `this.props`.

This makes testing quite tricky.

[2018-03-09 09:30] Kovensky commented on #604
How about a `Symbol.for('react.devtools.hide')` property that can be set on the constructor/SFC?

[2018-03-09 12:00] Kovensky commented on #959
Sounds like https://github.com/facebook/react-devtools/issues/775

[2018-03-09 12:55] ultrox commented on #992
I was looking the same thing, its so annoying my filters gets cleared out every single time I refresh.

[2018-03-09 14:40] klode commented on #893
sounds like #775 ?

[2018-03-09 15:02] AndrejGajdos opened #998 "Using with iPhone device"
If I want to connect devtools with a simulator, it works. When I try an iPhone device connected by USB, I see a message "Waiting for React to connect…"

macOs Sierra 10.12.6
iOS 11.2.6
Xcode 9.2
"react-native": "0.52.0"
react-devtools@3.1.0

[2018-03-09 22:23] markerikson commented on #604
This is especially needed with the new `React.createContext()` API, as all uses of `MyContext.Provider` and `MyContext.Consumer` show up in the tree.

It would be particularly nice if there was a checkbox to hide all "built-in React plumbing" component types (context, async/strict mode, etc).

[2018-03-10 11:11] DiegoBM commented on #935
I was having the same issue (in my case running an android virtual device) until I run @fmorato's solution. Which should be marked as valid.

Windows 10 Professional
react-native: 0.54.0
react-devtools: 3.1.0

[2018-03-11 20:46] tambeta commented on #882
@garyking Sorry, can't help you there. I haven't really looked into it, because I haven't worked with React recently. Do let me know if you happen to find a workaround, though. A very clumsy fix is to increase the global monospaced font size in browser preferences.

I can't say when the problem started, as it was present in the first version of React Devtools I ever installed (2.3.3).

[2018-03-11 21:28] garyking commented on #882
I ended up switching to using Chrome when using the React Devtools.

[2018-03-13 16:24] OliverJAsh commented on #906
I've also just ran into this. Where abouts can we find the code that needs fixing? I'm also happy to raise a PR. /cc @gaearon

[2018-03-14 13:45] OliverJAsh commented on #906
Just spent 30 minutes on this but couldn't track down the source of the bug. I wonder if it could be somewhere we call `JSON.stringify`, which would lose the property.

[2018-03-15 12:42] aganglada opened #999 "Make it look better"
Do you think we could make react-devtools look like the vue one?

It looks really good.
https://chrome.google.com/webstore/detail/vuejs-devtools/nhdogjmejiglipccpnnnanhbledajbpd?hl=es

I'm more than in to make it real.

[2018-03-17 01:44] davidrenne commented on #906
Yea guys we need to figure this out.  It’s something we need to know if a caller to a component passes undefined we need to see the key as undefined.  It’s very 8mportwnt to provide transparency to the devs using it.  I might take a stab soon at this and send a pr

[2018-03-19 12:31] vink1987 commented on #741
@brancooo1 thanks ... it works (Y)

[2018-03-21 13:44] jquense opened #1001 "Option to hide Internal types in tree"
With 16.3 there are a lot more "plumbing" types like Mode, Context, ForwardRef, etc. and as folks migrate to the new API's I think we'll see tree depth balloon, especially around Context, where (I think) the tendency will be to make lots of small ContextProviders, rather than large pass-a-big-object-bag down Providers, because it's easier to mange updates and context value equality.

This is what

[2018-03-22 15:47] duartebotero opened #1002 "npm does not support Node.js v9.9.0"

[2018-03-22 16:22] Morikko commented on #970
I confirm what @cpruitt said, but with Firefox 59 on Fedora 27.

Also I am developing web-extension that includes js libraries locally.
[code]
Both Chromium and Firefox are telling me that my pages are not React pages.

[2018-03-23 00:22] IsaakNazar opened #1003 "React Dev Tools show Components as Unknown"
I also tried to use named exports and result was the same: Unknown . How to fix that?
[code]

[code]

[2018-03-23 07:49] djuzla opened #1004 "srpski"

[2018-03-23 08:04] djuzla commented on #1004
[SiteSecurityServiceState.txt](https://github.com/facebook/react-devtools/files/1840573/SiteSecurityServiceState.txt)

[2018-03-23 14:31] davidmarcbrown commented on #268
This is not resolved in the build distributed in the Chrome Web Store - the old, broken link is still displayed in the error message when using the extension with old versions of react.

[2018-03-23 19:00] gaearon commented on #1001
Yeah we wanted to do something like this but never had the time. If you send a PR we'll definitely look!

[2018-03-23 19:01] #897 closed

[2018-03-23 19:03] gaearon commented on #1003
Please provide a complete project.

[2018-03-23 19:04] gaearon commented on #999
We don't want it to "look like the vue one", we want it to be the best tool for React :-). Happy to take specific improvements!

[2018-03-23 19:04] #999 closed

[2018-03-23 19:46] satyapramodh commented on #889
Chrome 65.0.3325 is the current production build and the issue is now fixed. this issue can be closed.

[2018-03-23 22:25] #1004 closed

[2018-03-23 22:26] #1002 closed

[2018-03-23 22:26] gaearon commented on #988
I looked a bit more at this. It's unrelated to context API: Highlight Updates doesn't do anything for host or functional components. I think we need to tweak its logic because it's already a bit misleading, and will become more so.

[2018-03-23 22:37] sophiebits commented on #889
Nice. Thanks both of you for following up!

[2018-03-23 22:37] #889 closed

[2018-03-23 23:57] melissachang opened #1006 "React devtools works with localhost but not hostname"
Unfortunately I don't think you can reproduce because it has to do with my corporate network (I think). Although maybe your corporate network is set up the same way, so it's worth trying. Here's what I see:

* npx create-react-app my-app && cd my-app && npm start
* Open localhost:3000 in Chrome. React devtools extension icon is red.
* Open http://hostname:3000/ in Chrome. React devtools extension

[2018-03-24 03:27] IsaakNazar commented on #1003
thank you, the problem is solved!
before :
  `"start": "webpack-dev-server --open",`
after:
  `"start": "webpack-dev-server --mode development --open",`
and all Component's names showed up.

[2018-03-24 03:27] #1003 closed

[2018-03-24 14:13] gaearon commented on #1003
Interesting. cc @thelarkinn is it expected that even webpack *dev* server defaults to prod mode?

[2018-03-24 14:16] gaearon opened #1007 ""Highlight Updates" doesn't work well with fragments"
Since it relies on `findHostInstance`, it always only finds the first node. This is noticeable with fragments and, really, any kind of container for multiple nodes (e.g. a context provider). The highlighted area doesn't include any subsequent children.

[2018-03-24 14:18] gaearon commented on #1006
Could this be related to CSP settings or something like this? (Disclaimer: I don't know anything about CSP.)

[2018-03-24 14:19] gaearon commented on #995
Not sure what you mean by "programmatically via console", but typing `$r` should give you the focused instance (assuming you focused on a class since functions don't have instances).

[2018-03-24 14:19] #995 closed

[2018-03-24 14:20] gaearon commented on #990
Might be a transient bug in Firefox? We didn't change anything related so please report it to FF directly.

[2018-03-24 14:20] #990 closed

[2018-03-26 10:17] Kachulio1 commented on #1007
@gaearon what's the difficulty level for this Issue?, I want to do it but I don' t know where to start.

[2018-03-26 14:31] byCedric commented on #941
Any update on this issue? I see the project still uses the vulnerable version of ws.

[2018-03-26 15:19] #908 closed

[2018-03-29 00:37] banderson commented on #711
I am very curious about this too. I was considering writing a plugin to _decorate_ some components in the tree for a component library, but it seems like this is an internal concept and not intended for non-core members to use, is that right? Just trying to save myself time if that's the case.

[2018-03-30 02:18] ferdaber opened #1008 "[React 16.3] - Context provider and consumer's displayName not being used"
I realize this is a bit early, but in React 16.3 with the new context API, the provider and the consumer's respective `displayName`s are not being used in react devtools.

codesandbox with minimal reproduction:
https://codesandbox.io/s/302ymvn1j1

![image](https://user-images.githubusercontent.com/12239873/38121726-c6eda7f4-3396-11e8-83af-b4b7e3edc999.png)

[2018-04-01 05:20] gianglevan94 commented on #67
+1

[2018-04-01 18:57] flyon commented on #893
same here. an error is thrown because the evaluation of the getter method does not seem to use the actual instance but something with dehydrate & the types prototype? Eiter way, the instance is missing some properties that are used to eval the 'get' method thus causing an error. At least catching the error so that the other values can still be shown would be helpful, I currently can't debug any pr

[2018-04-01 20:40] DtpEJsaYXDU4GDH8dE4MyI9VrieF0UZpPZ0K76K commented on #880
This may be due to umatrix extension interfering with Chrome extension installer functions. In order to fix it, ensure you have the following line in your umatrix permanent rules settings committed:

matrix-off: behind-the-scene true

That will allow Chrome to send the request and bypass any manipulation by umatrix.

[2018-04-03 02:16] peterfei commented on #741
@ghost  thanks a lot!

[2018-04-04 08:33] Teja1124 opened #1009 "I can't see react tab in console even after enabling and allowing the url's"
Chrome Version 64.0.3282.119 (Official Build) (64-bit)

[2018-04-04 11:11] naissur opened #1010 "Tree view collapses immediately after expanding it"
OS: macOS Sierra 10.12.6
browser: Google Chrome 65.0.3325.181
extension version: 3.2.1

![GIF, showing the behavior](https://media.giphy.com/media/9xyIHZUpbgyIQKXqvF/giphy.gif)

When inspecting element, it expands the parent nodes, and then collapses immediately.
Also, this behavior persists even in the standalone app.

This gives 6 ```Error in event handler for (unknown): Error: Attempting to use

[2018-04-06 18:57] sospedra commented on #887
Again

[2018-04-06 21:56] kyleramirez commented on #860
I am experiencing the same issue  when extending Array

[2018-04-07 09:37] camjackson opened #1012 "Firefox Devtools highlights elements with a huge dark grey box, obscuring the page"
1. Open react devtools in Firefox
2. Hover over a react component in the tree
3. The element's box model is highlighted on the page in blue/orange/green, as expected
4. The element also gets a big, opaque, dark grey box over it, like so:

<img width="407" alt="Screen Shot" src="https://user-images.githubusercontent.com/1930451/38453553-fe13a8d8-3a89-11e8-8e44-4b037e602524.png">

This big grey box

[2018-04-07 10:35] lshgdut opened #1013 "Fail to build chrome extension in windows cmd"
I have try to build chrome extension in windows cmd, but it fail to execute `NODE_ENV=production xxxx`.

The environment variable can't be set in one command line, so it have to been put into `env` variable in exec options

[2018-04-08 23:33] zinoviev commented on #893
PR is here for a long time, still waiting for review

[2018-04-10 10:57] illuminiti-boom opened #1015 "Error"
compose.js apply method undefine

[2018-04-11 12:21] herodrigues opened #1016 "Not able to close previous running servers"
I'm using `react-devtools-core/standalone` package to render React DevTools each time I click on a menu link.
This menu link is part of a React project that is inside an electron app.
My question is: how to close previous running servers and get rid of this warning loop?

```[React DevTools] Only one connection allowed at a time. Closing the previous connection```

Is there a change of having a me

[2018-04-11 14:04] mckmarc commented on #741
@brancooo1  yeah

[2018-04-11 17:43] TylerJAllen opened #1017 "Cannot scroll through prop list in Firefox Developer Edition"
Specs:
OS - macOS Sierra version 10.12.6
Broswer: Firefox Developer Edition version 60.0b11
Extension: React Developer Tools 3.2.1

Instructions to reproduce the issue:
On a webpage built with React, click on the React Developer Tool. Locate a component that has a list of props that exceed below the prop view window. Try to scroll down the prop list to view the rest of the props, notice that you a

[2018-04-11 18:37] bassarisse commented on #864
+1

[2018-04-12 22:02] krfong916 opened #1018 "Question about DevTools privacy"
Hey all,

I wanted to know what the terms of service and privacy were for this extension.
Specifically, I'd like to know if my data and browsing history is being sent to facebook when the chrome extension is installed.

Thanks!

[2018-04-14 04:39] #1018 closed

[2018-04-15 09:47] soneymathew commented on #984
I think I raised this in the wrong repo, please close this.
I have raised this as https://github.com/relayjs/relay-devtools/issues/9

[2018-04-15 09:47] #984 closed

[2018-04-16 04:39] viktorchukhantsev opened #1019 "Could not resolve '_reactFragment' for complex properties like objects."
I'm using awilix as IoC container to pass all my services to components and extension can't properly work with such behavior.

[2018-04-16 14:30] mcrowder65 commented on #67
+1

[2018-04-19 10:18] ajcpwnz opened #1020 "Firefox Freezes with devtools open/abnormal memory consumption."
Firefox Version 59.0.2 (64-bit), macos High Sierra.
Upon opening any react app and trying to navigate in nested component tree or using highlight tool devtools become partially or completely unresponsive, ram usage increases and in some cases browser restart is required.

Example 1: My real-world project, deep nesting – 10gb ram used out of a sudden, browser and OS became unresponsive until restar

[2018-04-21 10:15] sosospicy commented on #998
A long time passed.. no answer yet?
Try ` adb reverse tcp:8097 tcp:8097`

[2018-04-25 02:07] avalanche1 commented on #314
Can this be fixed pls?

[2018-04-25 02:11] avalanche1 commented on #868
Strangely, this still doesnt work for me.

[2018-04-25 10:32] fletcher91 commented on #711
Being able to add an object to the right panel (props, state, context, <pluginthingy if applicable>) would be awesome.

[2018-04-25 11:19] alexdevero opened #1021 "Feature Request: option to change panel layout"
I'd like to suggest / discuss adding an option to change the default panel layout of React Developer Tools. The idea is implementing something similar to "Panel layout" dropdown in Chrome DevTools. This could add more space to all sections of the panel. What do you think?

Default layout:
![react-dev-tools-before](https://user-images.githubusercontent.com/4237724/39242579-bb02c646-488a-11e8-8ab8-1

[2018-04-26 15:47] selrond commented on #739
Still happening to me, `Version 66.0.3359.117 (Official Build) (64-bit)`...

[2018-04-30 08:49] daniel-costa commented on #67
+1

[2018-04-30 14:49] callumlocke opened #1022 "Hundreds of errors appearing in console when on raw.github.com"
When I view anything on `raw.github.com`, such as the [readme for this repo](https://raw.githubusercontent.com/facebook/react-devtools/master/README.md), the Chrome react-devtools extension causes an error to appear in the console 10–20 times per second:

[code]

![image](https://user-images.githubusercontent.com/250617/39433410-b9bd40c0-4c8d-11e8-80f3-793c0b066e84.png)

I don't know if it happens

[2018-04-30 17:16] nareshbhatia opened #1023 ""Highlight Updates" gives false positives for a performance tuned React app"
I have created a minimal application that displays a list of 10 todo's using Redux. One of the todo's is updated every second. The app has been optimized using recommendations in [Redux Performance FAQ](https://redux.js.org/faq/performance#how-well-does-redux-scale-in-terms-of-performance-and-architecture). Indeed when I run the app, I can see in console logs that the list is rendered only once at

[2018-05-01 19:52] gaearon commented on #1019
Please provide more information. It's very hard to understand what problem you're having from this description.

[2018-05-01 19:53] gaearon commented on #1008
Happy to take a fix!

[2018-05-01 22:43] gaearon commented on #1023
You are preventing *your* components from re-rendering, but `connect()` wrappers generated by React Redux still re-render. I think you might have misinterpreted the advice (not sure because I haven’t read that FAQ): what you need to do instead is to **make sure `mapStateToProps` result is shallowly equal for things that don‘t change**.

Here is a diff to give you an idea:

[code]

cc @markerikson

[2018-05-01 22:43] #1023 closed

[2018-05-02 03:48] markerikson commented on #1023
Thanks for the ping.  I don't _think_ there's anything specific that needs to be edited, but @nareshbhatia , feel free to file an issue on the Redux repo if you feel it's insufficiently informative.

[2018-05-02 07:26] satyapramodh opened #1025 "Support for Microsoft Edge shell"
Are there plans to support edge at this time? If not I would like to give it a go depending on support for required APIs in edge extensions.

[2018-05-02 20:14] nareshbhatia commented on #1023
Thanks @gaearon & @markerikson for your help. I think the docs are very clear. The only trick that I did not think of (as suggested by @gaearon) is to use `ownProps` to resolve the `todo` right inside the container (instead of passing the entire map into the view). This was the root cause of the inefficient rendering. I have fixed my repo based on your suggestion. Hopefully it is educational for o

[2018-05-03 07:33] ackvf commented on #1008
Yes please!
![image](https://user-images.githubusercontent.com/2313018/39564556-fd4ee82e-4eb4-11e8-8e44-011d42ed30c1.png)

[2018-05-03 13:18] gaearon commented on #1008
@ackvf If you want to fix this, you're welcome! Otherwise "+1" comments don't really help anyone. We know what the issue is about :-)

[2018-05-03 13:34] ferdaber commented on #1008
I'll try my hand and making a PR to fix this, thanks!

[2018-05-03 14:59] dascheaten commented on #67
+1

[2018-05-06 18:17] hurvajs77 commented on #67
+1

[2018-05-07 19:34] jonathanlaf opened #1026 "Multiple monitor setup with 4K break scrollbar size in devtools"
**Environment**
- Google Chrome : 66.0.3359.139 (64-bit)
- Revision : a020eddf0d85fe84d4a6787b304f50aafb670969-refs/branch-heads/3359@{#767}
- OS : Windows 10
- JavaScript : V8 6.6.346.26
- Three monitors
    - One 4K (3840x2160) with the Scale and layout options of windows set at 250%
    - Two FullHD (1920 x 1080) with the Scale and layout options of windows set at 100%

**Actual Behavior**

If

[2018-05-08 17:09] lukewis commented on #982
Similar conversion issues for margin="auto", padding="50%", etc...as original poster states, it renders fine, but throws a red box when attempting to inspect it.

[2018-05-09 13:05] byCedric commented on #941
Casually pinging this issue for any response or progress on this issue. If necessary I can help fixing this issue once and for all...

[2018-05-09 22:37] bvaughn commented on #1026
Scrollbars are part of the browser chrome. (We don't do anything special to style them or customize them in any way.) I believe this bug is related to your OS+browser (or perhaps a browser plugin)

[2018-05-09 22:38] bvaughn commented on #1015
Hi. This is an incompletely bug report. Also, there is no `compose.js` file in DevTools source.

If you think you've found an error in DevTools, please provide a complete set of steps to reproduce it- along with information about your OS and browser/version.

[2018-05-09 22:38] #1015 closed

[2018-05-09 22:40] bvaughn commented on #1019
Closing this issue for now due to lack of info. We'll re-open it later if there are repro instructions! 😄 Cheers!

[2018-05-09 22:44] bvaughn commented on #1021
I can see this being helpful in some cases. Although typically I would just resize the (Chrome) DevTools window if I need more width or height for the React DevTools view.

That being said, I think we'd be happy to review a PR for this.

[2018-05-09 22:47] bvaughn commented on #1022
The only place we reference `README.md` in this extension source is in [the disabled popup HTML](https://github.com/facebook/react-devtools/blob/ed27c461ad4057fe08c30854383bbacc06f9708b/shells/webextension/popups/disabled.html#L20), and this is just a simple link.

However, I can confirm that I see this Chrome console error as well, and disabling the React DevTools extension "fixes" it.

That bein

[2018-05-09 22:49] bvaughn commented on #1025
I am not aware of any plans we have to work on Edge support.

If you're interested in working on this- please do! Provided we can automate the build/test process in a similar way as we have for Chrome and Firefox.

[2018-05-09 22:53] bvaughn commented on #1012
Definitely not intentional!

[2018-05-09 22:54] bvaughn commented on #1012
For what it's worth, this is not what I see on Firefox 59.0.2 / OSX 10.13.4

![screen shot 2018-05-09 at 3 54 10 pm](https://user-images.githubusercontent.com/29597/39843715-3c180374-53a1-11e8-9fab-961077d75f62.png)

[2018-05-10 14:48] jonathanlaf commented on #1026
Oh sorry about that. Since I had no problem with the other tabs of chrome I was sure the bug was from your side.

[2018-05-10 14:56] bvaughn commented on #1026
That's understandable. Maybe the bug is limited to Chrome extensions, and so not something you'd see on websites.

Some possibly related threads (though I only briefly skimmed them):
* https://productforums.google.com/forum/#!topic/chrome/ViYbXA8TPCA
* https://bugs.chromium.org/p/chromium/issues/detail?id=349822
* https://github.com/electron/electron/issues/8513

I'm going to close this for now si

[2018-05-10 14:56] #1026 closed

[2018-05-10 16:13] bvaughn commented on #1019
This is the runtime error I see:

Specifically, this error is [thrown by `AwilixResolutionError`](https://github.com/jeffijoe/awilix/blob/355d3e1025a4f8012e36a49303d20788a7e9ddfb/src/errors.ts#L136).

React DevTools has a line of code that [tries to read `_reactFragment`](https://github.com/facebook/react-devtools/blob/ed27c461ad4057fe08c30854383bbacc06f9708b/agent/dehydrate.js#L23) as part of fil

[2018-05-10 16:13] bvaughn commented on #1019
cc @gaearon if he has an opinion on this

[2018-05-10 21:34] zhoutuo commented on #970
Also can confirm, some pages only work with chrome not firefox 59.0.3

[2018-05-11 04:35] sagarrabadiya commented on #1025
would love to see this in MS edge.. 👍 thank you so much for the wonderful dev experience.. 😄

[2018-05-11 05:39] satyapramodh commented on #1025
@bvaughn thats great. thanks! I can start on this from June if thats ok. To follow its progress check https://github.com/satyapramodh/react-devtools

[2018-05-11 06:28] satyapramodh commented on #1025
@bvaughn thanks for getting back to me. I apologize for taking the time, but upon further inspection, it looks like edge does not support [devtools](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/devtools.inspectedWindow) api yet. Its not present in their [roadmap](https://docs.microsoft.com/en-us/microsoft-edge/extensions/api-support/extension-api-roadmap). Also we can track the fe

[2018-05-11 07:12] viktorchukhantsev commented on #1019
Awilix is just IoC container, it's an example of a complex structure that can present in properties of react component class. I totally agree with

It doesn't matter that I can't receive access to such properties(except name), but the extension should handle such cases and continue work.

[2018-05-11 14:09] visuallization commented on #67
+1

[2018-05-11 21:52] TheNuclearCat commented on #967
Issue is still there with windows 10 64bit, the solution from @ryanlittle has worked for me (without admin permissions in powershell).

[2018-05-12 15:05] gokul0 commented on #1008
Hi @gaearon

I am a rookie to Github. I would like to contribute to this issue. I have been working on this from morning 9 AM IST. But, I could not get anything yet. Is there a specific direction I should look into? Can u or anyone guide me on this just a little bit?

[2018-05-15 06:40] canyavall opened #1028 "React Dev Tools not working despite __REACT_DEVTOOLS_GLOBAL_HOOK__ exists"
I've created a new project and for any reason, dev tools is not working.
For other projects it is working but not for this one.
I've been checking if __REACT_DEVTOOLS_GLOBAL_HOOK__ is in window, and yes, I could find it...  can someone tell me what else I've or I can check in order to make it work?

[2018-05-16 01:13] zinoviev commented on #843
Well, I play with new clipboard API and found it's still impossible to write stuff without direct user interaction https://w3c.github.io/clipboard-apis/#h-clipboard-write-permission and when we communicate with backend we lost an opportunity to use the clipboard.

But I check my previous attempt inside chrome extensions shell and surprisingly it's work as there is another permission scheme in exte

[2018-05-16 14:25] seftrick commented on #741
I've changed rights on global node_modules directory and then installed devtools
`cd /usr/local/lib
sudo chown -R user:user node_modules
npm i -g react-devtools`

[2018-05-16 15:34] zinoviev commented on #843
@bvaughn I'm going to add a switch in frontend to check if we are in extension, and if yes perform a deep copy or use copy first level props overwise. So I guess config props will work. Thanks!

[2018-05-17 03:43] jeffvandyke commented on #941
Just thought I should mention that with npm 6, everybody using react-native will get at least one high-severity vulnerability message (whether actually relevant for react-native development or not) due to the transitive dependency on ws <3.3.1. Advisory at <https://nodesecurity.io/advisories/550>, ws package at <https://github.com/websockets/ws>, currently at v5.1.1

[2018-05-18 20:05] bourliam commented on #982
I have the exact same problem, is there any way to solve this ? Thanks

[2018-05-21 11:16] ghost opened #1032 "Error: "Expected to find at least one React renderer.""
I get the following error when I try clicking on one of the elements under Inspector mode:

![screenshot from 2018-05-21 16-35-59](https://user-images.githubusercontent.com/39124207/40304641-2e8088e4-5d15-11e8-92cf-530a5bbc503c.png)

I've installed react-devtools following the [instructions here](https://facebook.github.io/react-native/docs/debugging.html#react-developer-tools).
react-devtools ope

[2018-05-21 18:03] #941 closed

[2018-05-21 18:12] bvaughn commented on #941
`react-devtools-core` 3.2.2 has been published with this fix.

Sorry for the long turnaround time. ☹️ Thanks for bringing it to our attention. ❤️

[2018-05-22 07:53] immunity20 opened #1033 "React-devtools shows outdated React version (16.3.2)"
Hello, I have a create-react-app project with React 16.3.2 and react-devtools report it as outdated
This page is using an outdated version of React. ⌛

Package.json
`{
  "name": "bewica-front",
  "version": "0.1.0",
  "private": true,
  "dependencies": {
    "auth0-js": "^9.5.1",
    "auth0-lock-passwordless": "^2.2.3",
    "axios": "^0.17.1",
    "babel-polyfill": "^6.26.0",
    "cuid": "^2.0.2",

[2018-05-22 10:42] thirdhand commented on #1010
I'm seeing this too on MacOS Sierra both in Chrome and Firefox.

[2018-05-23 18:29] Mujaddadi commented on #1009
Same

[2018-05-23 23:01] fenosoa opened #1035 "ws dependency should be updated"
High            Denial of Service

  Package         ws

  Patched in      >= 1.1.5 <2.0.0 || >=3.3.1

  Dependency of   react-native

  Path            react-native > react-devtools-core > ws

  More info     :
Denial of Service
Module: ws

Published: November 8th, 2017

Reported by: Nick Starke, Ryan Knell

CVE-NONE

CWE-20

Vulnerable: <1.1.5 || >=2.0.0 <3.3.1
Patched: >= 1.1.5 <2.0.0 || >=3.3.

[2018-05-25 17:42] samundrak opened #1036 "Method or Event on DOM changes"
Hi,
Actually, I am in  need of help with dev tool, I tried to extend its functionality little more for me,
where I can see the time of component created/updated and updated count and I think I made it,
but now I want to know is there any method/event which is called on actual DOM changes,
Sorry if my question doesn't fit here.

Here's what I have done by now.
![image](https://user-images.githubuse

[2018-05-28 14:59] rkstar commented on #970
confirmed in firefox nightly `62.0a1 (2018-05-28) (64-bit)` as well. react-devtools **3.2.3**. console shows [the same as this comment](https://github.com/facebook/react-devtools/issues/970#issuecomment-360960757)

[2018-05-29 05:42] camjackson commented on #1012
I've removed and re-installed the extension and it seems to be fixed! 🤷‍♂️

[2018-05-29 05:42] #1012 closed

[2018-05-29 08:38] malivp3494 opened #1038 "Cannot install standalone app in Ubuntu 16.04"
So, I tried to install react-devtools standalone app by
``` npm install -g react-devtools```
apparently, it doesn't seem to work for me.
I get the following output
[code]

[2018-05-29 14:44] LuisGonzaga opened #1039 "nativeObjectCreate"
Hello,
I am starting React & doing an "hello world", to my surprise I got the error described below, after searching the web (no similar results) I tested in FF and IE with no problems.
Then I disabled react-devtools 3.2.3 and everything was fine.

-> The script is very simple, just for the record:
<script type="text/javascript">
      var helloWorld = React.createElement('h1', null, 'Hello world!

[2018-05-30 00:31] 601939654 opened #1040 "我不能打开react-devtools 谷歌扩展文件页面"
我不能打开react-devtools 谷歌扩展文件页面，一直下载不了.crx扩展文件，这样调试react-native很不方便。

[2018-05-30 08:55] xlliang commented on #1040
https://blog.csdn.net/wp_boom/article/details/79011177

[2018-06-01 04:32] #1036 closed

[2018-06-01 06:39] imtmh commented on #859
This issue's marked as closed, has anyone got a solution?

[2018-06-01 07:03] levani commented on #859
@imtmh It's not closed yet.

[2018-06-01 09:03] mkchx commented on #941
Hi,

I'm getting an exception on **react-native run-android**
while the index.js exists in the root of the project
[code]

Steps to reproduce
1) ignite new PizzaApp ( choose bowser )
2) cd to dir & npm install

[code]

npm audit

[code]

package.json

[code]

Please advise,
Thanks

[2018-06-06 15:11] samuelpismel commented on #1032
Same issue here... But it is not an react-devtools bug, it happens even without the react-devtools.
Seems to be an react or some other package issue.

Android 6.0
RN 55
Expo 27

[2018-06-07 01:49] lshgdut commented on #1013
i have already post a pr [1014](https://github.com/facebook/react-devtools/pull/1014) to fix this issue :)

[2018-06-07 07:37] Alexander1984z opened #1041 "что тут не так"

[2018-06-07 11:14] malivp3494 commented on #1038
So after some digging, it turns out to be an issue with ```sumchecker``` used in electron.
<br>To fix this, you would have to use the following command:<br>
```npm install -g electron --unsafe-perm=true --allow-root```
<br> Also, if you haven't changed your global npm directory, you should do that, as it's messy to use npm with sudo. refer [this](https://docs.npmjs.com/getting-started/fixing-npm-p

[2018-06-07 11:14] #1038 closed

[2018-06-09 18:10] madlabman commented on #1039
I have similar error using React dev tools in Chrome but it's work fine in Firefox, check it out.

[2018-06-10 22:10] alexandr2110pro commented on #976
any traction?

[2018-06-10 22:10] alexandr2110pro commented on #976
@clarkbw @sophiebits @zpao @rpl @kassens

[2018-06-13 07:43] yeyuguo commented on #67
+1

[2018-06-13 10:55] ur92 commented on #67
+1

[2018-06-14 14:29] anisimov74 commented on #1032
I have the same problem.
Android Emulator
Android 6.0

[2018-06-15 00:05] CamJN commented on #460
I have a suggestion for how to make this a bit nicer for those affected, though I'm not a CSP expert so if this won't work hopefully someone will correct me. You could add a nonce to the injected `<script>` tag and mention it in the readme. Then people could add that nonce to their CSP, which would enable the addon, while allowing them to develop with CSP enabled.

[2018-06-15 01:53] DDR0 commented on #460
Oh, I didn't think of that! That would be a great workaround here.

On Thu, Jun 14, 2018 at 5:06 PM, Camden Narzt <notifications@github.com>
wrote:

[2018-06-15 12:12] dreamZhf opened #1045 "npm run build:extension:chrome 报异常"
windows 下面，执行编译报错，如何解决?
![image](https://user-images.githubusercontent.com/10451531/41467281-7369bdd2-70d8-11e8-85d4-497ab2cda2fe.png)

[2018-06-18 01:49] pietrofxq commented on #191
@Venryx Thanks, your code worked for me!

[2018-06-18 04:12] nuintun opened #1049 "Devtools throw error when expand props under __proto__"
See screenshot:

![tim 20180618120359](https://user-images.githubusercontent.com/1730277/41517838-b6cb538c-72f0-11e8-9948-7e0d7d8060ff.png)
![tim 20180618120452](https://user-images.githubusercontent.com/1730277/41517841-ba793d28-72f0-11e8-943d-b657e19b43d3.png)

[2018-06-18 09:57] Alexander1984z opened #1050 "Всё хорошо"

[2018-06-18 16:15] CamJN commented on #460
@gaearon thoughts?

[2018-06-19 01:30] govindvuppu opened #1051 "react developer tool extension is not working"
extension is still not working after setting the Allow access to file URLs on

[2018-06-19 15:54] julienw commented on #460
I believe this defeats the purpose: because then the nonce would be fixed, and so any malicious script could use this known nonce to be accepted by the CSP policy.

The nonce needs to be unique for each request. I don't think we can use this technique here.

What _can_ be used though, is using the injected script's hash. Obviously the caveat is the hash can/will change with each version.

The only

[2018-06-19 16:03] CamJN commented on #460
Yeah the nonce couldn't be part of the prod CSP, but allowing one extra script in dev would let you catch any other problems with your CSP, instead of disabling it altogether.

Waiting on Mozilla to change that policy is a pretty hard pill to swallow given it could take an arbitrarily long amount of time, and could be rejected altogether under the policy of protecting the user from themselves. I'v

[2018-06-20 06:56] aino-gautam commented on #741
after trying all other options - this one worked as pointed out by @brancooo1

sudo npm install -g react-devtools --unsafe-perm=true

[2018-06-22 14:27] BlakeMSteel opened #1052 "React Dev Tools lack of support for .NET Core integration"
I'm using the project created by .NET Core's react template, steps below, which creates a project that integrates .NET Core with React, using React as the view (see Views/Home/Index.cshtml, who's only thing is a script main.js, which runs the react from the /ClientApp folder). It seems that when react is started this way, devtools does not seem to work. Is there a way I can fix this?
![image](http

[2018-06-22 15:08] BlakeMSteel commented on #1051
This is very general, please provide more detail, or you're unlikely to get your issue fixed.

[2018-06-22 15:30] #1052 closed

[2018-06-24 19:30] immunity20 opened #1053 "React-devtools shows outdated React version (16.4)"
I dont use props.type ( old or new)

I have installed props.type

there isn't anywhere in project React.createclass

[2018-06-24 20:25] vasilii-kovalev opened #1054 "Change value via state using React DevTools doesn't fire event handlers"
Hello. I apologize in advance for my English.
I faced such problem when using React DevTools.

There are two components:
[code]

[code]

When I click on the checkbox, event handler is called and `filter` method in the parent component works perfectly. When I change `checked` property via React DevTools (choosing `Parent` component and clicking checkbox near `checked` property in the __"State"__ se

[2018-06-25 06:48] ngyikp commented on #1053
Is there an example URL/repo to your project?

[2018-06-25 08:02] immunity20 commented on #1053
Found the solution/problem:

I dont use anywhere in the problem the PropTypes ( i have import the library)
since I didn't use React.PropTypes either

"class's Name".PropTypes = {
 ....
}

And now the dev tools shows React project is up to date.

[2018-06-25 10:11] ashsearle commented on #1039
I've seen the same, and think this is the minimum required to reproduce:

* Create an HTML file containing:
[code]

* Use "Open File..." in Chrome to open it using `file:///` protocol.
* Inspect page
* Switch to React tab

Observe 1 JavaScript error.  Switch to Console tab to view stack trace.

Serving the same file over http does not give any errors, just the "Waiting for roots to load..."  messa

[2018-06-25 10:13] ashsearle commented on #1051
@govindvuppu Do you see the error mentioned in #1039 ?

[2018-06-25 14:18] govindvuppu commented on #1051
Hi Blake and Ash thank you for getting back,
Yes it is a general fix which I found after restarting the react Dev tools extension by removing and adding the extension followed by restarting the browser.

Thank you

[2018-06-25 14:18] #1051 closed

[2018-06-25 20:59] nicolasxu-bg opened #1055 "Can npm -g installl"
nick@nick:/usr/lib$ sudo npm install -g react-devtools
/usr/bin/react-devtools -> /usr/lib/node_modules/react-devtools/bin.js

module.js:549
    throw err;
    ^

Error: Cannot find module '/usr/lib/node_modules/react-devtools/node_modules/electron/install.js'
    at Function.Module._resolveFilename (module.js:547:15)
    at Function.Module._load (module.js:474:25)
    at Function.Module.runMain (

[2018-06-26 13:45] LuisGonzaga commented on #1039
Well I believe that this is a conflict with other Extensions.
In my particular case I've disabled Ember Inspector, Ghost Text, "Screenshot, Annotate, & Screen Video Recorder..." plus "Sencha & Ext.js" ... and it started to work.

[2018-06-26 17:23] ashsearle commented on #1039
@LuisGonzaga I still see the same error even if I disable all other extensions.

Is it working when loading something as a local `file:///` URL, or are you accessing stuff via `http://` now?

[2018-06-26 19:32] lukebrandonfarrell commented on #1055
Having the same problem. This seems to work though:

`sudo npm install -g react-devtools --unsafe-perm=true`

[2018-06-27 12:12] LuisGonzaga commented on #1039
At this stage everything in the project is local. Restarting the browser or the PC may help to validate your changes.

[2018-06-28 16:03] davidwkeith opened #1056 "Add support for running devtools hook code through Babel"
Currently we are supporting a NW.js application that is pegged at version 0.12.3 to support a NPAPI plugin. That means we are running in Chromium 41. We can't use the React Dev Tools standalone app because the hook code uses ECMAScript features that are not supported on such an old browser.

I think the cleanest solution would be to put a hook in the code server to allow this, that way we could em

[2018-06-28 21:28] jaller94 opened #1057 "Console error on Firefox "about:*" pages"
1. Install the React Dev Tools in Firefox.
2. Open the Console tab in the Dev Inspector.
3. On Urls like about:neterror or about:addons a console error appears.

`The extension "React Developer Tools" is not allowed to access about:neterror`

For me it would be ok, if the React Dev Tools are inaccessible on about:* pages.

[2018-06-29 14:44] fidellakis commented on #596
Another workaround worth mentioned is using the select React component feature (target icon) under the React tab. This will automatically uncollapse all parent React elements.

[2018-06-30 10:19] joetidee opened #1059 "Feature: List component updated and the number of updates."
Hello, I was wondering if the tools could include an additional feature. Currently there is a 'highlight updated' feature and thought it would be great to extend this a little to add a 'list updates' feature. For example, when enabled and when you make interactions in the browser, it will display the name of the component with the number of prop updates and state updates:

| Component Name

[2018-06-30 13:58] michaelleone commented on #596
It seems to me that persisting the tree on reload (at least when the component hierarchy has not changed) should be the default behaviour. Is there an actual reason (common use case?) why this is not the case or is it simply the default behaviour (an oversight?) from day 1 that has now become too difficult/time consuming to fix?

@fidellakis - unfortunately the above only works where components ar

[2018-07-03 09:31] Bagera commented on #1017
Same happens to me on standard Firefox 61.0.
It only happens if dev tools is in the narrow layout where props is under the breadcrumbs.
If it is wide and props has it's own column it works fine.

[2018-07-03 19:57] neptunian commented on #868
i also have this issue.  it still says 'read only" props and they can't be modified.

[2018-07-04 07:59] oneroundseven commented on #1032
same problem
Android 6.0.

[2018-07-08 01:52] #900 closed

[2018-07-09 18:18] hertzebogdan commented on #938
try rm package-lock.json

[2018-07-10 06:46] lilin666 commented on #938
@hertzebogdan Thank you all the same

[2018-07-10 06:46] #938 closed

[2018-07-13 07:50] scriptfoundry commented on #988
I came across this same problem specifically with the Context API and have a test case of sorts (https://codesandbox.io/s/504qzw02nl). I see that *any* child of a `Provider` gets highlighted, except `PureComponents`, which never do (even when their contents mutate). First, (since I may be an idiot here), Dan @gaearon,   am I doing this right? Second, does this indicate that highlighting doesn't re

[2018-07-14 20:05] SparkleFaerieCoder commented on #982
Anyone come up with a solution for this?

[2018-07-17 01:27] #1041 closed, assigned to nobody

[2018-07-17 01:43] #1053 closed

[2018-07-17 01:43] gaearon commented on #1057
Seems like something you should report to Firefox?

[2018-07-17 01:44] gaearon commented on #1028
Please see this:

https://github.com/facebook/react-devtools#the-react-tab-doesnt-show-up

[2018-07-17 01:44] #1028 closed

[2018-07-17 01:44] #1040 closed

[2018-07-17 01:44] #1035 closed

[2018-07-17 01:44] gaearon commented on #1035
It was, thanks

[2018-07-17 02:30] #1039 closed

[2018-07-17 10:29] gaearon opened #1062 "Add some error boundaries"
We just switched to React 16 so we need to add some error boundaries to the DevTools.

I'm thinking each pane should have at least one boundary, and ideally the boundaries themselves would let you copy the error message and post it as an issue here.

[2018-07-19 00:41] barretthafner commented on #996
Setting the `PORT` environment variable (tested in macOS 10.13.5) seems to make react-devtools use that port specified instead of the default (8097).

[2018-07-19 00:53] barretthafner opened #1064 "Having PORT environment variable set causes react-devtools to use that value"
I was running in circles trying to figure out why react-devtools was not connecting to a brand new [create-react-native-app](https://github.com/react-community/create-react-native-app) build in my environment, but was connecting for my colleague.  Turns out I had the `PORT` environment variable set, which causes react-devtools to try to connect on that port (8080) rather than the default (8097).

[2018-07-19 16:04] renzulei opened #1065 "npm run build:extension:chrome 报错"
$ npm run build:extension:chrome

E:\PACKAGES\react-tools\react-devtools\shells\chrome\build.js:13
const main = async () => {
                   ^

SyntaxError: Unexpected token (
    at createScript (vm.js:56:10)
    at Object.runInThisContext (vm.js:97:10)
    at Module._compile (module.js:542:28)
    at Object.Module._extensions..js (module.js:579:10)
    at Module.load (module.js:487:32)
    a

[2018-07-19 16:09] renzulei commented on #1065
my problem. I did  not "npm install"

[2018-07-19 23:20] jaller94 commented on #1057
Thanks for looking into this.
I don’t have a strong opinion yet which project is responsible. 🤷‍♂️

https://bugzilla.mozilla.org/show_bug.cgi?id=1477112

[2018-07-20 00:00] gaearon commented on #1057
No prob, thanks for reporting.

[2018-07-23 02:48] ngyikp commented on #1065
Update Node.js to version 8+

[2018-07-24 03:21] Avolition opened #1066 "React-DevTools locks / freezes Chrome Canary dev tools"
Hi Team,

OS: macOS HS 10.13.6
Browser: Chrome Canary 70.0.3500.0

Since updating to Chrome Canary 70 I've experienced issues with the dev console freezing. After un-installing react-devtools the issue is no longer present, but is re-produced upon re-install.

[Please see a video clip of the issue on cloudinary => HERE](https://res.cloudinary.com/avolition/video/upload/v1532401973/Misc/ReactDevToo

[2018-07-25 01:19] Avolition commented on #1066
Turned out to be a Chrome issue, that became more pronounced with R devtools

[2018-07-25 01:19] #1066 closed

[2018-07-26 08:18] OrDuan commented on #992
Big pain point for me too.
Just opened a [PR](https://github.com/facebook/react-devtools/pull/1067)

[2018-07-26 16:51] ulrichb commented on #814
@sumnerevans Still CLA signing? 😄

[2018-07-27 09:26] krabbypattified opened #1068 "Doesn't detect React App in Shadow DOM"
React DevTools doesn't detect an app inside a shadow root. Is this intended?

[code]

[2018-07-27 18:54] sumnerevans commented on #814
@ulrichb I am no longer at Kenzan (it was just an internship).

[2018-07-27 19:30] lassombra commented on #1009
I'm having the same issue now with Version 67.0.3396.99 (Official Build) (64-bit) plugin version 3.2.4

[2018-07-27 19:33] edwardchase commented on #603
i had the same problem.   it didn't show up, but i ran my react app then opened the dev tools and there it was.  i think the website you're currently on needs to be using REACT for the REACT dev tool option to be available

[2018-07-30 13:37] ravshansbox commented on #267
I could fix the problem in typescript project by setting `module` flag to `es2015` and relying on webpacks native support for es modules. You have to set `moduleResolution` to `node` as well.

[2018-07-30 18:26] herodrigues commented on #1068
I guess you have to use the standalone app

https://github.com/facebook/react-devtools/tree/master/packages/react-devtools

[2018-07-31 11:25] krabbypattified commented on #1068
Ok :\ That's unfortunate. It would be nice to detect this if at all possible. An open shadow root should be accessible to javascript anywhere on the page.

[2018-08-02 14:44] wintercounter opened #1070 "Add react-devtools only as dev dependency"
I'm compiling electron at every install for no reason.

[2018-08-02 14:45] wintercounter commented on #1070
Not here xD

[2018-08-02 14:45] #1070 closed

[2018-08-02 23:27] chris-divvito commented on #1032
Same issue here, I tracked it as far as the UIViewOperationQueue class before I stopped being able to follow the logic.

in `react-native/ReactAndroid/src/main/java/com/facebook/react/uimanager/UIViewOperationQueue.java`, in the inner class `FindTargetForTouchOperation`, in it's execute method, it's hitting one of the two try-catch blocks and running `mCallback.invoke();`. Because the callback is

[2018-08-03 17:35] Farbod29 opened #1071 "cannot run stand alone dev tool"
I install the **react-devtools** package globally:

but I cannot run it with command `react-devtools` I tried with ` npm run react-devtools` also.
afer installation I have not folder with name of DevTool on my Mac system. maybe need to integrate in my package.jason !!"

[2018-08-06 06:55] navruzeraliev opened #1073 "React js"

[2018-08-06 06:59] navruzeraliev opened #1074 "react js // не обнаруживает createClass, в консоле ошибка?"
не обнаруживает createClass, в консоле ошибка?

[2018-08-06 07:09] navruzeraliev opened #1075 "Uncaught TypeError: React.createClass is not a function"

[2018-08-06 14:32] ngyikp commented on #1071
Installing react-devtools globally is working fine on my macOS 10.13.6, we'll need to know the exact terminal commands that you entered to figure out what's going on

[code]

Also try reading https://github.com/facebook/react-devtools/blob/master/packages/react-devtools/README.md

[2018-08-06 14:43] #1073 closed

[2018-08-06 14:43] bvaughn commented on #1074
Duplicate of #1075

[2018-08-06 14:43] #1074 closed

[2018-08-06 14:45] bvaughn commented on #1075
Not enough error to really help with this issue, but it doesn't seem related to React DevTools. I assume you're seeing this in the console after updating React. `createReactClass` was moved to a separate package some time ago, [create-react-class](https://www.npmjs.com/package/create-react-class). This should be [mentioned in the docs](https://reactjs.org/docs/react-without-es6.html)

You'll just

[2018-08-06 14:45] #1075 closed

[2018-08-06 14:46] bvaughn commented on #1065
Seems like you're using an older version of Node and the solution is to update, as @ngyikp says. 😄 Going to close this!

[2018-08-06 14:46] #1065 closed

[2018-08-06 14:50] bvaughn commented on #1071
`npm run react-devtools` won't work unless you run it within a directory that contains a `package.json` that has a script entry named "react-devtools".

You should be able to run just `react-devtools` though, if you've globally installed it:
[code]

If you're not able to, please provide more info about the exact commands and errors you're seeing. Also please include your OS and Node versions.

Goi

[2018-08-06 14:50] #1071 closed

[2018-08-06 14:53] bvaughn opened #1076 "Provide a way to filter types of components from the Elements tree view"
Based on some user recent feedback I gathered [via Twitter](https://twitter.com/brian_d_vaughn/status/1025776259056336897), one common request is some sort of method of filtering elements from the tree to make it less noisy.

Some people have mentioned using a string/regex to filter, and that could work for hiding e.g. HOCs– but I'm picturing a panel that shows all of the types of elements (e.g. h

[2018-08-06 14:55] bvaughn opened #1077 "Remember more settings between sessions"
Based on some user recent feedback I gathered [via Twitter](https://twitter.com/brian_d_vaughn/status/1025776259056336897), one common request is that more settings should be persisted between page loads.

In the past, only the selected "theme" has been persisted. PR #1069 adds a new `utils/storage` helper that it uses to also remember some Profiler plug-in settings.

We should expand on this appr

[2018-08-06 14:59] bvaughn opened #1078 "Show how many times an element has been rendered in the props panel"
Based on some user recent feedback I gathered [via Twitter](https://twitter.com/brian_d_vaughn/status/1025776259056336897), one common request is to make it more obvious how many times a given node has rendered. The "highlight updates" feature is useful but doesn't stick around long enough.

Maybe we could display the `renders` count for a node in the props panel along with `props` and `state`?

[2018-08-06 15:01] bvaughn opened #1079 "Make Elements panel feel less cluttered"
Based on some user recent feedback I gathered [via Twitter](https://twitter.com/brian_d_vaughn/status/1025776259056336897), one piece of common feedback is that the Elements panel feels too noisy/cluttered/crowded.

Ritesh [points out a few possible causes for this](https://twitter.com/ritz078/status/1026164993614524416) including "line height" and too many props. I personally agree with the props

[2018-08-06 15:03] bvaughn opened #1080 "Make DevTools run faster"
Based on some user recent feedback I gathered [via Twitter](https://twitter.com/brian_d_vaughn/status/1025776259056336897), one common sentiment is that DevTools are too slow.

We might be able to speed them up somewhat by reducing the amount of info displayed (#1079). We might also try replacing our current tree view with something built on top of e.g. [react-window](https://github.com/bvaughn/re

[2018-08-06 15:06] bvaughn opened #1081 "Right click on element and "view as root""
Based on some user recent feedback I gathered [via Twitter](https://twitter.com/brian_d_vaughn/status/1025776259056336897), one commonly requested feature was the ability to filter the elements panel so that really deep trees were easier to explore. The idea of right clicking and pinning an instance as a "root" was mentioned a few times.

Perhaps such a setting could even be persisted between relo

[2018-08-06 15:40] markerikson commented on #1076
Yep, definitely!  Prior existing issues:  #503, #604, #864, #997, and #1001 .